
    <div class="shop-item-wrapper shop-grid product-list">
        <div class="row">
            {% for product in page_obj %}
            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                    <div class="product-img">
                        <span class="type">Trending</span>
                        <a href="{% url 'shop:single' slug=product.slug %}">
                            {% if product.image_1 %}
                            <img src="{{ product.image_1.url }}" alt="{{ product.name }}"
                                id="product-image">
                            {% else %}
                            no image
                            {% endif %}
                        </a>
                        <div class="product-action-wrap">
                            <div class="product-action">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                    data-tooltip="tooltip" title="Quick View"><i class="far fa-eye"></i></a>
                                <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i
                                        class="far fa-heart"></i></a>
                                <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                        class="far fa-arrows-repeat"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a></h3>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                <span class="current-product-price">{{ product.customer_price}}</span><span>Php</span>
                            </div>
                            <button data-product="{{ product.id }}" data-action="add" type="button"
                                class="product-cart-btn add-to-cart-btn update-cart">
                                <i class="far fa-shopping-bag"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    