{% load static %}
{% load custom_filters %}

<div class="shop-item-wrapper item-list shop-list product-list">
    <div class="row">
        {% if products %}
        <!-- dont show anything -->
        {% else %}
        <p>No products found.</p>
        {% endif %}
        {% for product in page_obj %}
        <div class="col-md-12">
            <div class="product-item">
                <div class="product-img">
                    <span class="type">Trending</span>
                    {% if product.image_1 %}
                        <img src="{{ product.image_1.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'img\product\default-product-image.png' %}" alt="{{ product.name }}"
                                id="product-image">
                    {% endif %}
                    <div class="product-action-wrap">
                        <div class="product-action">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                data-tooltip="tooltip" title="Quick View"><i class="far fa-eye"></i></a>
                            <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i
                                    class="far fa-heart"></i></a>
                            <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                    class="far fa-arrows-repeat"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-content">
                    <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a></h3>
                    <div class="product-rate" data-product-id="{{ product.id }}">
                        {% if user_rating %}
                            {% for i in 1|to:6 %}
                                {% if i <= user_rating %}
                                    <i class="fas fa-star" data-index="{{ forloop.counter }}"></i>
                                {% else %}
                                    <i class="far fa-star" data-index="{{ forloop.counter }}"></i>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for i in 1|to:6 %}
                                {% if i <= product.aggregate_rating %}
                                    <i class="fas fa-star" data-index="{{ forloop.counter }}"></i>
                                {% else %}
                                    <i class="far fa-star" data-index="{{ forloop.counter }}"></i>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p>{{ product.description_1 }}</p>
                    <div class="product-bottom">
                        <div class="product-price">
                            <span>₱ {{ product.customer_price }}</span>
                        </div>
                        {% if product.id in products_in_cart %}
                            <button type="button" class="btn btn-secondary item-id-{{ product.id }}" style="padding: 9px 20px!important;" disabled>Added to Cart</button>
                        {% else %}
                            <button data-product="{{ product.id }}" data-action="add" type="button"
                                class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                onclick="addToCart(this)">Add to Cart
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>