{% load static %}

    <div class="shop-item-wrapper shop-grid product-list">
        <div class="row">
            {% for product in page_obj %}
            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                    <div class="product-img">
                        <span class="type">Trending</span>
                        <a href="{% url 'shop:single' slug=product.slug %}">
                            {% if product.image_1 %}
                            <img src="{{ product.image_1.url }}" alt="{{ product.name }}"
                                id="product-image">
                            {% else %}
                            <img src="{% static 'img\product\default-product-image.png' %}" alt="{{ product.name }}"
                                id="product-image">
                            {% endif %}
                        </a>
                        <div class="product-action-wrap">
                            <div class="product-action">
                                <a href="#" class="quickview-btn"
                                    data-product-id="{{ product.id }}"
                                    data-product-name="{{ product.name }}"
                                    {% if product.image_1 %}
                                        data-product-image="{{ product.image_1.url }}"
                                    {% else %}
                                        data-product-image="{% static 'img/product/default_product_image.png' %}"
                                    {% endif %}
                                    data-product-price="{{ product.customer_price }}"
                                    data-product-shop="{{ product.category_1|title }}"
                                    data-product-category="{{ product.category_2|title }}"
                                    data-product-sku="{{ product.sku }}"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#quickview"
                                    {% if product.id in products_in_cart %}
                                        data-button="btn btn-secondary item-id-{{ product.id }}"
                                        data-text="Added To Cart"
                                    {% else %}
                                        data-button="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                        data-action="add"
                                        data-text="Add To Cart"
                                    {% endif %}>
                                    <i class="far fa-eye"></i>
                                </a>

                                <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i
                                        class="far fa-heart"></i></a>
                                <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                        class="far fa-arrows-repeat"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title" style="height: 40px;"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a></h3>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                <span class="current-product-price">₱ {{ product.customer_price}}</span>
                            </div>
                            {% if product.id in products_in_cart %}
                            <button  type="button" class="btn btn-secondary item-id-{{ product.id }}" style="padding: 9px 20px!important;" disabled>Added to Cart</button>
                            {% else %}
                            <button data-product="{{ product.id }}" data-action="add" type="button"
                                class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                onclick="addToCart(this)">Add to Cart
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    