{% extends "base-shop.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- shop-area -->
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-widget">
                        <div class="shop-search-form">
                            <h4 class="shop-widget-title">Search</h4>
                            <form method="get" action="{% url 'shop:search' %}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" placeholder="Search">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Shops</h4>
                        <ul class="shop-category-list category-1">
                            <li><a href="{% url 'shop:shop' %}?category_id=all" data-category-id="all"
                                    onclick="showSubcategories('all')">All</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante" data-category-id="sante"
                                    onclick="showSubcategories('sante')">Sante International</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=chingu" data-category-id="chingu"
                                    onclick="showSubcategories('chingu')">Chingu</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=mood" data-category-id="mood"
                                    onclick="showSubcategories('mood')">Mood Timepieces</a></li>
                            {% if user.is_admin %}
                            <li><a href="{% url 'shop:promo' %}">Promo Bundles</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="shop-widget" id="product-categories">
                        <h4 class="shop-widget-title">Category</h4>
                        <ul class="shop-category-list category-2">
                            {% for subcategory, count in subcategory_counts.items %}
                            <li>
                                <a href="{% url 'shop:shop' %}?category_id={{ subcategory }}"
                                    data-category-id="{{ subcategory }}">
                                    {{ subcategory|replace_underscore_to_space|title }} <span>({{ count }})</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- <div class="shop-widget">
                        <h4 class="shop-widget-title">Price Range Filter</h4>
                        <div class="price-range-box">
                            <div class="price-range-input">
                                <input type="text" id="price-amount" readonly>
                            </div>
                            <div class="price-range"></div>
                        </div>
                    </div> -->
                    <!-- <div class="shop-widget">
                        <h4 class="shop-widget-title">Sales</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale1">
                                    <label class="form-check-label" for="sale1">On Sale</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale2">
                                    <label class="form-check-label" for="sale2">In Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale3">
                                    <label class="form-check-label" for="sale3">Out Of Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale4">
                                    <label class="form-check-label" for="sale4">Discount</label>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="shop-widget">
                        <h4 class="shop-widget-title">Ratings</h4>
                        <ul class="shop-checkbox-list rating">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate1">
                                    <label class="form-check-label" for="rate1">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate2">
                                    <label class="form-check-label" for="rate2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate3">
                                    <label class="form-check-label" for="rate3">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate4">
                                    <label class="form-check-label" for="rate4">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate5">
                                    <label class="form-check-label" for="rate5">
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="shop-widget">
                        <h4 class="shop-widget-title">Sizes</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size1">
                                    <label class="form-check-label" for="size1">Extra Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size2">
                                    <label class="form-check-label" for="size2">Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size3">
                                    <label class="form-check-label" for="size3">Medium</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size4">
                                    <label class="form-check-label" for="size4">Large</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size5">
                                    <label class="form-check-label" for="size5">Extra Large</label>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">
                            <div class="shop-sorty-label">Sort By:</div>
                            <select class="select">
                                <option value="1">Default Sorting</option>
                                <option value="5">Latest Items</option>
                                <option value="2">Best Seller Items</option>
                                <option value="3">Price - Low To High</option>
                                <option value="4">Price - High To Low</option>
                            </select>
                            <div class="shop-sort-show">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of
                                {{ page_obj.paginator.count }} Results</div>
                        </div>
                        <div class="shop-sort-gl">
                            <button id="gridBtn" class="shop-sort-grid active"><i
                                    class="far fa-grid-round-2"></i></button>
                            <button id="listBtn" class="shop-sort-list"><i class="far fa-list-ul"></i></button>
                        </div>
                    </div>
                </div>
                {% if products.exists %}
                <div id="products-grid">
                    {% include 'shop/products_grid.html' %}
                </div>
                <div id="products-list">
                    {% include 'shop/products_list.html' %}
                </div>
                {% else %}
                <p>No products found.</p>
                {% endif %}
                <!-- pagination -->
                <div class="pagination">
                    {% include 'shop/pagination.html' %}
                </div>
                <!-- pagination end -->
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shop.js' %}"></script>
<script>
    function saveScrollPosition() {
        sessionStorage.setItem('shopScrollPosition', $(window).scrollTop());
    }
    function restoreScrollPosition() {
        var scrollPosition = sessionStorage.getItem('shopScrollPosition');
        if (scrollPosition !== null) {
            $(window).scrollTop(parseInt(scrollPosition));
        }
    } 
    $(window).on('beforeunload', saveScrollPosition);
    $(window).on('load', restoreScrollPosition);
</script>
<script>
    $(document).ready(function () {
        $('.quickview-btn').on('click', function () {
            var productId = $(this).data('product-id');
            var productName = $(this).data('product-name');
            var productImage = $(this).data('product-image');
            var productPrice = $(this).data('product-price');
            var productShop = $(this).data('product-shop');
            var productCategory = $(this).data('product-category');
            var productSku = $(this).data('product-sku');
            var productBtnClass = $(this).data('button');
            var productBtnAction = $(this).data('action');
            var productBtnText = $(this).data('text');

            $('#quickview .modal-title').text(productName);
            $('#quickview .product-img').attr('src', productImage);
            $('#quickview .quickview-title').text(productName);
            $('#quickview .quickview-price').html('<span>₱' + productPrice + '</span>');
            $('#quickview .quickview-list .modal-shop').text(productShop);
            $('#quickview .quickview-list .modal-category').text(productCategory);
            $('#quickview .quickview-list .modal-sku').text(productSku);
            $('.quickview-cart .modal-btn')
                .removeAttr('class')
                .addClass('modal-btn')
                .addClass(productBtnClass)
                .text(productBtnText)
                .attr('data-product', productId)
                .attr('data-action', productBtnAction);
        });
    });
</script>


{% endblock %}