{% extends "base-shop.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

        <!-- shop single -->
        <div class="shop-single py-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-6 col-xxl-5">
                        <div class="shop-single-gallery">
                                                        <div class="flexslider-thumbnails">
                                <ul class="slides">
                                    {% if product.image_1 %}
                                        <li data-thumb="{{ product.image_1.url }}">
                                            <img src="{{ product.image_1.url }}" alt="{{ product.name }}">
                                        </li>
                                    {% endif %}
                                    {% if product.image_2 %}
                                        <li data-thumb="{{ product.image_2.url }}">
                                            <img src="{{ product.image_2.url }}" alt="{{ product.name }}">
                                        </li>
                                    {% endif %}
                                    {% if product.image_3 %}
                                        <li data-thumb="{{ product.image_3.url }}">
                                            <img src="{{ product.image_3.url }}" alt="{{ product.name }}">
                                        </li>
                                    {% endif %}
                                    {% if product.image_4 %}
                                        <li data-thumb="{{ product.image_4.url }}">
                                            <img src="{{ product.image_4.url }}" alt="{{ product.name }}">
                                        </li>
                                    {% endif %}
                                    {% if product.image_5 %}
                                        <li data-thumb="{{ product.image_5.url }}">
                                            <img src="{{ product.image_5.url }}" alt="{{ product.name }}">
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xxl-6">
                        <div class="shop-single-info">
                            <h4 class="shop-single-title">{{ product.name }}</h4>
                            <div class="shop-single-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i>
                                <span class="rating-count"> (4 Customer Reviews)</span>
                            </div>
                            <div class="shop-single-price">
                                <!-- <del>{{ product.discount_price }}</del> -->
                                <span class="amount">₱ {{ product.customer_price }}</span>
                                <!-- <span class="discount-percentage">10% Off</span> -->
                            </div>
                            <p class="mb-3">
                                {{ product.description_1 }}
                            </p>
                            <div class="shop-single-cs">
                                <div class="row">
                                    <div class="col-md-3 col-lg-4 col-xl-3">
                                        <div class="shop-single-size">
                                            <h6>Quantity</h6>
                                            <div class="shop-cart-qty">
                                                <button class="minus-btn"><i class="fal fa-minus"></i></button>
                                                <input id="quantity-input-{{ product.id }}" class="quantity" type="text" value="{{ item.quantity|default:1 }}">
                                                <button class="plus-btn"><i class="fal fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    {% if product.category_1 != 'sante' %}
                                    <div class="col-md-3 col-lg-4 col-xl-3">
                                        <div class="shop-single-size">
                                            <h6>Size</h6>
                                           <select class="select">
                                                <option value="">Choose Size</option>
                                                <option value="1">Extra Small</option>
                                                <option value="2">Small</option>
                                                <option value="3">Medium</option>
                                                <option value="4">Extra Large</option>
                                           </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="shop-single-color">
                                            <h6>Color</h6>
                                            <ul class="shop-checkbox-list color">
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="color1">
                                                        <label class="form-check-label" for="color1"><span style="background-color: #606ddd"></span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="color2">
                                                        <label class="form-check-label" for="color2"><span style="background-color: #4caf50"></span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="color3">
                                                        <label class="form-check-label" for="color3"><span style="background-color: #17a2b8"></span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="color4">
                                                        <label class="form-check-label" for="color4"><span style="background-color: #ffc107"></span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="color5">
                                                        <label class="form-check-label" for="color5"><span style="background-color: #f44336"></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="shop-single-sortinfo mt-20">
                                <ul>
                                    <li><h6 class="amount">Shop: <span class="amount">{{ product.get_category_1_display }}</span></h6></li>
                                    <li>Stock: <span>Available</span></li>
                                    <li>SKU: <span>{{ product.sku }}</span></li>
                                    <li>Category: <span>{{ product.get_category_2_display }}</span></li>
                                    <!-- <li>Sold By: <a href="#">Fast Shop</a></li>
                                    <li>Tags: <a href="#">Headphone</a>,<a href="#">Bluetooth</a>,<a href="#">Modern</a>,<a href="#">Shop</a></li> -->
                                </ul>
                            </div>
                            <div class="shop-single-action">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="shop-single-btn">
                                            {% if product.id in products_in_cart %}
                                                <button  type="button" class="btn btn-secondary" disabled>Added to Cart</button>
                                            {% else %}
                                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                                    class="btn theme-btn add-to-cart-btn update-cart"
                                                    onclick="addToCart(this)">Add to Cart
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-12 col-xl-6">
                                        <div class="shop-single-share">
                                            <span>Share:</span>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- shop single details -->
                <div class="shop-single-details">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                type="button" role="tab" aria-controls="tab1" aria-selected="true">Description</button>
                            
                            <!-- Features -->
                            {% if product.advantage %}
                            <button class="nav-link" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#tab2"
                                type="button" role="tab" aria-controls="tab2" aria-selected="false">Features
                            </button>
                            {% endif %}
                            
                            <!-- Advantages -->
                            {% if product.advantage %}
                            <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                type="button" role="tab" aria-controls="tab3" aria-selected="false">Advantages
                            </button>
                            {% endif %}

                            <!-- Benfits -->
                            {% if product.benefit %}
                            <button class="nav-link" id="nav-tab4" data-bs-toggle="tab" data-bs-target="#tab4"
                            type="button" role="tab" aria-controls="tab4" aria-selected="false">Benefits
                            </button>
                            {% endif %}

                            <!-- Specifications -->
                            {% if product.specification %}
                            <button class="nav-link" id="nav-tab5" data-bs-toggle="tab" data-bs-target="#tab5"
                            type="button" role="tab" aria-controls="tab5" aria-selected="false">Specifications
                            </button>
                            {% endif %}
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                            <div class="shop-single-desc">
                                <p>
                                    {{ product.description_2 }}
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                            <div class="shop-single-additional">
                                <p>
                                    {{ product.feature }}
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                            <div class="shop-single-review">
                                <div class="blog-comments">
                                    <!-- <h5>Advantages</h5> -->
                                    <p>{{ product.advantage }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="nav-tab4">
                            <div class="shop-single-review">
                                <div class="blog-comments">
                                    <!-- <h5>Benefits</h5> -->
                                    <p>{{ product.benefit }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="nav-tab5">
                            <div class="shop-single-review">
                                <div class="blog-comments">
                                    <p>{{ product.specification|linebreaks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shop single details end -->

                <!-- related item -->
                <div class="product-area related-item mt-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="site-heading-inline">
                                    <h2 class="site-title">Related Items</h2>
                                    <a href="{% url 'shop:shop' %}?category_id={{ product.category_1 }}">View More <i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for related_product in related_products %}
                            <div class="col-md-6 col-lg-3">
                                <div class="product-item">
                                    <div class="product-img">
                                        <span class="type new">New</span>
                                        <a href="{% url 'shop:single' slug=related_product.slug %}">
                                            {% if related_product.image_1 %}
                                            <img src="{{ related_product.image_1.url }}" alt="{{ related_product.name }}"
                                                id="product-image">
                                            {% else %}
                                            no image
                                            {% endif %}
                                        </a>
                                        <div class="product-action-wrap">
                                            <div class="product-action">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-tooltip="tooltip" title="Quick View"><i class="far fa-eye"></i></a>
                                                <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                                <a href="#" data-tooltip="tooltip" title="Add To Compare"><i class="far fa-arrows-repeat"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="{% url 'shop:single' slug=related_product.slug %}">{{related_product.name }}</a></h3>
                                        <div class="product-rate">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="product-bottom">
                                            <div class="product-price">
                                                <span class="current-product-price">₱ {{ related_product.customer_price}}</span>
                                            </div>
                                            {% if product.id in products_in_cart %}
                                                <button  type="button" class="btn btn-secondary" disabled>Added to Cart</button>
                                            {% else %}
                                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                                    class="btn theme-btn add-to-cart-btn update-cart"
                                                    onclick="addToCart(this)">Add to Cart
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- related item end -->
            </div>
        </div>
        <!-- shop single end -->

{% endblock %}
{% block js %}

{% endblock %}