{% extends "base-shop.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- shop-area -->
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-widget">
                        <div class="shop-search-form">
                            <h4 class="shop-widget-title">Search</h4>
                            <form method="get" action="{% url 'shop:search' %}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" placeholder="Search">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Shops</h4>
                        <ul class="shop-category-list category-1">
                            <li><a href="{% url 'shop:shop' %}?category_id=all" data-category-id="all"
                                    onclick="showSubcategories('all')">All</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante" data-category-id="sante"
                                    onclick="showSubcategories('sante')">Sante International</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=chingu" data-category-id="chingu"
                                    onclick="showSubcategories('chingu')">Chingu</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=mood" data-category-id="mood"
                                    onclick="showSubcategories('mood')">Mood Timepieces</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'shop:promo' %}">Promo Bundles</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">
                            <div class="shop-sorty-label">Sort By:</div>
                            <select class="select">
                                <option value="1">Default Sorting</option>
                                <option value="5">Latest Items</option>
                                <option value="2">Best Seller Items</option>
                                <option value="3">Price - Low To High</option>
                                <option value="4">Price - High To Low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="shop-item-wrapper shop-grid product-list">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type">Trending</span>
                                    <a href="{{ MAIN_SITE_URL}}/funnel/barley-for-cancer/?username={{ user.username }}">
                                        {% if product.image_1 %}
                                        <img src="{{ product.image_1.url }}" alt="{{ product.name }}"
                                            id="product-image">
                                        {% else %}
                                        <img src="{% static 'img\product\promos\barley\barley-promo-1.png' %}"
                                            alt="promo 1" id="product-image">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title" style="height: 40px;"><a
                                            href="{{ MAIN_SITE_URL}}/funnel/barley-for-cancer/?username={{ user.username }}">Barley
                                            Promo 1{{product.name }}</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="current-product-price">₱2,199.00</span>
                                        </div>
                                        {% if promo1 in products_in_cart %}
                                        <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                            style="padding: 9px 20px!important;" disabled>Added to Cart</button>
                                        {% else %}
                                        <button class="btn theme-btn add-to-cart-btn"
                                            data-promo="promo1" data-price="2199"
                                            data-quantity="2" data-discount="111"
                                            data-auth="{{user.is_authenticated}}"
                                            data-source="shop"
                                            type="button" 
                                            onclick="checkout(this, 'promo1')">Add to Cart
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shop.js' %}"></script>
<script>
    function sweetAlertShowLoading(text=""){
        let html_display = ''+
            '<div style="text-align: center">' +
                '<div class="loader-wrapper d-flex justify-content-center align-items-center mx-auto">' +
                    '<div class="loader">' +
                        '<div class="spinner-border">' +
                            '<div></div>' +
                            '<div></div>' +
                            '<div></div>' +
                            '<div></div>' +
                            '<div></div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<h3>Please Wait...</h3>' +
                '<span class="mb-3" style="text-align: center!important;">'+ text +'</span>' +
            '</div>';
        Swal.fire({
            allowOutsideClick: false,
            showConfirmButton: false,
            customClass: {
                container: 'sweetalert-loading-container'
            },
            html: html_display
        });
    }
    function sweetAlertShowSuccess(text=""){
        let html_display = '' +
            '<div style="text-align: center">' +
                '<span class="mb-3" style="text-align: center!important;">'+ text +'</span>' +
            '</div>';
        
        Swal.fire({
            title: "Request Processed Successfully.",
            icon: "success",
            allowOutsideClick: false,
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            html: html_display
        });
    }
</script>
<script src="{% static 'funnel/products/js/sales-funnel.js' %}"></script>
<script>
    const createOrder = "{% url 'create_order' %}"
    const updateItem = "{% url 'cart:update_item' %}"
    const bundleCheckout = "{% url 'cart:bundle_checkout' %}"
</script>
{% endblock %}