{% extends "base-shop.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- shop-area -->
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-widget">
                        <div class="shop-search-form">
                            <h4 class="shop-widget-title">Search</h4>
                            <form method="get" action="{% url 'shop:search' %}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" placeholder="Search">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Category</h4>
                        <ul class="shop-category-list category-1">
                            <li><a href="{% url 'shop:shop' %}?category_id=all" data-category-id="all" onclick="showSubcategories('all')">All</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante" data-category-id="sante" onclick="showSubcategories('sante')">Sante International</a></li>
                                <li><a href="{% url 'shop:shop' %}?category_id=chingu" data-category-id="chingu" onclick="showSubcategories('chingu')">Chingu</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=mood" data-category-id="mood" onclick="showSubcategories('mood')">Mood Timepieces</a></li>
                        </ul>
                    </div>
                    <div class="shop-widget" id="subcategory-sante" style="display: none;">
                        <h4 class="shop-widget-title">Subcategory</h4>
                        <ul class="shop-category-list category-2">
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-nutraceutical" 
                                data-category-id="sante-nutraceutical">Sante Nutraceutical<span>({{ subcategory_counts.sante_nutraceutical }})</span></a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-beverage" 
                                data-category-id="sante-beverage">Sante Beverages<span>({{ subcategory_counts.sante_beverage }})</span></a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-intimate_care" 
                                data-category-id="sante-intimate_care">Sante Intimate Care<span>({{ subcategory_counts.sante_intimate_care }})</span></a></li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Price Range Filter</h4>
                        <div class="price-range-box">
                            <div class="price-range-input">
                                <input type="text" id="price-amount" readonly>
                            </div>
                            <div class="price-range"></div>
                        </div>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Sales</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale1">
                                    <label class="form-check-label" for="sale1">On Sale</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale2">
                                    <label class="form-check-label" for="sale2">In Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale3">
                                    <label class="form-check-label" for="sale3">Out Of Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale4">
                                    <label class="form-check-label" for="sale4">Discount</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Ratings</h4>
                        <ul class="shop-checkbox-list rating">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate1">
                                    <label class="form-check-label" for="rate1">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate2">
                                    <label class="form-check-label" for="rate2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate3">
                                    <label class="form-check-label" for="rate3">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate4">
                                    <label class="form-check-label" for="rate4">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate5">
                                    <label class="form-check-label" for="rate5">
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Colors</h4>
                        <ul class="shop-checkbox-list color">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color1">
                                    <label class="form-check-label" for="color1"><span
                                            style="background-color: #606ddd"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color2">
                                    <label class="form-check-label" for="color2"><span
                                            style="background-color: #4caf50"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color3">
                                    <label class="form-check-label" for="color3"><span
                                            style="background-color: #17a2b8"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color4">
                                    <label class="form-check-label" for="color4"><span
                                            style="background-color: #ffc107"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color5">
                                    <label class="form-check-label" for="color5"><span
                                            style="background-color: #f44336"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Sizes</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size1">
                                    <label class="form-check-label" for="size1">Extra Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size2">
                                    <label class="form-check-label" for="size2">Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size3">
                                    <label class="form-check-label" for="size3">Medium</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size4">
                                    <label class="form-check-label" for="size4">Large</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size5">
                                    <label class="form-check-label" for="size5">Extra Large</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget-banner mt-30 mb-50">
                        <div class="banner-img" style="background-image:url({% static 'img/banner/shop-banner.jpg' %})">
                        </div>
                        <div class="banner-content">
                            <h6>Get <span>35% Off</span></h6>
                            <h4>New Collection of Sunglassess</h4>
                            <a href="#" class="theme-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">
                            <div class="shop-sorty-label">Sort By:</div>
                            <select class="select">
                                <option value="1">Default Sorting</option>
                                <option value="5">Latest Items</option>
                                <option value="2">Best Seller Items</option>
                                <option value="3">Price - Low To High</option>
                                <option value="4">Price - High To Low</option>
                            </select>
                            <div class="shop-sort-show">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }} Results</div>
                        </div>
                        <div class="shop-sort-gl">
                            <button id="gridBtn" class="shop-sort-grid active"><i class="far fa-grid-round-2"></i></button>
                            <button id="listBtn" class="shop-sort-list"><i class="far fa-list-ul"></i></button>
                        </div>
                    </div>
                </div>
                {% if products.exists %}
                    <div id="products-grid">
                        {% include 'shop/products_grid.html' %}
                    </div>
                    <div id="products-list">
                        {% include 'shop/products_list.html' %}
                    </div>
                {% else %}
                        <p>No products found.</p>
                {% endif %}
                <!-- pagination -->
                <div class="pagination">
                    {% include 'shop/pagination.html' %}
                </div>
                <!-- pagination end -->
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}