{% extends "base-shop.html" %}

{% load static %}
{% load custom_filters %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- shop-area -->
<div class="shop-area py-100 shop-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="shop-sidebar index-card">
                    <div class="shop-search-form">
                        <div class="card mobile-hidden">
                            <div class="card-header">
                                <h4>Search</h4>
                            </div>
                            <div class="card-body index-card-body search-body">
                                <form method="get" action="{% url 'shop:search' %}">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-9 col-sm-8 search-form">
                                            <input type="text" class="form-control card-search" name="q" placeholder="Search">
                                        </div>
                                        <div class="col-lg-3 col-sm-2" style="padding: 0 0 0 7px;">
                                            <button class="theme-btn" type="submit"><i class="far fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    </div>
                    <div class="card mt-2 mobile-hidden">
                        <div class="card-header">
                            <h4>Shops</h4>
                        </div>
                        <div class="card-body index-card-body">
                            <ul class="shop-category-list category-1">
                                <li><a href="{% url 'shop:shop' %}?category_id=all" data-category-id="all"
                                        onclick="showSubcategories('all')">All</a></li>
                                <li><a href="{% url 'shop:shop' %}?category_id=sante" data-category-id="sante"
                                        onclick="showSubcategories('sante')">Sante International</a></li>
                                <li><a href="{% url 'shop:shop' %}?category_id=chingu" data-category-id="chingu"
                                        onclick="showSubcategories('chingu')">Chingu</a></li>
                                <li><a href="{% url 'shop:shop' %}?category_id=mood" data-category-id="mood"
                                        onclick="showSubcategories('mood')">Mood Timepieces</a></li>
                                {% if user.is_admin %}
                                <li><a href="{% url 'shop:promo' %}">Promo Bundles</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-3 mobile-hidden" id="product-categories">
                        <div class="card-header">
                            <h4>Category</h4>
                        </div>
                        <div class="card-body index-card-body">
                            <ul class="shop-category-list category-2">
                                {% for subcategory, count in subcategory_counts.items %}
                                <li>
                                    <a href="{% url 'shop:shop' %}?category_id={{ subcategory }}"
                                        data-category-id="{{ subcategory }}">
                                        {{ subcategory|replace_underscore_to_space|title }} <span>({{ count }})</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 mobile-width">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">
                            <div class="shop-sorty-label">Sort By:</div>
                            <select class="select">
                                <option value="1">Default Sorting</option>
                                <option value="5">Latest Items</option>
                                <option value="2">Best Seller Items</option>
                                <option value="3">Price - Low To High</option>
                                <option value="4">Price - High To Low</option>
                            </select>
                            <div class="shop-sort-show">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of
                                {{ page_obj.paginator.count }} Results</div>
                        </div>
                        <div class="shop-sort-gl mobile-hidden">
                            <button id="gridBtn" class="shop-sort-grid active"><i
                                    class="far fa-grid-round-2"></i></button>
                            <button id="listBtn" class="shop-sort-list"><i class="far fa-list-ul"></i></button>
                        </div>
                    </div>
                </div>
                {% if products.exists %}
                <div id="products-grid">
                    {% include 'shop/products_grid.html' %}
                </div>
                <div id="products-list">
                    {% include 'shop/products_list.html' %}
                </div>
                {% else %}
                <p>No products found.</p>
                {% endif %}
                <!-- pagination -->
                <div class="pagination">
                    {% include 'shop/pagination.html' %}
                </div>
                <!-- pagination end -->
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/shop.js' %}"></script>
<script>
    function saveScrollPosition() {
        sessionStorage.setItem('shopScrollPosition', $(window).scrollTop());
    }
    function restoreScrollPosition() {
        var scrollPosition = sessionStorage.getItem('shopScrollPosition');
        if (scrollPosition !== null) {
            $(window).scrollTop(parseInt(scrollPosition));
        }
    } 
    $(window).on('beforeunload', saveScrollPosition);
    $(window).on('load', restoreScrollPosition);
</script>
<script>
    $(document).ready(function () {
        $('.quickview-btn').on('click', function () {
            var productId = $(this).data('product-id');
            var productName = $(this).data('product-name');
            var productImage = $(this).data('product-image');
            var productPrice = $(this).data('product-price');
            var productShop = $(this).data('product-shop');
            var productCategory = $(this).data('product-category');
            var productSku = $(this).data('product-sku');
            var productBtnClass = $(this).data('button');
            var productBtnAction = $(this).data('action');
            var productBtnText = $(this).data('text');

            $('#quickview .modal-title').text(productName);
            $('#quickview .product-img').attr('src', productImage);
            $('#quickview .quickview-title').text(productName);
            $('#quickview .quickview-price').html('<span>₱' + productPrice + '</span>');
            $('#quickview .quickview-list .modal-shop').text(productShop);
            $('#quickview .quickview-list .modal-category').text(productCategory);
            $('#quickview .quickview-list .modal-sku').text(productSku);
            $('.quickview-cart .modal-btn')
                .removeAttr('class')
                .addClass('modal-btn')
                .addClass(productBtnClass)
                .text(productBtnText)
                .attr('data-product', productId)
                .attr('data-action', productBtnAction);
        });
    });
</script>


{% endblock %}