{% extends "base-shop.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- shop-area -->
<div class="shop-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-widget">
                        <div class="shop-search-form">
                            <h4 class="shop-widget-title">Search</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button type="search"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Category</h4>
                        <ul class="shop-category-list">
                            <li><a href="#">Accessories<span>(15)</span></a></li>
                            <li><a href="#">Fashion<span>(15)</span></a></li>
                            <li><a href="#">Home & Furniture<span>(15)</span></a></li>
                            <li><a href="#">Electronics <span>(15)</span></a></li>
                            <li><a href="#">Grocery & Market<span>(15)</span></a></li>
                            <li><a href="#">Toy & Video Games<span>(15)</span></a></li>
                            <li><a href="#">Babies & Moms<span>(15)</span></a></li>
                            <li><a href="#">Sports & Outdoor<span>(15)</span></a></li>
                            <li><a href="#">Home & Garden<span>(15)</span></a></li>
                            <li><a href="#">Music & Audio<span>(15)</span></a></li>
                            <li><a href="#">Others<span>(25)</span></a></li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Brands</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand1">
                                    <label class="form-check-label" for="brand1">Apple<span>(12)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand2">
                                    <label class="form-check-label" for="brand2">Adidas<span>(15)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand3">
                                    <label class="form-check-label" for="brand3">Bosilox Inc<span>(20)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand4">
                                    <label class="form-check-label" for="brand4">Converse<span>(05)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand5">
                                    <label class="form-check-label" for="brand5">Canon Inc<span>(09)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand6">
                                    <label class="form-check-label" for="brand6">Fashionox<span>(25)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand7">
                                    <label class="form-check-label" for="brand7">Samsung<span>(19)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand8">
                                    <label class="form-check-label" for="brand8">Hitachi<span>(23)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand9">
                                    <label class="form-check-label" for="brand9">Nike<span>(13)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand10">
                                    <label class="form-check-label" for="brand10">Panasonic<span>(14)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand11">
                                    <label class="form-check-label" for="brand11">Puma<span>(16)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand12">
                                    <label class="form-check-label" for="brand12">Urba
                                        Outfitters<span>(17)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand13">
                                    <label class="form-check-label" for="brand13">Others<span>(18)</span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Price Range</h4>
                        <div class="price-range-box">
                            <div class="price-range-input">
                                <input type="text" id="price-amount" readonly>
                            </div>
                            <div class="price-range"></div>
                        </div>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Sales</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale1">
                                    <label class="form-check-label" for="sale1">On Sale</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale2">
                                    <label class="form-check-label" for="sale2">In Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale3">
                                    <label class="form-check-label" for="sale3">Out Of Stock</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sale4">
                                    <label class="form-check-label" for="sale4">Discount</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Ratings</h4>
                        <ul class="shop-checkbox-list rating">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate1">
                                    <label class="form-check-label" for="rate1">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate2">
                                    <label class="form-check-label" for="rate2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate3">
                                    <label class="form-check-label" for="rate3">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate4">
                                    <label class="form-check-label" for="rate4">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rate5">
                                    <label class="form-check-label" for="rate5">
                                        <i class="fas fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                        <i class="fal fa-star"></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Colors</h4>
                        <ul class="shop-checkbox-list color">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color1">
                                    <label class="form-check-label" for="color1"><span
                                            style="background-color: #606ddd"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color2">
                                    <label class="form-check-label" for="color2"><span
                                            style="background-color: #4caf50"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color3">
                                    <label class="form-check-label" for="color3"><span
                                            style="background-color: #17a2b8"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color4">
                                    <label class="form-check-label" for="color4"><span
                                            style="background-color: #ffc107"></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="color5">
                                    <label class="form-check-label" for="color5"><span
                                            style="background-color: #f44336"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget">
                        <h4 class="shop-widget-title">Sizes</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size1">
                                    <label class="form-check-label" for="size1">Extra Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size2">
                                    <label class="form-check-label" for="size2">Small</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size3">
                                    <label class="form-check-label" for="size3">Medium</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size4">
                                    <label class="form-check-label" for="size4">Large</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="size5">
                                    <label class="form-check-label" for="size5">Extra Large</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-widget-banner mt-30 mb-50">
                        <div class="banner-img" style="background-image:url(assets/img/banner/shop-banner.jpg)"></div>
                        <div class="banner-content">
                            <h6>Get <span>35% Off</span></h6>
                            <h4>New Collection of Sunglassess</h4>
                            <a href="#" class="theme-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">
                            <div class="shop-sorty-label">Sort By:</div>
                            <select class="select">
                                <option value="1">Default Sorting</option>
                                <option value="5">Latest Items</option>
                                <option value="2">Best Seller Items</option>
                                <option value="3">Price - Low To High</option>
                                <option value="4">Price - High To Low</option>
                            </select>
                            <div class="shop-sort-show">Showing 1-10 of 50 Results</div>
                        </div>
                        <div class="shop-sort-gl">
                            <a href="{% url 'shop:grid' %}" class="shop-sort-grid"><i
                                    class="far fa-grid-round-2"></i></a>
                            <a href="{% url 'shop:list' %}" class="shop-sort-list active"><i
                                    class="far fa-list-ul"></i></a>
                        </div>
                    </div>
                </div>
                <div class="shop-item-wrapper item-list">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-12">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type">Trending</span>
                                    {% if product.images.first %}
                                    <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                    no image
                                    {% endif %}
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-tooltip="tooltip" title="Quick View"><i class="far fa-eye"></i></a>
                                            <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i
                                                    class="far fa-heart"></i></a>
                                            <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                                    class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>{{ product.description }}</p>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span>{{ product.price }}Php</span>
                                        </div>
                                        {% if user.is_authenticated %}
                                        <button data-product="{{ product.id }}" data-action="add" type="button"
                                            class="product-cart-btn add-to-cart-btn update-cart">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                        {% else %}
                                        <button type="button" class="sweet-modal product-cart-btn add-to-cart-btn">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- pagination -->
                <div class="pagination-area mb-0">
                    <div aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><span class="page-link">...</span></li>
                            <li class="page-item"><a class="page-link" href="#">10</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- pagination end -->
            </div>
        </div>
    </div>
</div>

<!-- shop-area end -->

{% endblock %}