references
development.env

bin/
lib/
lib64
include/
pyvenv.cfg
node_modules
aws/
awscliv2.zip
awscliv2

__pycache__/
google_api.json
server.crt
server.csr
server.keysrc/login/log/
.idea