{% load static %}
<!-- breadcrumb -->
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">{{ title }}</h4>
            <ul class="breadcrumb-menu">
                <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                <li class="active">{{ title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->