{% load static %}
<div class="user-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="user-card">
                <div class="user-card-header">
                    <h4 class="user-card-title">Address List</h4>
                    <div class="user-card-header-right">
                        <button class="addAddressBtn theme-btn"><span class="far fa-plus-circle"></span>Add Address</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless text-nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in addresses %}
                            <tr id="address-{{ address.id }}">
                                <td><span class="table-list-code">{{ address.first_name }} {{ address.last_name }}</span></td>
                                <td>{{ address.line1 }}, {{ address.city }}, {{ address.postcode }}</td>
                                <td>{{ address.phone }}</td>
                                <td>
                                    <a href="#" id="editAddressButton" class="btn btn-outline-secondary btn-sm rounded-2 edit-address" 
                                        data-tooltip="tooltip" 
                                        title="Edit" 
                                        data-address-id="{{ address.id }}">
                                        <i class="far fa-pen"></i>
                                    </a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2 delete-address" 
                                        data-tooltip="tooltip" 
                                        title="Delete" 
                                        data-address-id="{{ address.id }}">
                                        <i class="far fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            {% include 'user/address-list-modal.html' with address_id=address.id %}
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>

                