{% extends "base.html" %}
{% load url_with_domain %}
{% load currency_filters %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- breadcrumb -->
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img\breadcrumb\01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">Dashboard</h4>
            <ul class="breadcrumb-menu">
                <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                <li class="active">Dashboard Order History</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- user dashboard -->
<div id="dashboard-content" class="user-area bg py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'user/dashboard-user-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-card seller-order">
                    <div class="row">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist" style="margin-left: 20px;">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if not request.GET.status or request.GET.status == 'all' %}active{% endif %}" 
                                href="{% url 'dashboard_order' %}?status=all">All</a>
                            </li>
                            <li class="nav-item pending-btn" role="presentation" style="margin-right: 10px;">
                                <a class="nav-link {% if request.GET.status == 'pending' %}active{% endif %}" 
                                href="{% url 'dashboard_order' %}?status=pending">Pending<span>({{ pending_count }})</span></a>
                            </li>
                            <li class="nav-item to-ship-btn" role="presentation">
                                <a class="nav-link {% if request.GET.status == 'for-pickup' or request.GET.status == 'for-booking' %}active{% endif %}" 
                                    href="{% url 'dashboard_order' %}?status=for-pickup">
                                    To Ship<span>({{ to_ship_count }})</span>
                                </a>
                            </li>
                            <li class="nav-item shipping-btn" role="presentation">
                                <a class="nav-link {% if request.GET.status == 'shipping' %}active{% endif %}" 
                                href="{% url 'dashboard_order' %}?status=shipping">To Receive<span>({{ shipping_count }})</span></a>
                            </li>
                            <li class="nav-item delivered-btn" role="presentation">
                                <a class="nav-link {% if request.GET.status == 'delivered' %}active{% endif %}" 
                                href="{% url 'dashboard_order' %}?status=delivered">Received<span>({{ delivered_count }})</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% for order, items in ordered_items.items %}
                <div id="order-card-{{order.order_id}}" class="card mb-20">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-6 text-left">
                                    <a href="{% url_with_domain 'shop:shop' %}?category_id={{order.supplier}}" style="margin-top: 10px; color: #11B76B;">
                                        <i class="fa-solid fa-store"></i> Shop:
                                        {% if order.supplier == "sante" %}
                                        Sante International
                                        {% endif %}
                                        {% if order.supplier == "mood" %}
                                        Mood Timepieces
                                        {% endif %}
                                        {% if order.supplier == "chingu" %}
                                        Chingu
                                        {% endif %}
                                        {% if order.supplier == None %}
                                        Promo Bundle
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-6 text-right">
                                    <h6 class="badge badge-{{ order.status|lower }}">
                                        {% if order.status == "for-booking" %}
                                            FOR BOOKING
                                        {% elif order.status == "for-pickup" %}
                                            FOR PICKUP
                                        {% else %}
                                            {{ order.status|upper }}
                                        {% endif %}
                                    </h6>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="cart-table card-text">
                            <h6>Order Number: {{ order.order_id }}</h6>
                            <div class="table-responsive">
                                <table class="table cart-table" id="product-table-{{ order.order_id }}">
                                    <tbody class="cart-body">
                                        {% for item in items %}
                                        <tr class="cart-product" id="product-row-{{ item.product.id }}">
                                            <td>
                                                <div class="table-list-info">
                                                    <a href="{% url 'dashboard_order_detail' %}?order_id={{order.order_id}}">
                                                        <div class="table-list-img">
                                                            {% if item.product.image_1 %}
                                                                <img src="{{ item.product.image_1.url }}" alt="{{ item.product.name }}">
                                                            {% else %}
                                                                No image
                                                            {% endif %}
                                                        </div>
                                                        <div class="table-list-content">
                                                            <h6>{{ item.product.name }}</h6>
                                                            <p>Item SKU: {{ item.product.sku }}</p>
                                                            <p>Qty: x{{ item.quantity }}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="width: 15%;">
                                                <div class="shop-cart-subtotal">
                                                    <span class="product-subtotal">
                                                        {{item.product.customer_price|currency}}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <ul>
                                <li class="shop-cart-total">
                                    <h6 class="text-right mr-3" >Order Total: <span id="cart-total" style="font-size: 24px;">{{ order.cod_amount|currency }}</span></h6>
                                </li>
                            </ul>
                            <div class="text-end mt-40">
                                <a href="{% url_with_domain 'shop:shop' %}?category_id={{order.supplier}}" class="theme-btn">Buy Again</a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/dashboardview.js' %}"></script>
<script src="{% static 'js/view-order.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".sidebar-list .active").removeClass("active");
        $(".order-history-tab").addClass("active");
    });
</script>
{% endblock %}