{% extends "base-user.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


        <!-- user order details -->
        <div class="user-area bg py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <div class="sidebar-top">
                                <div class="sidebar-profile-img">
                                    <img src="assets/img/account/user.jpg" alt="">
                                    <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                                    <input type="file" class="profile-img-file">
                                </div>
                                <h5>Antoni Jonson</h5>
                                <p>antoni@example.com</p>
                            </div>
                            <ul class="sidebar-list">
                                <li><a href="{% url 'user:dashboard' %}"><i class="far fa-gauge-high"></i> Dashboard</a></li>
                                <li><a href="u{% url 'user:profile' %}"><i class="far fa-user"></i> My Profile</a></li>
                                <li><a class="active" href="{% url 'user:order_list' %}"><i class="far fa-shopping-bag"></i> My Order List <span class="badge badge-danger">02</span></a></li>
                                <li><a href="{% url 'user:wishlist' %}"><i class="far fa-heart"></i> My Wishlist <span class="badge badge-danger">02</span></a></li>
                                <li><a href="{% url 'user:addresslist' %}"><i class="far fa-location-dot"></i> Address List</a></li>
                                <li><a href="{% url 'user:support_ticket' %}"><i class="far fa-headset"></i> Support Tickets <span class="badge badge-danger">02</span></a></li>
                                <li><a href="{% url 'user:track_order' %}"><i class="far fa-map-location-dot"></i> Track My Order</a></li>
                                <li><a href="{% url 'user:payment_method' %}"><i class="far fa-wallet"></i> Payment Methods</a></li>
                                <li><a href="{% url 'user:notification' %}"><i class="far fa-bell"></i> Notification <span class="badge badge-danger">02</span></a></li>
                                <li><a href="{% url 'user:message' %}"><i class="far fa-envelope"></i> Messages <span class="badge badge-danger">02</span></a></li>
                                <li><a href="{% url 'user:setting' %}"><i class="far fa-gear"></i> Settings</a></li>
                                <li><a href="#"><i class="far fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="user-wrapper">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="user-card user-order-detail">
                                        <div class="user-card-header">
                                            <h4 class="user-card-title">Order Details (#35VR5K54)</h4>
                                            <div class="user-card-header-right">
                                                <a href="order-list.html" class="theme-btn"><span class="fas fa-arrow-left"></span>Order List</a>
                                            </div> 
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-borderless text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Brand</th>
                                                        <th>Quantity</th>
                                                        <th>Size</th>
                                                        <th>Color</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="table-list-info">
                                                                <a href="#">
                                                                    <div class="table-list-img">
                                                                        <img src="assets/img/product/p1.png" alt="">
                                                                    </div>
                                                                    <div class="table-list-content">
                                                                        <h6>Bluetooth Headphone</h6>
                                                                        <span>Item ID: #123456</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>Beats</td>
                                                        <td>20 Pcs</td>
                                                        <td>XXL</td>
                                                        <td>Black</td>
                                                        <td>$150</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="table-list-info">
                                                                <a href="#">
                                                                    <div class="table-list-img">
                                                                        <img src="assets/img/product/p1.png" alt="">
                                                                    </div>
                                                                    <div class="table-list-content">
                                                                        <h6>Bluetooth Headphone</h6>
                                                                        <span>Item ID: #123456</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>Beats</td>
                                                        <td>20 Pcs</td>
                                                        <td>XXL</td>
                                                        <td>Black</td>
                                                        <td>$150</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="table-list-info">
                                                                <a href="#">
                                                                    <div class="table-list-img">
                                                                        <img src="assets/img/product/p1.png" alt="">
                                                                    </div>
                                                                    <div class="table-list-content">
                                                                        <h6>Bluetooth Headphone</h6>
                                                                        <span>Item ID: #123456</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>Beats</td>
                                                        <td>20 Pcs</td>
                                                        <td>XXL</td>
                                                        <td>Black</td>
                                                        <td>$150</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="order-detail-content">
                                                    <h5>Shipping Address</h5>
                                                    <p><i class="far fa-location-dot"></i> 25/B Milford Road, Richison Drive, New York, USA</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="order-detail-content">
                                                    <h5>Order Summary</h5>
                                                    <ul>
                                                        <li>Subtotal<span>$350.00</span></li>
                                                        <li>Shipping<span>Free</span></li>
                                                        <li>Discount<span>$10.00</span></li>
                                                        <li>Tax<span>$20.00</span></li>
                                                        <li>Total<span>$360.00</span></li>
                                                    </ul>
                                                    <p class="mt-4">Paid by Credit/Debit Card</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user order details end -->

    </main>

{% endblock %}