<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <section class="vh-50" style="background-color: #11b76b;">
                    <div class="container py-5 h-100">
                        <div class="row d-flex">
                            <div class="col-12">
                                <div class="card card-stepper text-black" style="border-radius: 16px;">
                                    <div class="card-body p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <div>
                                                <h5 class="mb-0">INVOICE <span
                                                        class="text-primary font-weight-bold invoice">{{ order_id }}</span></h5>
                                            </div>
                                            <div class="text-end">
                                                <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                                                <p class="mb-0">USPS <span
                                                        class="font-weight-bold">234094567242423422898</span></p>
                                            </div>
                                        </div>
                                        <ul id="progressbar-2"
                                            class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">
                                            <li class="step0 text-muted text-center" id="step1"></li>
                                            <li class="step0 text-muted text-center" id="step2"></li>
                                            <li class="step0 text-muted text-end" id="step3"></li>
                                            <li class="step0 text-muted text-end" id="step4"></li>
                                        </ul>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-lg-flex align-items-center">
                                                <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                <div>
                                                    <p class="fw-bold mb-1">Order</p>
                                                    <p class="fw-bold mb-0">Processed</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                <div>
                                                    <p class="fw-bold mb-1">Order</p>
                                                    <p class="fw-bold mb-0">Prepared</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <i class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                <div>
                                                    <p class="fw-bold mb-1">Order</p>
                                                    <p class="fw-bold mb-0">Shipped</p>
                                                </div>
                                            </div>
                                            <div class="d-lg-flex align-items-center">
                                                <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                <div>
                                                    <p class="fw-bold mb-1">Order</p>
                                                    <p class="fw-bold mb-0">Received</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="mt-2 mb-3">
                                    <div class="card-body p-5">
                                        <table class="table">
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col-6">Product</th>
                                                    <th scope="col-2">QTY</th>
                                                    <th scope="col-4">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody id="orderItemsList">                                                                                            
                                                <!-- order items -->
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                    <th>Shipping + Handling</th>
                                                    <th>---</th>
                                                    <th>₱0.00</th>
                                                </tr>
                                                <tr class="table-active">
                                                    <th>Total:</th>
                                                    <th class="orderQuantity">{{ total_quantity }}</th>
                                                    <th class="orderTotal"></th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row mt-50">
                                            <div class="col-7">
                                                <h5>ORDER DATE:</h5>
                                                <h5 id="orderDate"></h5>
                                            </div>
                                            <div class="col-2">
                                                <h5>TOTAL:</h5>
                                                <h5 class="orderTotal"></h5>
                                            </div>
                                            <div class="col-3">
                                                <h5>PAYEMNT METHOD:</h5>
                                                <h5>Cash On Delivery</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>