{% load static %}

<div class="user-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="user-card">
                <div class="user-card-header">
                    <h4 class="user-card-title">Payment Methods</h4>
                    <div class="user-card-header-right">
                        <a href="add-payment.html" class="theme-btn"><span class="far fa-plus-circle"></span>Add Payment</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless text-nowrap">
                        <thead>
                            <tr>
                                <th>Card Info</th>
                                <th>Card Holder Name</th>
                                <th>Card Number</th>
                                <th>Expire Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="table-list-img w-25">
                                        <img class="rounded-3" src="assets/img/payment/amex.svg" alt="">
                                    </div>
                                </td>
                                <td><span class="table-list-code">Antoni Jonson</span></td>
                                <td>1234***********</td>
                                <td>10/2024</td>
                                <td>
                                    <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-tooltip="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-tooltip="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-list-img w-25">
                                        <img class="rounded-3" src="assets/img/payment/mastercard.svg" alt="">
                                    </div>
                                </td>
                                <td><span class="table-list-code">Antoni Jonson</span></td>
                                <td>1234***********</td>
                                <td>10/2024</td>
                                <td>
                                    <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-tooltip="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-tooltip="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-list-img w-25">
                                        <img class="rounded-3" src="assets/img/payment/visa.svg" alt="">
                                    </div>
                                </td>
                                <td><span class="table-list-code">Antoni Jonson</span></td>
                                <td>1234***********</td>
                                <td>10/2024</td>
                                <td>
                                    <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-tooltip="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-tooltip="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-list-img w-25">
                                        <img class="rounded-3" src="assets/img/payment/paypal.svg" alt="">
                                    </div>
                                </td>
                                <td><span class="table-list-code">Antoni Jonson</span></td>
                                <td>1234***********</td>
                                <td>10/2024</td>
                                <td>
                                    <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-tooltip="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-tooltip="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="table-list-img w-25">
                                        <img class="rounded-3" src="assets/img/payment/discover.svg" alt="">
                                    </div>
                                </td>
                                <td><span class="table-list-code">Antoni Jonson</span></td>
                                <td>1234***********</td>
                                <td>10/2024</td>
                                <td>
                                    <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-tooltip="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                                    <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-tooltip="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

                