{% load static %}

<div class="user-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="user-card user-track-order">
                <h4 class="user-card-title">Track My Order</h4>
                <div class="track-order-content">
                    <h5>Tracking Order Number: <span>#35VR5K54</span></h5>
                    <div class="track-order-info">
                        <a href="#"><span>Shipped Via:</span> Express Shipping</a>
                        <a href="#"><span>Status:</span> Checking Quality</a>
                        <a href="#"><span>Expected Date:</span> January 27, 2023</a>
                    </div>
                    <div class="track-order-step">
                        <div class="step-item completed">
                            <div class="step-icon">
                                <i class="fal fa-shopping-cart"></i>
                            </div>
                            <h6>Confirmed Order</h6>
                        </div>
                        <div class="step-item completed">
                            <div class="step-icon">
                                <i class="fal fa-cog"></i>
                            </div>
                            <h6>Processing Order</h6>
                        </div>
                        <div class="step-item completed">
                            <div class="step-icon">
                                <i class="fal fa-check-circle"></i>
                            </div>
                            <h6>Quality Check</h6>
                        </div>
                        <div class="step-item">
                            <div class="step-icon">
                                <i class="fal fa-truck-fast"></i>
                            </div>
                            <h6>Product Dispatched</h6>
                        </div>
                        <div class="step-item">
                            <div class="step-icon">
                                <i class="fal fa-home"></i>
                            </div>
                            <h6>Product Delivered</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
