{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>

    <!-- title -->
    <title>{{ title }}</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">

    <!-- css -->
    {% include 'base/css.html' %}
</head>

<body class="home-6">

    <!-- preloader -->
    <div class="preloader">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- loader -->
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <!-- loader end -->

    <!-- spinner-2 -->
    <div class="backdrop"></div>
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
      <!-- end spinner-2 -->

    <!-- header area -->
    {% include 'base/dashboard-header.html' %}
    <!-- header area end -->

    <main class="main">

        {% block content %}{% endblock content %}

        <!-- {% include 'base/newsletter.html' %} -->

    </main>
    <!-- footer area -->
    {% include 'base/footer.html' %}
    <!-- footer area end -->

    <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>
    <!-- scroll-top end -->

    <!-- js -->
    {% include 'base/js.html' %}
    
    <script>
        const dashboardURL = '{% url "dashboard" %}';
        const confirmOrder = '{% url "confirm_order" %}';
        const sellerDashboardURL = '{% url "seller_dashboard" %}';
        const courierBooking = '{% url "courier_booking_view" %}'
        const rejectOrderUrl = '{% url "reject_order" %}'
        const logisticsPickupData = '{% url "pickup_data" %}'
    </script>
    <script src="{% static 'js/dashboardview.js' %}"></script>
    <script src="{% static 'js/logistics.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>

</html>
