{% extends "base.html" %}
{% load static %}

{% block title %} 404 {% endblock %}

{% block content %}


        <!-- faq area -->
        <div class="faq-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mb-4">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                Most Popular Questions
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">Managing Account</a>
                            <a href="#" class="list-group-item list-group-item-action">Working With Dashboard</a>
                            <a href="#" class="list-group-item list-group-item-action">Available Payment Methods</a>
                            <a href="#" class="list-group-item list-group-item-action">Delivery Information</a>
                            <a href="#" class="list-group-item list-group-item-action">Order Tracking Instructions</a>
                            <a href="#" class="list-group-item list-group-item-action">Refund Policy</a>
                            <a href="#" class="list-group-item list-group-item-action">Offers And Discounts</a>
                            <a href="#" class="list-group-item list-group-item-action">Affiliate Program</a>
                            <a href="#" class="list-group-item list-group-item-action">Service Terms & Conditions</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span><i class="far fa-question"></i></span> Do I need an account to place an order ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span><i class="far fa-question"></i></span> What payment methods do you accept ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <span><i class="far fa-question"></i></span> How long will delivery take ?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <span><i class="far fa-question"></i></span> Do you have discounts for returning customers ?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        <span><i class="far fa-question"></i></span> How can I track my order ?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        <span><i class="far fa-question"></i></span> What are the product refund conditions ?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire. Ante odio dignissim quam, vitae pulvinar turpis erat ac elit
                                        eu orci id odio facilisis pharetra.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- faq area end -->

{% endblock %}