{% extends "base.html" %}

{% load static %}
{% load custom_filters %}
{% load currency_filters %}

{% block content %}

<!-- category area -->

<div class="category-area2 pt-20 border-top twc-category-slider">
    <div class="container">
        <div class="category-slider owl-carousel owl-theme mt-2">
            {% for category, data in categories.items %}
            <div class="category-item">
                <a href="{% url 'shop:shop' %}?category_id={{category}}">
                    <div class="category-info index-category">
                        <div class="icon">
                            {% with 'img/icon/categories/'|add:category|replace_underscore_to_dash|add:'.svg' as icon_path %}
                                <img src="{% static icon_path %}" alt="{{ category }}">
                            {% endwith %}
                        </div>
                        <div class="content">
                            <h4>{{data.name}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- category area end-->

<!-- hero slider -->
<div class="hero-section3 hs3-2">
    <div class="container">
        <div class="hero-slider owl-carousel owl-theme mt-3">
            <div class="hero-single">
                <div class="hero-single-bg"
                    style="background-image: url({% static 'img/banner/home-page-banner-01.webp' %})"></div>
            </div>
            <div class="hero-single">
                <div class="hero-single-bg"
                    style="background-image: url({% static 'img/banner/home-page-banner-02.webp' %})"></div>
            </div>
            <div class="hero-single">
                <div class="hero-single-bg"
                    style="background-image: url({% static 'img/banner/home-page-banner-03.webp' %})"></div>
            </div>
            <div class="hero-single">
                <div class="hero-single-bg"
                    style="background-image: url({% static 'img/banner/home-page-banner-04.webp' %})"></div>
            </div>
        </div>
    </div>
</div>
<!-- hero slider end -->


<!-- product area -->
<div class="product-area pt-80">
    <div class="container index-card">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="p-2">
                        <h2 class="site-title">TRENDING ITEMS</h2>
                    </div>
                    <div class="p-2">
                        <a class="theme-btn" href="{% url 'shop:shop' %}">View More</a>
                    </div>
                </div>
            </div>
            <div class="card-body product-body carousel-body bg-light-blue">
                <div class="product-slider owl-carousel owl-theme product-column">
                    {% for product in products %}
                    <div class="product-item bg-light-blue">
                        <div class="product-img">
                            <a href="{% url 'shop:single' slug=product.slug %}">
                                {% if product.image_1 %}
                                <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                {% else %}
                                no image
                                {% endif %}
                            </a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-tooltip="tooltip"
                                        title="Quick View"><i class="far fa-eye"></i></a>
                                    <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                    <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a>
                            </h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <!-- <del>P120</del> -->
                                    <span class="current-product-price">{{ product.customer_price|currency}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-button">
                            {% if product.id in products_in_cart %}
                            <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                disabled>ADDED TO CART</button>
                            {% else %}
                            <button data-product="{{ product.id }}" data-action="add" type="button"
                                class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                onclick="addToCart(this)">ADD TO CART
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product area end -->


<!-- popular item -->
<div class="product-area pt-80">
    <div class="container index-card">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="p-2">
                        <h2 class="site-title">Popular Items</h2>
                    </div>
                    <div class="p-2">
                        <a class="theme-btn" href="{% url 'shop:shop' %}">View More</a>
                    </div>
                </div>
            </div>
            <div class="card-body product-body">
                <div class="row">
                    {% for product in random_products %}
                    <div class="col-md-3 col-6 product-column">
                        <div class="product-item">
                            <div class="product-img">
                                <a href="{% url 'shop:single' slug=product.slug %}">
                                    {% if product.image_1 %}
                                    <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                    {% else %}
                                    no image
                                    {% endif %}
                                </a>
                                <div class="product-action-wrap">
                                    <div class="product-action">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-tooltip="tooltip"
                                            title="Quick View"><i class="far fa-eye"></i></a>
                                        <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                        <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                                class="far fa-arrows-repeat"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a>
                                </h3>
                                <div class="product-rate">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <div class="product-bottom">
                                    <div class="product-price">
                                        <!-- <del>P120</del> -->
                                        <span class="current-product-price">{{ product.customer_price|currency }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button">
                                {% if product.id in products_in_cart %}
                                <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                    disabled>ADDED TO CART</button>
                                {% else %}
                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                    class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                    onclick="addToCart(this)">ADD TO CART
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular item end -->


<!-- big banner -->
<div class="twc-big-banner pt-80">
    <div class="container">
        <div class="banner-wrap" style="background-image: url({% static 'img/banner/home-page-middle-banner.webp' %});">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="banner-content">
                        <div class="banner-info">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- big banner end -->


<!-- product area -->
<div class="product-area pt-80">
    <div class="container index-card">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="p-2">
                        <h2 class="site-title">New Items</h2>
                    </div>
                    <div class="p-2">
                        <a class="theme-btn" href="{% url 'shop:shop' %}">View More</a>
                    </div>
                </div>
            </div>
            <div class="card-body product-body carousel-body">
                <div class="product-slider owl-carousel owl-theme product-column">
                    {% for product in products %}
                    <div class="product-item">
                        <div class="product-img">
                            <a href="{% url 'shop:single' slug=product.slug %}">
                                {% if product.image_1 %}
                                <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                {% else %}
                                no image
                                {% endif %}
                            </a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-tooltip="tooltip"
                                        title="Quick View"><i class="far fa-eye"></i></a>
                                    <a href="#" data-tooltip="tooltip" title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                    <a href="#" data-tooltip="tooltip" title="Add To Compare"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="{% url 'shop:single' slug=product.slug %}">{{product.name }}</a>
                            </h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span class="current-product-price">{{ product.customer_price|currency }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-button">
                            {% if product.id in products_in_cart %}
                            <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                disabled>ADDED TO CART</button>
                            {% else %}
                            <button data-product="{{ product.id }}" data-action="add" type="button"
                                class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                onclick="addToCart(this)">ADD TO CART
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product area end -->


<!-- deal area -->
<div class="deal-area2 pt-90 index-deal-area2">
    <div class="container">
        <div class="deal-wrap">
            <div class="row g-0">
                <div class="col-12 col-md-6">
                    <div class="deal-img">
                        <img src="{% static 'img/banner/home-page-bottom-banner.webp' %}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 align-self-center">
                    <div class="deal-content">
                        <h2>TODAYS DEAL</h2>
                        <h1>10% OFF</h1>
                        <h3>LIMITED TIME OFFER!</h3>
                        <!-- <div class="col-lg-12 col-xl-8 mx-auto">
                            <div class="deal-countdown">
                                <div class="countdown" data-countdown="2030/12/30"></div>
                            </div>
                        </div> -->
                        <p>Use discount code</p>
                        <div class="deal-btn">
                            <a href="#" class="theme-btn">DISCOUNT CODE</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- deal area end  -->


<!-- product list -->
<div class="product-list pt-100 mb-5">
    <div class="container index-card">
        <div class="row">
            <div class="col-12 col-md-4 product-list-column">
                <div class="card">
                    <div class="product-list-box">
                        <div class="card-header">
                            <h2 class="site-title">On sale</h2>
                        </div>
                        <div class="card-body bottom-list">
                            <div class="row">
                                {% for product in rand_on_sale_products %}
                                <div class="col-md-12 col-6 product-column">
                                    <div class="product-list-item">
                                        <div class="product-list-img">
                                            <a href="{% url 'shop:single' slug=product.slug %}">
                                                {% if product.image_1 %}
                                                    <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                                {% else %}
                                                    no image
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="product-list-content">
                                            <h4><a href="">{{product.name }}</a></h4>
                                            <div class="product-list-rate">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-list-price">
                                                <span>{{ product.customer_price|currency }}</span>
                                                <del>{{ product.customer_price|increase_by_10_percent|currency }}</del>
                                            </div>
                                            {% if product.id in products_in_cart %}
                                                <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                                    disabled>ADDED TO CART
                                                </button>
                                            {% else %}
                                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                                    class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                                    onclick="addToCart(this)">ADD TO CART
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <a href="" class="view-all">View All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 product-list-column">
                <div class="card">
                    <div class="product-list-box">
                        <div class="card-header">
                            <h2 class="site-title">Best Seller</h2>
                        </div>
                        <div class="card-body bottom-list">
                            <div class="row">
                                {% for product in rand_best_seller_products %}
                                <div class="col-md-12 col-6 product-column">
                                    <div class="product-list-item">
                                        <div class="product-list-img">
                                            <a href="{% url 'shop:single' slug=product.slug %}">
                                                {% if product.image_1 %}
                                                <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                                {% else %}
                                                no image
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="product-list-content">
                                            <h4><a href="">{{product.name }}</a></h4>
                                            <div class="product-list-rate">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-list-price">
                                                <span>{{ product.customer_price|currency }}</span>
                                                <del>{{ product.customer_price|increase_by_10_percent|currency }}</del>
                                            </div>
                                            {% if product.id in products_in_cart %}
                                                <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                                    disabled>ADDED TO CART
                                                </button>
                                            {% else %}
                                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                                    class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                                    onclick="addToCart(this)">ADD TO CART
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <a href="" class="view-all">View All</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 product-list-column">
                <div class="card">
                    <div class="product-list-box">
                        <div class="card-header">
                            <h2 class="site-title">Top Rated</h2>
                        </div>
                        <div class="card-body bottom-list">
                            <div class="row">
                                {% for product in rand_top_rated_products %}
                                <div class="col-md-12 col-6 product-column">
                                    <div class="product-list-item">
                                        <div class="product-list-img">
                                            <a href="{% url 'shop:single' slug=product.slug %}">
                                                {% if product.image_1 %}
                                                <img src="{{ product.image_1.url }}" alt="{{ product.name }}" id="product-image">
                                                {% else %}
                                                no image
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="product-list-content">
                                            <h4><a href="">{{product.name }}</a></h4>
                                            <div class="product-list-rate">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="product-list-price">
                                                <span>{{ product.customer_price|currency }}</span>
                                                <del>{{ product.customer_price|increase_by_10_percent|currency }}</del>
                                            </div>
                                            {% if product.id in products_in_cart %}
                                            <button type="button" class="btn btn-secondary item-id-{{ product.id }}"
                                                disabled>ADDED TO CART
                                            </button>
                                            {% else %}
                                                <button data-product="{{ product.id }}" data-action="add" type="button"
                                                    class="btn theme-btn add-to-cart-btn update-cart item-id-{{ product.id }}"
                                                    onclick="addToCart(this)">ADD TO CART
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <a href="" class="view-all">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product list end -->

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
        console.log("Document is ready");
        console.log({{ is_authenticated| lower }})

    // Check if the alert has already been shown in this session
    if (!sessionStorage.getItem('alertShown') && !{{ is_authenticated | lower }}) {
        console.log("Alert has not been shown in this session and user is anonymous");


        $.get(window.location.origin, function (data) {
            console.log("Received data from server:", data);
            if (data.has_existing_order && data.email) {
                console.log("User has existing order and email is available");
                Swal.fire({
                    title: 'Hello!',
                    text: `Hi! is your Email ${data.email}?`,
                    icon: 'info',
                    showCancelButton: true,
                    cancelAnimationFrame: true,
                    cancelButtonText: 'No',
                    confirmButtonText: 'Login',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/login/';
                    }
                });
                console.log("Setting alertShown to true in sessionStorage");
                // Set the alertShown session variable to true
                sessionStorage.setItem('alertShown', 'true');
            }
        });
    }
});
</script>
{% endblock %}