{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


        <!-- terms of service -->
        <div class="py-120" style="min-height: 79vh;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="terms-content">
                            <h3 style="color: var(--theme-color);">CASH ON DELIVERY (COD) TERMS AND CONDITIONS</h3>
                            <p>
                                By using the COD (Cash-on-Delivery) payment facility of TWC ONLINE STORE, I hereby agree to the following condition:
                            </p>
                            <p>
                                I will ensure that I and/or my authorized representative will be available to receive and pay for the orders, on the date and address specified.
                            </p>
                            <p>
                                Should you have any question(s), you can send a message at this link: <a href="https://m.me/contactcyra" target="_blank">https://m.me/contactcyra</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- terms of service end -->


    {% endblock %}