{% extends "base-dashboard.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- logistics dashboard -->
<div class="user-area bg py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'logistics/logistics-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-card">
                    <div class="user-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-card">
                                    <div class="user-card-header">
                                        <h4 class="user-card-title">Pending - For Booking</h4>
                                        <div class="user-card-header-right">
                                            <div class="user-card-search">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <i class="far fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive seller-order">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Order Date</th>
                                                    <th>Order Number</th>
                                                    <th>Seller Name</th>
                                                    <th>Products</th>
                                                    <th>Status</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in referred_orders %}
                                                <tr>
                                                    <td style="width: 15%;"><span>{{ order.created_at|date:"F d, Y" }}</span></td>
                                                    <td style="width: 15%;"><span>{{ order.order_id }}</span></span></td>
                                                    <td style="width: 15%;"><span>{{ order.user.referred_by}}</span></td>
                                                    <td style="width: 25%;">
                                                        <ul>
                                                            {% for item in order.orderitem_set.all %}
                                                                <li>{{ item.quantity }}x {{ item.product.name }}</li>  
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td style="width: 10%;">
                                                        {% if order.status == 'sponsor-review' %}
                                                            <span class="badge badge-{{ order.status|lower }}">SPONSOR REVIEW</span>
                                                        {% else %}
                                                            <span class="badge badge-{{ order.status|lower }}">{{ order.status|upper }}</span>
                                                        {% endif %}
                    
                                                        </span></td>
                                                    <td class="text-center" style="width: 20%;">
                                                        {% if order.status == 'pending' %}
                                                        <a href="{% url 'review_order' order_id=order.order_id %}" class="theme-btn">REVIEW ORDER</a>
                                                        {% endif %}
                                                    </td>
                                                    
                                                </tr>
                                                {% empty %}
                                                    <p>No orders from referred users.</p>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- pagination -->
                                    <!-- <div class="pagination-area mt-4 mb-3">
                                        <div aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-right"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <!-- pagination end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logistics dashboard end -->

{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    var urlParams = new URLSearchParams(window.location.search);
    var fulfiller = urlParams.get('fulfiller');
    var anyActive = $(".sidebar-list a.active").length > 0;
    
    $(".active").removeClass("active");
    
    if (fulfiller === 'Mandaluyong Hub') {
        $(".booking-mandaluyong").addClass("active");
    } else if (fulfiller === 'Sante Valenzuela Branch') {
        $(".booking-valenzuela").addClass("active");
    } else if (fulfiller === 'Sante CDO Branch') {
        $(".booking-cdo").addClass("active");
    } else {
        $(".booking-other").addClass("active");
    }

    var anyActive = $(".sidebar-list a.active").length > 0;
    
    if (anyActive) {
        $("#bookingCollapse").collapse('show');
    }
});
</script>
{% endblock %}