{% extends "base-dashboard.html" %}
{% load static %}
{% load currency_filters %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- logistics dashboard -->
<div class="user-area bg">
    <div id="logistics" class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'logistics/logistics-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-card">
                    <div class="user-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-card">
                                    <div class="user-card-header">
                                        <h4 class="user-card-title">Pending - For Booking</h4>
                                        <div class="user-card-header-right">
                                            <div class="user-card-search">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <i class="far fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive seller-order">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Order Date</th>
                                                    <th>Order Details</th>
                                                    <th>Shipping Details</th>
                                                    <th>Products</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td style="width: 3%;"><span>{{ forloop.counter }}</span></td>
                                                    <td style="width: 10%;"><span>{{ order.created_at|date:"F d, Y" }}</span></td>
                                                    <td style="width: 15%;">
                                                        <h6>
                                                            <u> 
                                                                {% if order.courier.fulfiller == "sante valenzuela" %}
                                                                    Valenzuela Branch
                                                                {% elif order.courier.fulfiller == "sante cdo" %}
                                                                    CDO Branch
                                                                {% elif order.courier.fulfiller == "mandaluyong hub" %}
                                                                    Mandaluyong Hub
                                                                {% else %}
                                                                    Other Fulfiller
                                                                {% endif %}
                                                            </u>
                                                        </h6>
                                                        <p>Order Number: {{ order.order_id }}</p>
                                                        <p>COD Amount: {{ order.cod_amount|currency }}</p>
                                                        <div class="divider mt-20"></div>
                                                        <p>Sponsor: {insert sponsor}</p>
                                                        <p>Mobile: {insert sponsor phone}</p>
                                                    </td>
                                                    <td style="width: 22%;">
                                                        <h6><u>{{ address.first_name }} {{ address.last_name }}</u></h6>
                                                        <p>Contact Number: {{ address.phone }}</p>
                                                        <p>Address: {{ address.line1 }}</p>
                                                        <p>Barangay: {{ address.barangay }}</p>
                                                        <p>City: {{ address.city }}</p>
                                                        <p>Province: {{ address.province }}</p>
                                                        <p>Region: {{ address.region }}</p>
                                                        <p>Postal Code: {{ address.postcode }}</p>
                                                        {% if address.message %}
                                                            <p class="mt-20"><b>**Shipping Notes: {{ address.message }}</b></p>
                                                        {% endif %}
                                                        {% if order.courier.booking_notes %}
                                                            <p class="mt-20"><b>**Booking Notes: {{ order.courier.booking_notes }}</b></p>
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: 15%;">
                                                        <ul>
                                                            {% for item in order.orderitem_set.all %}
                                                                <li>{{ item.quantity }}x {{ item.product.name }}</li>  
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    {% if order.status == 'for-booking' %}
                                                        <td class="text-center" style="width: 20%;" id="booking-action-status">
                                                            <button class="btn theme-btn action-btn"
                                                            onclick="bookOrder(this)"
                                                            data-courier-id="{{ order.courier.id }}"
                                                            data-courier-fulfiller="{{ order.courier.fulfiller }}"
                                                            data-courier-fulfiller_full="{{ order.courier.fulfiller|title }}">BOOK
                                                        </button>
                                                            <button class="btn btn-danger action-btn"
                                                            onclick="rejectOrder(this)"
                                                            data-courier-id="{{ order.courier.id }}">REJECT</button>
                                                        </td>
                                                    {% elif order.status == 'for-pickup' %}
                                                    <td class="text-center" style="width: 20%;">
                                                        <span class="badge badge-{{ order.status|lower }}">BOOKED</span>
                                                    </td>
                                                    {% endif %}
                                                    
                                                </tr>
                                                {% empty %}
                                                    <p>No orders from referred users.</p>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- pagination -->
                                    <!-- <div class="pagination-area mt-4 mb-3">
                                        <div aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-right"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <!-- pagination end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logistics dashboard end -->

{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    var urlParams = new URLSearchParams(window.location.search);
    var fulfiller = urlParams.get('fulfiller');
    var anyActive = $(".sidebar-list a.active").length > 0;
    
    $(".active").removeClass("active");
    
    if (fulfiller === 'mandaluyong hub') {
        $(".booking-mandaluyong").addClass("active");
    } else if (fulfiller === 'sante valenzuela') {
        $(".booking-valenzuela").addClass("active");
    } else if (fulfiller === 'sante cdo') {
        $(".booking-cdo").addClass("active");
    } else {
        $(".booking-other").addClass("active");
    }

    var anyActive = $(".sidebar-list a.active").length > 0;
    
    if (anyActive) {
        $("#bookingCollapse").collapse('show');
    }
});
</script>
{% endblock %}
