{% extends "base-dashboard.html" %}
{% load static %}
{% load currency_filters %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- logistics dashboard -->
<div class="user-area bg">
    <div id="logistics" class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'logistics/logistics-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-card">
                    <div class="user-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-card">
                                    <div class="user-card-header">
                                        <h4 class="user-card-title">Pending - For Booking</h4>
                                    </div>
                                    <div class="table-responsive seller-order">
                                        <table id="orders-table" class="table table-bordered table-hover table-striped logistics-table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Order Date</th>
                                                    <th>Order Details</th>
                                                    <th>Shipping Details</th>
                                                    <th>Products</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logistics dashboard end -->

{% endblock %}
{% block extra_js %}
<script>
    const logisticsBookingData = "{% url 'booking_data' %}"
</script>
<script>
$(document).ready(function() {
    var urlParams = new URLSearchParams(window.location.search);
    var fulfiller = urlParams.get('fulfiller');
    var anyActive = $(".sidebar-list a.active").length > 0;
    
    $(".active").removeClass("active");
    
    if (fulfiller === 'mandaluyong hub') {
        $(".booking-mandaluyong").addClass("active");
    } else if (fulfiller === 'sante valenzuela') {
        $(".booking-valenzuela").addClass("active");
    } else if (fulfiller === 'sante cdo') {
        $(".booking-cdo").addClass("active");
    } else {
        $(".booking-other").addClass("active");
    }

    var anyActive = $(".sidebar-list a.active").length > 0;
    
    if (anyActive) {
        $("#bookingCollapse").collapse('show');
    }
    
    $('#orders-table').DataTable({
      "processing": true,
      "serverSide": false,
      "paging": true,
      "ajax": {
          "url": logisticsBookingData,
          "type": "GET",
          "dataType": "json",
          "data": {  
                "fulfiller": fulfiller
            }
      },
      "columns": [
          { "data": "index" },
          { "data": "order_date" },
          { "data": "order_details" },
          { "data": "shipping_details" },
          { "data": "products" },
          { "data": "action", "className": "text-center" }
      ],
      "responsive": true,
      "pagingType": "full_numbers",
      "drawCallback": function (settings) {
      $('#orders-table').find('tbody tr').each(function() {
            $(this).children('td:eq(2)').css('max-width', '12%');
            $(this).children('td:eq(3)').css('max-width', '25%');
            $(this).children('td:eq(3)').css('max-width', '300px');
            $(this).children('td:eq(4)').css('max-width', '400px');
            $(this).children('td:eq(5)').css('width', '20%');
        });
      },
  });
});
</script>
{% endblock %}
