{% load static %}
{% load url_with_domain %}

<header class="header">
  <div class="main-navigation">
    <nav class="navbar navbar-expand-sm navbar-light" id="neubar">
      <div class="container">
        <a class="navbar-brand" href="{% url_with_domain 'home_view' %}"><img src="{% static 'img/logo/logo.png' %}" alt="TWC Online Store Logo" height="60" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url_with_domain 'home_view' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url_with_domain 'shop:shop' %}">Shop</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown">Admin Dashboard</a>
              <ul class="dropdown-menu fade-down">
                {% if user.is_seller %}
                  <li><a class="dropdown-item" href="{{ DASHBOARD_URL|add:'/seller' }}">Seller Dashboard</a></li>
                {% endif %}
                {% if user.is_staff %}
                  <li><a class="dropdown-item" href="{{ DASHBOARD_URL|add:'/logistics' }}">Logistics Dashboard</a></li>
                {% endif %}
                {% if user.is_supplier %}
                  <li><a class="dropdown-item" href="{{ DASHBOARD_URL|add:'/supplier' }}">Supplier Dashboard</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>