{% load static %}

{#<footer class="footer-area">#}
{#    <div class="copyright">#}
{#        <div class="container">#}
{#            <div class="copyright-wrap">#}
{#                <div class="row">#}
{#                    <div class="col-12 align-self-center">#}
{#                            <a href="#" class="footer-logo">#}
{#                                <img src="{% static 'img/logo/twc-logo.png' %}" alt="">#}
{#                            </a>#}
{#                        <p class="copyright-text">#}
{#                            &copy; Copyright <span id="date"></span> <a href="#"> TWC Online Store </a> All Rights#}
{#                            Reserved. <br> <i class="far fa-map-marker-alt"></i> B22 Lot 12, Senegal Street, Residencia Del#}
{#                            Rio, Catalunan Pequeno, Davao City, Davao del Sur, 8000#}
{#                            | <a class="footer-email" href="mailto:support@twconline.store"><i#}
{#                                class="far fa-envelope"></i> support@twconline.store</a> | <a href="tel:+639171425622"><i class="far fa-phone"></i> +639171425622</a>#}
{#                        </p>#}
{#                            <a class="footer-email" href="mailto:support@twcako.com"><i#}
{#                                            class="far fa-envelope"></i> &nbsp; support@twcako.com</a></li>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">
                <div class="col-md-6 col-lg-5">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="{% static 'img/logo/logo-light.png' %}" alt="">
                        </a>
                        <p class="mb-1">
                            TWC Online Store offers a curated selection of health products, bags, watches, and
                            accessories, designed to enhance your well-being and style. Explore our premium collection
                            and elevate your everyday life.
                        </p>
                        <div class="footer-call">
                            <div class="footer-call-icon">
                                <i class="fal fa-headset"></i>
                            </div>
                            <div class="footer-call-info">
                                <p>Need Any Help?</p>
                                <a href="tel:+639063728528">(+63) 906 372 8528</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3 footer-categories">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Product Category</h4>
                        <ul class="footer-list">
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-nutraceutical">Health & Wellness</a>
                            </li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-beverage">Healthy Beverages</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=sante-intimate_care">Intimate Care</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=bath-body">Bath & Body</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=chingu">Bags</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=mood">Watches</a></li>
                            <li><a href="{% url 'shop:shop' %}?category_id=accessories">Accessories</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Get In Touch</h4>
                        <p>Feel Free To Get In Touch With Us Today. We Are Ready To Help You.</p>
                        <ul class="footer-contact">
                            <li><a href="tel:+639063728528"><i class="far fa-phone"></i>+63 906 372 8528</a></li>
                            <li><i class="far fa-map-marker-alt"></i>B22 Lot 12, Senegal Street, Residencia Del Rio,
                                Catalunan Pequeno, Davao City, Davao del Sur, 8000
                            </li>
                            <li><a href="mailto:support@twcako.com"><i
                                    class="far fa-envelope"></i>support@twconline.store</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="#"> TWC Online Store </a> All Rights
                            Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>