{% load static %}

<footer class="footer-area">
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 align-self-center">
                        {#                            <a href="#" class="footer-logo">#}
                        {#                                <img src="{% static 'img/logo/twc-logo.png' %}" alt="">#}
                        {#                            </a>#}
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="#"> TWC Online Store </a> All Rights
                            Reserved. <br> <i class="far fa-map-marker-alt"></i> B22 Lot 12, Senegal Street, Residencia Del
                            Rio, Catalunan Pequeno, Davao City, Davao del Sur, 8000
                            | <a class="footer-email" href="mailto:support@twconline.store"><i
                                class="far fa-envelope"></i> support@twconline.store</a> | <a href="tel:+639171425622"><i class="far fa-phone"></i> +639171425622</a>
                        </p>
                        {#                            <a class="footer-email" href="mailto:support@twcako.com"><i#}
                        {#                                            class="far fa-envelope"></i> &nbsp; support@twcako.com</a></li>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
