{% load static %}

<footer class="footer-area">
        <div class="copyright">
            <div class="container">
                <div class="copyright-wrap">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <a href="#" class="footer-logo">
                                <img src="{% static 'img/logo/twc-logo.jpg' %}" alt="">
                            </a>
                            <p class="copyright-text">
                                &copy; Copyright <span id="date"></span> <a href="#"> Techo Wealth Creators </a> All Rights Reserved.
                            </p>
                            <a class="footer-email" href="mailto:support@twcako.com"><i
                                            class="far fa-envelope"></i> &nbsp; support@twcako.com</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
