{% load static %}

<div class="newsletter-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="newsletter-content">
                    <h3>Get <span>20%</span> Off Discount Coupon</h3>
                    <p>By Subscribe Our Newsletter</p>
                    <div class="subscribe-form">
                        <form action="#">
                            <input type="email" class="form-control" placeholder="Your Valid Email Address">
                            <button class="theme-btn" type="submit">
                                Subscribe <i class="far fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-img-1">
        <img src="{% static 'img/newsletter/01.png' %}" alt="">
    </div>
    <div class="newsletter-img-2">
        <img src="{% static 'img/newsletter/02.png' %}" alt="">
    </div>
</div>