{% extends "base-dashboard.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- user dashboard -->
<div class="user-area bg">
    <div id="seller" class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'seller/seller-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-card">
                                <div class="user-card-header">
                                    <h4 class="user-card-title">eCash</h4>
                                </div>
                                <div class="table-responsive seller-order">
                                    <table id="orders-table"
                                            class="table table-bordered table-hover table-striped logistics-table"
                                            cellspacing="0" width="100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Transaction Date</th>
                                                <th>Transaction Number</th>
                                                <th>Transaction Type</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user dashboard end -->

{% endblock %}
{% block extra_js %}
<script>
    const ecashData = "{% url 'ecash_data' %}"
    $(document).ready(function () {
        $(".active").removeClass("active");
        $(".ecash-sidebar").addClass("active");

        var dataTable = $('#orders-table').DataTable({
            "processing": true,
            "serverSide": false,
            "paging": true,
            dom: 'lBfrtip',
            "ajax": {
                "url": ecashData,
                "type": "GET",
                "dataType": "json",
            },
            "columns": [
                { "data": "index" },
                { "data": "transaction_date" },
                { "data": "transaction_number" },
                { "data": "transaction_type" },
                { "data": "description" },
                { "data": "amount" },
            ],
            buttons: [
                { extend: 'copy', className: 'btn btn-primary' },
                { extend: 'csv', className: 'btn btn-primary' },
                { extend: 'excel', className: 'btn btn-primary' },
                { extend: 'print', className: 'btn btn-primary' },
            ],
            "responsive": true,
            "pagingType": "full_numbers",
            "drawCallback": function (settings) {
                $('#orders-table').find('tbody tr').each(function () {
                    $(this).children('td:eq(3)').css('max-width', '300px');
                    $(this).children('td:eq(3)').css('max-width', '300px');
                    $(this).children('td:eq(4)').css('max-width', '400px');
                    $(this).children('td:eq(5)').css('width', '20%');
                });
            },
        });

        $(".dt-buttons").addClass("col-sm-6");
        $(".dt-search").addClass("col-sm-6");
    });
</script>
{% endblock %}