{% extends "base-dashboard.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<!-- user dashboard -->
<div class="user-area bg">
    <div id="seller">
        <div class="row">
            <div class="col-lg-3">
                {% include 'seller/seller-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-card">
                                <div class="user-card-header">
                                    <div class="row">
                                        <h4 class="user-card-title">Your Daily Prospecting Activity</h4>
                                        <p class="card-subtitle">Your Funnel Links | Script | Leads</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg card" style="width: auto;">
                                        {% include 'seller/prospecting-sidebar.html' %}
                                    </div>
                                    <div class="col-lg-9 card" style="padding-bottom: 50px;">
                                        <div class="mt-4">
                                            <div class="app-inner-layout__top-pane d-block d-sm-none">
                                                <div class="pane-left">
                                                    <div class="mobile-app-menu-btn">
                                                        <button type="button" class="hamburger hamburger--elastic">
                                                            <span class="hamburger-box">
                                                                <span class="hamburger-inner"></span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="avatar-icon-wrapper me-2">
                                                        <h3>
                                                            Sales Funnel Links
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="divider d-block d-sm-none"></div>
                                            <div class="bg-white">
                                                <div class="px-md-4">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <h5 class="d-md-none">TWC Seller's Program</h5>
                                                                <div class="col-md-4">
                                                                    <img class="img-fluid"
                                                                        src="https://ap-south-1.linodeobjects.com/twcako-storage/admin/2341369574.png"
                                                                        alt="twc-sellers-program">
                                                                    <input type="hidden" id="dfy-ref-link"
                                                                        value="https://m.me/technowealthcreators?ref=username--{{ user.username }}">
                                                                        <div class="input-group mb-2 mt-2">
                                                                            <input type="text" class="form-control" placeholder="DFY Ref Link" aria-label="Landing Page" aria-describedby="button-addon2" disabled>
                                                                            <button class="btn theme-btn btn-outline-secondary" 
                                                                                type="button" 
                                                                                id="dfy-ref-btn" 
                                                                                onclick="copyToClipboard('dfy-ref-link', 'dfy-ref-btn')">Copy
                                                                            </button>
                                                                        </div>
                                                                    <a href="https://www.facebook.com/everywear.twc"
                                                                        class="btn theme-btn w-100 my-3"
                                                                        target="_blank"><i class="fa fa-link"></i> Visit
                                                                        Sample Page</a>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <h4 class="d-none d-md-block">Scripts</h4>
                                                                    <div id="accordion" class="accordion-wrapper mb-3">
                                                                        <div class="card">
                                                                            <div id="headingOne" class="card-header">
                                                                                <button type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#script-1"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseOne"
                                                                                    class="text-start m-0 p-0 btn btn-link btn-block collapsed"
                                                                                    style="color: #343a40">
                                                                                    <h6 class="m-0 p-0">1. For Post
                                                                                        Reactions (Like, Heart, Wow)
                                                                                    </h6>
                                                                                </button>
                                                                            </div>
                                                                            <div data-parent="#accordion" id="script-1"
                                                                                aria-labelledby="headingOne"
                                                                                class="collapse" style="">
                                                                                <div class="card-body">
                                                                                    <p>“Hi Name, salamat sa pag react sa
                                                                                        post ko. 😊”</p>
                                                                                    <p>Then follow below script</p>
                                                                                    <p>For Comments – Reply to their
                                                                                        comments and send a message
                                                                                        directly</p>
                                                                                    <p>“Hi Name, Nakita ko yung comment
                                                                                        mo sa post ko. Thank you pala sa
                                                                                        comment mo. 😊</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card">
                                                                            <div id="headingOne" class="card-header">
                                                                                <button type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#script-2"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="collapseOne"
                                                                                    class="text-start m-0 p-0 btn btn-link btn-block collapsed"
                                                                                    style="color: #343a40">
                                                                                    <h6 class="m-0 p-0">2. Asking For
                                                                                        Support To Like the Page</h6>
                                                                                </button>
                                                                            </div>
                                                                            <div data-parent="#accordion" id="script-2"
                                                                                aria-labelledby="headingOne"
                                                                                class="collapse" style="">
                                                                                <div class="card-body">
                                                                                    <p>Kumusta Friend! </p>
                                                                                    <p>May hingin sana akong favor sayo.
                                                                                        Connected kasi ako ngayon sa
                                                                                        Techno Wealth Creators as one of
                                                                                        their Distributor. </p>
                                                                                    <p>I've been doing the business for
                                                                                        quite some time now and sobrang
                                                                                        OK kasi may mga automation tools
                                                                                        ang company when it comes to
                                                                                        selling online.</p>
                                                                                    <p>Part of our task kasi is to build
                                                                                        our business page and need ko at
                                                                                        least 500 page likes and 100
                                                                                        comments sa marketing video
                                                                                        before ako mag run ng Facebook
                                                                                        Advertisement. If pwede sana pa
                                                                                        like ng page and pa comment lang
                                                                                        ng “HOW” doon sa marketing video
                                                                                        ko. Sobrang laking tulong na ito
                                                                                        sa business ko friend. </p>
                                                                                    <p>WAIT FOR RESPONSE AND IF OK,</p>
                                                                                    <p>Ito yung links.</p>
                                                                                    <p>FACEBOOK PAGE : Your Page
                                                                                        Link<br>MARKETING VIDEO: Your
                                                                                        Marketing Video Link</p>
                                                                                    <p>Thank you friend, I really
                                                                                        appreciate your support. If
                                                                                        pwede mo din ma share yung page
                                                                                        sa mga friends mo, that would be
                                                                                        a big help sa business ko
                                                                                        friend.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mt-3">
                                                                    <div class="divider"></div>
                                                                    <div class="row mb-3">
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="id_ty_page"
                                                                                    class="form-label">Video 1</label>
                                                                                <input type="text" name="first_name"
                                                                                    value="0" maxlength="100"
                                                                                    class="textinput textInput form-control"
                                                                                    id="id_ty_page" readonly="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="id_presentation_page"
                                                                                    class="form-label">Video 2</label>
                                                                                <input type="text" name="first_name"
                                                                                    value="0" maxlength="100"
                                                                                    class="textinput textInput form-control"
                                                                                    id="id_presentation_page"
                                                                                    readonly="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="id_first_name"
                                                                                    class="form-label">Video 3</label>
                                                                                <input type="text" name="first_name"
                                                                                    value="0" maxlength="100"
                                                                                    class="textinput textInput form-control"
                                                                                    id="id_offer_page" readonly="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="id_first_name"
                                                                                    class="form-label">Checkout</label>
                                                                                <input type="text" name="first_name"
                                                                                    value="0" maxlength="100"
                                                                                    class="textinput textInput form-control"
                                                                                    id="id_checkout_page" readonly="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-responsive seller-order">
                                                                        <table id="orders-table"
                                                                                class="table table-bordered table-hover table-striped logistics-table"
                                                                                cellspacing="0" width="100%">
                                                                            <thead class="thead-dark">
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Date</th>
                                                                                    <th>Prospect Details</th>
                                                                                    <th>Video 1</th>
                                                                                    <th>Video 2</th>
                                                                                    <th>Video 3</th>
                                                                                    <th>Checkout</th>
                                                                                    <th>Checkout Link</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody></tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user dashboard end -->
{% endblock %}
{% block extra_js %}
<script>
    const twcSellersProgramData = "{% url 'twc_sellers_program_data' %}";
    $(document).ready(function () {
        $(".active").removeClass("active");
        $(".prospecting").addClass("active");
        $(".twc-program").addClass("active");
        var anyActive = $(".sidebar-list a.active").length > 0;
        if (anyActive) {
            $("#dailygrindsCollapse").collapse('show');
        }

        var dataTable = $('#orders-table').DataTable({
            "processing": true,
            "serverSide": false,
            "paging": true,
            dom: 'lBfrtip',
            "ajax": {
                "url": twcSellersProgramData,
                "type": "GET",
                "dataType": "json",
            },
            "columns": [
                { "data": "index" },
                { "data": "date" },
                { "data": "prospect_details" },
                { "data": "video_1" },
                { "data": "video_2" },
                { "data": "video_3" },
                { "data": "checkout" },
                { "data": "checkout_link" },
            ],
            buttons: [
                { extend: 'copy', className: 'btn btn-primary' },
                { extend: 'csv', className: 'btn btn-primary' },
                { extend: 'excel', className: 'btn btn-primary' },
                { extend: 'print', className: 'btn btn-primary' },
            ],
            "responsive": true,
            "pagingType": "full_numbers",
            "drawCallback": function (settings) {
                $('#orders-table').find('tbody tr').each(function () {
                    $(this).children('td:eq(3)').css('max-width', '300px');
                    $(this).children('td:eq(3)').css('max-width', '300px');
                    $(this).children('td:eq(4)').css('max-width', '300px');
                    $(this).children('td:eq(5)').css('max-width', '300px');
                });
            },
        });

        $(".dt-buttons").addClass("col-sm-6");
        $(".dt-search").addClass("col-sm-6");
    });

</script>
{% endblock %}