{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- forgot password -->
<div class="login-area py-100">
    <div class="container">
        <div class="col-md-5 mx-auto">
            <div class="login-form">
                <div class="login-header">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                    <p>Reset your TWCMART account password</p>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form id="forgotPasswordForm" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="small mb-1" for="id_email">Email Address</label>
                        <input type="email" name="email"  class="form-control"
                            autocomplete="email" maxlength="254" required id="id_email"
                            placeholder="Enter email">
                    </div>
                    <div class="d-flex align-items-center">
                        <button id="sendResetLinkBtn" type="submit" class="theme-btn"><i class="far fa-key"></i> Send Reset
                            Link</button>
                    </div>
                </form>
                <div class="login-footer mt-20 text-center">
                    <a href="{% url 'login:register' %}">Create A New Account</a><br><br>
                    <a href="{% url 'login:login' %}">Back To Login</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot password end -->

{% endblock %}

{% block extra_js %}
<script>
    const forgotPasswordURL = '{% url "login:password_reset" %}';
</script>
<script src="{% static 'js/forgot-password.js' %}"></script>
{% endblock %}