{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- forgot password -->
<div class="login-area py-100">
    <div class="container">
        <div class="col-md-5 mx-auto">

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="alert alert-warning">

                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
            {% else %}
            <div class="login-form">
                <div class="login-header">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                    <p>Reset your TWC Online Store account password</p>
                </div>

                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="small mb-1" for="id_new_password1">New Password</label>
                        <input type="password" name="password1" autocomplete="new-password"
                                class="form-control" required id="id_new_password1"
                                placeholder="Enter password"/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                        <input type="password" name="password2" autocomplete="new-password"
                                required id="id_new_password2" class="form-control"
                                placeholder="Confirm password"/>
                    </div>
                    <div class="d-flex align-items-center">
                        <button type="submit" class="theme-btn"><i class="far fa-key"></i> Reset Password</button>
                    </div>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- forgot password end -->

{% endblock %}