{% extends "base-dashboard.html" %}
{% load url_with_domain %}
{% load currency_filters %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg dashboard-parallax"></div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">Supplier Dashboard</h4>
                    <ul class="breadcrumb-menu">
                        <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- user dashboard -->
        <div class="user-area bg">
            <div id="supplier">
                <div class="row">
                    <div class="col-lg-3">
                        {% include 'supplier/supplier-sidebar.html' %}
                    </div>
                    <div class="col-lg-9">
                        <div class="user-wrapper">
                            <div class="user-card">
                                <h4 class="user-card-title">Summary</h4>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-1">
                                            <div class="dashboard-widget-info">
                                                <h1>15</h1>
                                                <span>Pending Orders</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-shopping-bag"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-2">
                                            <div class="dashboard-widget-info">
                                                <h1>350</h1>
                                                <span>Total Sales</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-credit-card"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-3">
                                            <div class="dashboard-widget-info">
                                                <h1>$520</h1>
                                                <span>Your Balance</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-wallet"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-4">
                                            <div class="dashboard-widget-info">
                                                <h1>$1,500</h1>
                                                <span>Total Earnings</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-sack-dollar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-1">
                                            <div class="dashboard-widget-info">
                                                <h1>50</h1>
                                                <span>Completed Orders</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-box-check"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-4">
                                        <div class="dashboard-widget color-2">
                                            <div class="dashboard-widget-info">
                                                <h1>230k</h1>
                                                <span>Total Visitors</span>
                                            </div>
                                            <div class="dashboard-widget-icon">
                                                <i class="fal fa-globe"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="user-card">
                                        <h4 class="user-card-title">Sales</h4>
                                        <div class="user-chart">
                                            <div id="chart"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="user-card user-country">
                                        <h4 class="user-card-title">Top Countries</h4>
                                        <div class="user-country-list">
                                            <ul>
                                                <li>
                                                    <img src="assets/img/country/US.svg" alt="">
                                                    <h6>United States</h6>
                                                    <span>$150</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/UK.svg" alt="">
                                                    <h6>United Kingdom</h6>
                                                    <span>$220</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/CA.svg" alt="">
                                                    <h6>Canada</h6>
                                                    <span>$340</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/JO.svg" alt="">
                                                    <h6>Jordan</h6>
                                                    <span>$180</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/BR.svg" alt="">
                                                    <h6>Brazil</h6>
                                                    <span>$110</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/UK.svg" alt="">
                                                    <h6>United Kingdom</h6>
                                                    <span>$140</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/CA.svg" alt="">
                                                    <h6>Canada</h6>
                                                    <span>$550</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/JO.svg" alt="">
                                                    <h6>Jordan</h6>
                                                    <span>$270</span>
                                                </li>
                                                <li>
                                                    <img src="assets/img/country/BR.svg" alt="">
                                                    <h6>Brazil</h6>
                                                    <span>$520</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="user-card">
                                        <div class="user-card-header">
                                            <h4 class="user-card-title">Recent Orders</h4>
                                            <div class="user-card-header-right">
                                                <a href="vendor-order.html" class="theme-btn">View All Orders</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-borderless text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>#Order No</th>
                                                        <th>Purchased Date</th>
                                                        <th>Total</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-info">Pending</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-primary">Processing</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-success">Completed</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-danger">Cancelled</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-success">Completed</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-success">Completed</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="table-list-code">#35VR5K54</span></td>
                                                        <td>January 21, 2023</td>
                                                        <td>$3,650</td>
                                                        <td><span class="badge badge-success">Completed</span></td>
                                                        <td>
                                                            <div class="user-action-dropdown dropdown">
                                                                <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="far fa-ellipsis"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="vendor-order-detail.html"><i class="far fa-eye"></i> Order Details</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-pen-swirl"></i> Pending</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-circle-dashed"></i> Processing</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-check-circle"></i> Completed</a></li>
                                                                    <li><a class="dropdown-item" href="#"><i class="far fa-xmark-circle"></i> Cancel</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user dashboard end -->

    </main>

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $(".dashboard-sidebar").addClass("active");
    });
</script>
{% endblock %}