{% extends "base.html" %}
{% load url_with_domain %}
{% load currency_filters %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- breadcrumb -->
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img\breadcrumb\01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">Dashboard</h4>
            <ul class="breadcrumb-menu">
                <li><a href="index.html"><i class="far fa-home"></i> Home</a></li>
                <li class="active">Dashboard Address</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- user dashboard -->
<div id="dashboard-content" class="user-area bg py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'user/dashboard-user-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-card">
                                <div class="user-card-header">
                                    <h4 class="user-card-title">Add New Address</h4>
                                    <div class="user-card-header-right">
                                        <a href="{% url 'dashboard_address' %}" class="theme-btn"><span class="fas fa-arrow-left"></span>Address List</a></button>
                                    </div>
                                </div>
                                <div class="user-form">
                                    <form action="{% url 'dashboard_address' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control inputFirstName" placeholder="First Name"
                                                        name="first_name" required>
                                                    {% if form.errors.first_name %}
                                                    <div class="text-danger">{{ form.errors.first_name }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control inputLastName" placeholder="Last Name"
                                                        name="last_name" required>
                                                    {% if form.errors.last_name %}
                                                    <div class="text-danger">{{ form.errors.last_name }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control inputEmail" placeholder="Email Address"
                                                        name="email" required>
                                                    {% if form.errors.email %}
                                                    <div class="text-danger">{{ form.errors.email }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text country-code"
                                                                id="inputGroup-sizing-default">+63</span>
                                                        </div>
                                                        <input type="text" class="form-control inputEmail" aria-label="Default"
                                                            aria-describedby="inputGroup-sizing-default"
                                                            placeholder="Phone Number" name="phone" required>
                                                    </div>
                                                    {% if form.errors.phone %}
                                                    <div class="text-danger">{{ form.errors.phone }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Address Line 1</label>
                                                    <input type="text" class="form-control inputLine1" placeholder="Address Line 1"
                                                        name="line1" required>
                                                    {% if form.errors.line1 %}
                                                    <div class="text-danger">{{ form.errors.line1 }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Address Line 2</label>
                                                    <input type="text" class="form-control inputLine2" placeholder="Address Line 2"
                                                        name="line2">
                                                    {% if form.errors.line2 %}
                                                    <div class="text-danger">{{ form.errors.line2 }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="regionDropdown">Region</label>
                                                    <select class="form-select regionDropdown" name="region" required>
                                                        <option selected>- Select Region -</option>
                                                        <!-- Options will be populated dynamically by jQuery -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="provinceDropdown">Province</label>
                                                    <select class="form-select provinceDropdown" name="province" required>
                                                        <option selected>- Select Province -</option>
                                                        <!-- Options will be populated dynamically by jQuery -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="cityDropdown">City</label>
                                                    <select class="form-select cityDropdown" name="city" required>
                                                        <option selected>- Select City -</option>
                                                        <!-- Options will be populated dynamically by jQuery -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="barangayDropdown">Barangay</label>
                                                    <select class="form-select barangayDropdown" name="barangay" required>
                                                        <option selected>- Barangay -</option>
                                                        <!-- Options will be populated dynamically by jQuery -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 barangayInputBox" style="display: none;">
                                                <div class="input-group mb-3 ">
                                                    <label class="input-group-text">Other</label>
                                                    <input type="text" class="form-control" placeholder="Specify Barangay" name="barangay_input">
                                                </div>
                                            </div>
                                    
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Postal Code</label>
                                                    <input type="text" class="form-control inputPostcode" placeholder="Postcode" name="postcode" required>
                                                    {% if form.errors.postcode %}
                                                    <div class="text-danger">{{ form.errors.postcode }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Shipping Notes</label>
                                                    <textarea cols="30" rows="4" class="form-control"
                                                        placeholder="Your Message" name="message"></textarea>
                                                    {% if form.errors.message %}
                                                    <div class="text-danger">{{ form.errors.message }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit" id="addUserData" class="theme-btn">Add Address</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/dashboardview.js' %}"></script>
<script src="{% static 'js/view-order.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $(".address-tab").addClass("active");
    });
</script>
{% endblock %}