{% load static %}

<div class="sidebar">
    <div class="sidebar-top">
        <form method="post" enctype="multipart/form-data" action="">
            <div class="sidebar-profile-img">
                {% if image %}
                	<img src="{{ image }}" alt="Profile Picture">
                {% else %}
                	<img src="{% static 'img/user/default_profile.png' %}" alt="Profile Picture">
                {% endif %}
            </div>
            <!-- Separate submit button for the image form -->
        </form>
        {% if first_name and last_name %}
        	<h5>{{ first_name }} {{ last_name }}</h5>
        {% else %}
        	<a href="{% url 'dashboard-profile' %}"><i class="fa-regular fa-pen-to-square"></i> Update Profile</a>
        {% endif %}
        <p>{{ user.email }}</p>
    </div>
    <ul class="sidebar-list">
        <li><a class="dashboard-tab" href="/"><i class="far fa-gauge-high"></i> Dashboard</a></li>
        <li><a class="shop-tab" href="/"><i class="fas fa-shopping-cart"></i> Shop</a></li>
        <li><a class="profile-tab" href="{% url 'dashboard-profile' %}"><i class="far fa-user"></i> My Profile</a></li>
        <li><a class="order-history-tab" href="{% url 'order-history' %}"><i class="far fa-map-location-dot"></i> Order History</a></li>
        <li><a class="nav__link" href="{% url 'logout' %}"><i class="far fa-sign-out"></i> Logout</a>
        </li>
    </ul>
</div>