{% load static %}

<div class="sidebar">
    <div class="sidebar-top">
        <form method="post" enctype="multipart/form-data" action="">
            <div class="sidebar-profile-img">
                <img src="{{ image }}" alt="Profile Picture">
            </div>
            <!-- Separate submit button for the image form -->
        </form>
        <h5>{{ first_name }} {{ last_name }}</h5>
        <p>{{ user.email }}</p>
    </div>
    <ul class="sidebar-list">
        <li><a class="dashboard-tab" href="/"><i class="far fa-gauge-high"></i> Dashboard</a></li>
        <li><a class="profile-tab" href="{% url 'dashboard-profile' %}"><i class="far fa-user"></i> My Profile</a></li>
        <li><a class="order-history-tab" href="{% url 'order-history' %}"><i class="far fa-map-location-dot"></i> Order History</a></li>
        <li><a class="nav__link" href="{% url 'logout' %}"><i class="far fa-sign-out"></i> Logout</a>
        </li>
    </ul>
</div>