{% extends "base.html" %}
{% load currency_filters %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <!-- user dashboard -->
    <div id="dashboard-content" class="user-area bg py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'user/dashboard-user-sidebar.html' %}
                </div>
                <div class="col-lg-9">
                    <div class="user-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-card user-order-detail">
                                    <div class="user-card-header">
                                        <h4 class="user-card-title">Order Detail</h4>
                                        <div class="user-card-header-right">
                                            <a href="{% url 'order-history' %}" class="theme-btn">
                                                <span class="fas fa-arrow-left"></span>Order History
                                            </a>
                                        </div>
                                    </div>
                                    <div class="user-card user-track-order">
                                        <div class="track-order-content" style="margin-top: 0px!important;">
                                            <h5>Order Number: <span>{{ order.order_number }}</span></h5>
                                            <div class="track-order-info">
                                                <a href=""><span>Shipped Via:</span>
                                                    {% if order.courier %}
                                                        {{ order.courier|upper }}
                                                    {% else %}
                                                        TBA
                                                    {% endif %}
                                                </a>
                                                <a href="">Status: <span
                                                        id="order-status-{{ order.order_number }}">
                                                    {% if order.status == "afs" %}
                                                        Approved for Shipping
                                                    {% elif order.status == "for-pickup" %}
                                                        Order for Pickup
                                                    {% else %}
                                                        {{ order.status|title }}
                                                    {% endif %}
                                                </span></a>
                                                <a href=""><span>ESTIMATED DELIVERY:</span>
                                                    {% if region_group == 'ncr' %}
                                                        NCR: 2-3 Days
                                                    {% elif region_group == 'luzon' %}
                                                        Luzon: 3-5 Days
                                                    {% elif region_group == 'visayas' %}
                                                        Visayas: 5-7 Days
                                                    {% elif region_group == 'mindanao' %}
                                                        Mindanao: 7-10 Days
                                                    {% else %}
                                                        To be estimated
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="track-order-step">
                                                <div class="step-item completed">
                                                    <div class="step-icon">
                                                        <i class="fal fa-shopping-cart"></i>
                                                    </div>
                                                    <h6>Order Placed</h6>
                                                </div>
                                                <div class="step-item {% if order.status in for_shipping %}completed{% endif %}">
                                                    <div class="step-icon">
                                                        <i class="fal fa-cog"></i>
                                                    </div>
                                                    <h6>Preparing to Ship</h6>
                                                </div>
                                                <div class="step-item {% if order.status in shipping %}completed{% endif %}">
                                                    <div class="step-icon">
                                                        <i class="fal fa-truck-fast"></i>
                                                    </div>
                                                    <h6>Shipping</h6>
                                                </div>
                                                <div class="step-item {% if order.status in delivered %}completed{% endif %}">
                                                    <div class="step-icon">
                                                        <i class="fal fa-home"></i>
                                                    </div>
                                                    <h6>Delivered</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in order.products %}
                                                <tr>
                                                    <td>
                                                        <div class="table-list-info">
                                                            <a href="#">
                                                                <div class="table-list-img">
                                                                    {% if item.image_1 %}
                                                                        <img src="{{ item.image_1 }}"
                                                                             alt="{{ item.name }}">
                                                                    {% else %}
                                                                        No image
                                                                    {% endif %}
                                                                </div>
                                                                <div class="table-list-content">
                                                                    <h6>{{ item.name }}</h6>
                                                                    <span>Item SKU: {{ item.sku }}</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>{{ item.customer_price|floatformat:2|currency }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="order-detail-content">
                                                <h5>Shipping Address</h5>
                                                <p>{{ order.address.name }} {{ order.address.last_name }}</p>
                                                <p><i class="far fa-location-dot"></i>
                                                    {{ order.address.address }}
                                                </p>
                                                <p>
                                                    Brgy. {{ order.address.barangay }},
                                                    {{ order.address.city }},
                                                    {{ order.address.province }},
                                                    {{ order.address.region }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="order-detail-content">
                                                <h5>Order Summary</h5>
                                                <ul>
                                                    <li>Subtotal:<span>{{ order.subtotal|currency }}</span></li>
                                                    <li>Shipping:<span>{{ 120|currency }}</span></li>
                                                    {% if order.discount %}
                                                        <li>Discount:<span>{{ order.discount|currency }}</span></li>
                                                    {% endif %}
                                                    <li>Total:<span>{{ order.cod_amount|currency }}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/dashboardview.js' %}"></script>
    <script src="{% static 'js/view-order.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".active").removeClass("active");
            $(".order-history-tab").addClass("active");
        });
    </script>
{% endblock %}