{% for order, items in ordered_items.items %}
<div id="order-card-{{order.order_id}}" class="card mb-20">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-6 text-left">
                    <a href="{% url 'shop:shop' %}?category_id={{order.supplier}}"
                        style="margin-top: 10px; color: #11B76B;">
                        <i class="fa-solid fa-store"></i> Shop:
                        {% if order.supplier == "sante" %}
                        Sante International
                        {% endif %}
                        {% if order.supplier == "mood" %}
                        Mood Timepieces
                        {% endif %}
                        {% if order.supplier == "chingu" %}
                        Chingu
                        {% endif %}
                        {% if order.supplier == None %}
                        Promo Bundle
                        {% endif %}
                    </a>
                </div>
                <div class="col-6 text-right">
                    <h6 class="badge badge-{{ order.status|lower }}">
                        {% if order.status == "for-booking" %}
                        FOR BOOKING
                        {% elif order.status == "for-pickup" %}
                        FOR PICKUP
                        {% else %}
                        {{ order.status|upper }}
                        {% endif %}
                    </h6>
                </div>
            </div>
            <hr>
        </div>
        <div class="cart-table card-text">
            <h6>Order Number: {{ order.order_id }}</h6>
            <div class="table-responsive">
                <table class="table cart-table" id="product-table-{{ order.order_id }}">
                    <tbody class="cart-body">
                        {% for item in items %}
                        <tr class="cart-product" id="product-row-{{ item.product.id }}">
                            <td>
                                <div class="table-list-info">
                                    <a href="{% url 'dashboard_order_detail' %}?order_id={{order.order_id}}">
                                        <div class="table-list-img">
                                            {% if item.product.image_1 %}
                                            <img src="{{ item.product.image_1.url }}" alt="{{ item.product.name }}">
                                            {% else %}
                                            No image
                                            {% endif %}
                                        </div>
                                        <div class="table-list-content">
                                            <h6>{{ item.product.name }}</h6>
                                            <p>Item SKU: {{ item.product.sku }}</p>
                                            <p>Qty: x{{ item.quantity }}</p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td style="width: 15%;">
                                <div class="shop-cart-subtotal">
                                    <span class="product-subtotal">
                                        {{item.product.customer_price|currency}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ul>
                <li class="shop-cart-total">
                    <h6 class="text-right mr-3">Order Total: <span id="cart-total" style="font-size: 24px;">{{ order.cod_amount|currency }}</span></h6>
                </li>
            </ul>
            <div class="text-end mt-40">
                <a href="{% url 'shop:shop' %}?category_id={{order.supplier}}" class="theme-btn">Buy
                    Again</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="card mb-20">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-6 text-left"><a href="www.twconline.store:/shop/?category_id=sante"
                        style="margin-top: 10px; color: #11B76B;"><i class="fa-solid fa-store"></i> Shop: Sante</a>
                </div>
                <div class="col-6 text-right">
                    <h6 class="badge badge-pending">pending</h6>
                </div>
            </div>
            <hr>
        </div>
        <div class="cart-table card-text">
            <h6>Order Number: TWC1715152965352</h6>
            <div class="table-responsive">
                <table class="table cart-table">
                    <tbody class="cart-body"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <ul>
            <li class="shop-cart-total">
                <h6 class="text-right mr-3">Order Total: <span style="font-size: 24px;">1140.00</span>
                </h6>
            </li>
        </ul>
        <div class="text-end mt-40"><a href="www.twconline.store:/shop/?category_id=sante" class="theme-btn">Buy
                Again</a></div>
    </div>
</div>