{% load static %}

<div class="user-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-card">
                    <h4 class="user-card-title">Profile Info</h4>
                    <div class="user-form">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <form method="post" enctype="multipart/form-data" action="{% url 'dashboard' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="{{ user.first_name }}"
                                            placeholder="{{ user.first_name }}" name="first_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="{{ user.last_name }}"
                                            placeholder="{{ user.last_name }}" name="last_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" value="{{ user.username }}"
                                            placeholder="{{ user.username }}" name="username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control"
                                            value="{{ user.email }}" placeholder="{{ user.email }}" name="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control"
                                            value="{{ user.mobile }}" placeholder="{{ user.mobile }}" name="mobile">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="formFile" class="form-label">Choose a Profile Picture</label>
                                        <input class="form-control" type="file" id="formFile" name="image">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="theme-btn"><span class="far fa-user"></span> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="user-card">
                    <h4 class="user-card-title">Change Password</h4>
                    <div class="col-lg-12">
                        <div class="user-form">
                            <a href="{% url 'login:change_password' %}" class="theme-btn"><span class="far fa-key"></span> Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

               