<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</section>
<section class="order">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="row shipping-details">
                    <div class="col-4 ps-5">
                        <h1>01</h1>
                    </div>
                    <div class="col-8">
                        <p>SHIPPING ADDRESS</p>
                        <span>Billing details.</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="row payment-method">
                    <div class="col-4">
                        <h1>02</h1>
                    </div>
                    <div class="col-8">
                        <p>PAYMENT METHOD</p>
                        <span>Your payment method.</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="row order-received">
                    <div class="col-4">
                        <h1>03</h1>
                    </div>
                    <div class="col-8">
                        <p>ORDER RECEIVED</p>
                        <span>We have got your order.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>