#checkout-complete {
    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    .sm-order-details {
        margin-top: 10px;
    }

    .order-detail {
        margin-top: 15px;
    }

    .sm-delivery {
        margin-top: 15px;
    }

    table {
        margin-top: 30px;
    }
}

/* HEADER */

.header-list {
    display: flex;
    align-items: center;
}

.header-list .nav-item {
    display: flex;
    align-items: center;
}

.header-list .nav-link {
    display: flex;
    align-items: center;
}


.header-list .shop-cart{
    font-size: 20px!important;
}

.header-list .list-item span{
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: var(--color-white);
    background: var(--color-red);
    border-radius: 50px;
    font-size: 12px;
    right: -14px;
    top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: inline!important;
    margin: auto;
}

/* Index */

.index-category{
    display: grid!important;
}

.index-category .icon {
    width: 75px!important;
    height: 75px!important;
    border: 1px solid
}

.index-category .icon .img {
    width: 52px!important;
}

.index-category .content h4{
    display: grid!important;
    margin-top: 10px;
    text-align-last: center;
}

.index-card .card{
    border-radius: 12px;
}

.index-card .card-header{
    background-color: var(--theme-color);
    border-radius: 12px 12px 0 0;
}

.index-card .card-header h2{
    color: var(--color-white);
}

.index-card .card-header h4{
    color: var(--color-white);
}

.index-card .card-header a{
    color: var(--color-white);
    outline: 1px solid
}

.index-card .card-header a:hover{
    color: var(--theme-color);
}

.index-card .card-body{
    background-color: var(--theme-bg-light5);
    padding: 30px 15px;
    border-radius: 0 0 10px 10px;
}

.index-card .product-body{
    background-color: var(--color-white)!important;
    border-radius: 0 0 10px 10px;
}


.index-card .product-body .product-item{
    background-color: var(--color-white)!important;
}

.index-card .index-card-body{
    background-color: var(--color-white)!important;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.index-card .product-img{
    display: grid;
    height: 280.5px;
    background-color: #E1E4EB;
    align-content: center;
}

.index-card .product-item{
    padding: 0 10px;
    background-color: var(--theme-bg-light5);
    margin-bottom: 5px;
}

.index-card .product-content{
    margin: 0;
    padding: 10px;
    background-color: var(--color-white);
    height: 125px;
}

.index-card .product-price span{
    color: var(--color-dark);
    font-weight: 600;
    font-size: larger;
}

.index-card .product-button{
    margin-top: 8px;
    display: grid;
}


.index-card .bottom-list{
    background-color: var(--color-white)!important;
    padding: 15px!important;
}

.index-card .product-list-item{
    background-color: var(--color-white)!important;
    height: 180px;
    margin: 10px 0;
}

.index-card .product-list-content button{
    margin-top: 8px!important;
    width: 100%;
}

.index-deal-area2 .deal-content{
    height: 525px;
}


.index-deal-area2 .deal-content h2{
    color: var(--color-yellow2);
    font-size: 70px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 5vh;
}

.index-deal-area2 .deal-content h1{
    color: var(--color-yellow2);
    font-size: 115px;
    font-weight: 800;
    line-height: 110px;
}

.index-deal-area2 .deal-content h3{
    color: var(--color-white);
    font-weight: 500;
    font-size: 48px;
}



.index-deal-area2 .deal-content p{
    color: var(--color-white);
    margin-top: 20px;
    font-size:x-large;
    font-weight: 400;
}

.index-deal-area2 .deal-btn {
    margin-top: 5px;
}

.index-deal-area2 .deal-btn a{
    color: var(--color-pink)!important;
    background-color: var(--color-yellow2);
    font-weight: 900;
    font-size: xx-large;
    padding: 5px 30px;
    border-radius: 5px;
}

.twc-big-banner {
    position: relative;
    width: 100%;
}

.twc-big-banner .banner-wrap {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 37vh;
}

/* SHOP */

.index-card .index-card-body button{
    background-color: var(--theme-color);
    color: var(--color-white);
    border-radius: 7px;
    position: relative!important;
}

.index-card .index-card-body .form-control{
    padding: 12px 45px 8px 5px;
}


.index-card .index-card-body .theme-btn i{
    margin: 0;
}

.index-card .index-card-body input{
    padding-bottom: 8px;
    border-radius: 0;
    border: unset;
    border-bottom: 1px solid var(--body-text-color);
}

.index-card .index-card-body button:hover{
    background-color: var(--color-white);
    color: var(--theme-color);
    outline: 1px solid var(--theme-color);
}

.products-list{
    background-color: unset;
}

.products-list.product-item{
    background-color: unset;
    margin-bottom: 10px!important;
}

.products-list .product-img{
    display: grid;
    background-color: #E1E4EB;
    align-content: center;
}

.products-list .product-img.grid-type{
    height: 266px;
}

.products-list .product-img.list-type{
    height: 220px;
}

.products-list .product-title{
    margin-top: 8px;
}

.products-list .current-product-price{
    color: var(--color-dark);
    font-size: large;
    font-weight: 800;
}

.products-list button{
    margin-top: 10px;
    width: 100%;
}

.products-list .btn-secondary{
    background-color: var(--color-white);
    color: var(--theme-color);
    font-weight: 600;
    outline: 1px solid;
}

.products-list .products-list-view button{
    width: 40%;
    margin-top: 7px;
    border-radius: 7px;
}

.products-list .product-action {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; 
    pointer-events: none;
    visibility: hidden;
}

.products-list:hover .product-action {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition-delay: 0s;
}
.products-list .product-action a{
    background-color: var(--color-white);
    color: var(--color-gray2);
    outline: 1px solid
}

.products-list .product-action a:hover{
    background-color: var(--theme-color);
    color: var(--color-white);
}


.modal-btn.btn.btn-secondary{
    background-color: var(--color-white)!important;
    color: var(--theme-color)!important;
    font-weight: 600!important;
    outline: 1px solid!important;
    cursor: default;
}



/* SELLER DASHBOARD */

#logistics {
    display: inline;
}

/* #logistics .user-wrapper {
    padding-right: 20px;
} */

.dt-buttons,
.dt-search {
    display: inline-block;
    vertical-align: middle;
}

.dt-length,
.dt-buttons,
.dt-search {
    margin-bottom: 10px;
}

.dt-search {
    margin-left: auto;
}

.dt-paging ul.pagination {
    justify-content: flex-end;
}

/* product rating */

.product-rate .fa-star {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.shop-single-rating .fa-star {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}


/* CHAT WITH SELLER */

#chat-seller {
    position: fixed;
    bottom: -10px; /* Positioned off-screen initially */
    right: 110px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px 10px 0 0;
    color: var(--color-white);
    background-color: var(--theme-color);
    cursor: pointer;
    width: 12vw; /* Increased width */
    height: 50px; /* Increased height */
    line-height: 60px;
    text-align: center;
    box-shadow: var(--box-shadow2);
    transition: bottom 0.3s, background-color 0.3s;
    opacity: 1;
    visibility: visible;
}

#chat-seller:hover {
    bottom: 0; /* Move to the bottom of the screen on hover */
    background-color: #0056b3; /* Darker shade for hover */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


/* SUPPLIER DASHBOARD */

#supplier {
    margin: 30px 10px;
    padding: 25px 10px;

}

#seller {
    margin: 30px 10px;
}

.seller-order span {
    font-size: small;
}


.seller-order li {
    font-size: small;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.seller-order a {
    font-size: small;
}

.seller-order p {
    font-size: small;
}

.seller-order h6 {
    font-size: 15px !important;
}

.seller-order .nav-link.active {
    background-color: #11B76B;
    font-weight: 500;

}

.seller-order .nav-item button {
    font-size: large;
    color: #081828;
    font-weight: 500;

}

.seller-order .nav-link.active {
    background-color: #11B76B;
    font-weight: 500;
    color: #fff;
}

.seller-order .nav-link {
    font-size: large;
    color: #081828;
    font-weight: 500;
    padding: 10px 15px;
}

.seller-order .nav-link:hover {
    background-color: #11B76B;
    color: #fff; 
}

.seller-order .nav-item a {
    font-size: large;
    color: #081828;
    font-weight: 500;
    width: 10vw;
    text-align: center;

}



/* LOGISTICS DASBOARD */

.label-left {
    text-align: justify;
}

.label-left label {
    font-size: 11pt;
}

.label-left select {
    height: 50px;
}

.label-left input {
    height: 50px;
}

.btn-toggle-label {
    font-size: 0.8rem;
}

#yesToggle.active {
    color: white;
    background-color: #007bff;
    /* Blue color for "Yes" */
}

#noToggle.active {
    color: white;
    background-color: #6c757d;
    /* Gray color for "No" */
}

#neubar {
    background: white;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);

}

#logistics-sidebar {
    padding: 10px 15px;
    background-color: white;
}

#logistics-sidebar a {
    font-size: 15px;
}

#logistics-sidebar li {
    margin: 0;
}

.action-btn {
    font-size: small !important;
    padding: 8px 20px !important;
    border-radius: 10px;
    min-width: 90px;
    height: 40px;
    margin: 0 5px;
}

/* logistics Table */

.logistics-table thead {
    --bs-table-bg: #343A40;
}

.logistics-table th {
    color: white !important;
    font-size: medium;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: grey;
    text-decoration: none;
}

a.disabled:hover {
    text-decoration: none;
}

/* parallax */

.dashboard-parallax {
    background-image: url("../img/banner/supplier-dashboard.jpg");
    padding: 70px;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* For small screens (≥576px) */
@media (min-width: 576px) {
    #checkout-complete {
        h3 {
            font-size: 20px;
        }

        h5 {
            font-size: 14px;
        }

        .col-md-6 {
            margin-top: 0;
        }

        .order-detail {
            margin-top: 10px;
        }

        .sm-delivery {
            margin-top: 0;
        }

    }

}

/* For medium screens (≥768px) */
@media (min-width: 768px) {
    #checkout-complete {
        h3 {
            font-size: 20px;
        }

        h5 {
            font-size: 14px;
        }

        .col-md-6 {
            margin-top: 20px;
        }

        .sm-order-details {
            margin-top: 20px;
        }
    }

    /* Additional styles for specific elements */
}

/* For large screens (≥992px) */
@media (min-width: 992px) {
    #checkout-complete {
        .order-detail {
            margin-top: 50px;
        }

        .col-md-6 {
            margin-top: 0;
        }

        .sm-order-details {
            margin-top: 0;
        }

        .order-detail {
            margin-top: 30px;
        }

        table {
            margin-top: 50px;
        }
    }
}

/* For extra large screens (≥1200px) */
@media (min-width: 1200px) {
    #checkout-complete {
        h3 {
            font-size: 28px;
        }

        h5 {
            font-size: 18px;
        }

        .col-md-6 {
            margin-top: 0;
        }
    }

}