#checkout-complete {
    h3 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    .sm-order-details {
        margin-top: 10px;
    }

    .order-detail {
        margin-top: 15px;
    }

    .sm-delivery {
        margin-top: 15px;
    }

    table {
        margin-top: 30px;
    }
}

/* SELLER DASHBOARD */

#logistics {
    display: inline;
}

/* #logistics .user-wrapper {
    padding-right: 20px;
} */

.dt-buttons,
.dt-search {
    display: inline-block;
    vertical-align: middle;
}

.dt-length,
.dt-buttons,
.dt-search {
    margin-bottom: 10px;
}

.dt-search {
    margin-left: auto;
}

.dt-paging ul.pagination {
    justify-content: flex-end;
}

#supplier {
    margin: 30px 10px;
    padding: 25px 10px;

}

#seller {
    margin: 30px 10px;
}

.seller-order span {
    font-size: small;
}


.seller-order li {
    font-size: small;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.seller-order a {
    font-size: small;
}

.seller-order p {
    font-size: small;
}

.seller-order h6 {
    font-size: 15px !important;
}

.seller-order .nav-link.active {
    background-color: #11B76B;
    font-weight: 500;

}

.seller-order .nav-item button {
    font-size: large;
    color: #081828;
    font-weight: 500;

}

.seller-order .nav-link.active {
    background-color: #11B76B;
    font-weight: 500;
    color: #fff;
}

.seller-order .nav-link {
    font-size: large;
    color: #081828;
    font-weight: 500;
    padding: 10px 15px;
}

.seller-order .nav-link:hover {
    background-color: #11B76B;
    color: #fff; 
}

.seller-order .nav-item a {
    font-size: large;
    color: #081828;
    font-weight: 500;
    width: 10vw;
    text-align: center;

}



/* LOGISTICS DASBOARD */

.label-left {
    text-align: justify;
}

.label-left label {
    font-size: 11pt;
}

.label-left select {
    height: 50px;
}

.label-left input {
    height: 50px;
}

.btn-toggle-label {
    font-size: 0.8rem;
}

#yesToggle.active {
    color: white;
    background-color: #007bff;
    /* Blue color for "Yes" */
}

#noToggle.active {
    color: white;
    background-color: #6c757d;
    /* Gray color for "No" */
}

#neubar {
    background: white;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);

}

#logistics-sidebar {
    padding: 10px 15px;
    background-color: white;
}

#logistics-sidebar a {
    font-size: 15px;
}

#logistics-sidebar li {
    margin: 0;
}

.action-btn {
    font-size: small !important;
    padding: 8px 20px !important;
    border-radius: 10px;
    min-width: 90px;
    height: 40px;
    margin: 0 5px;
}

/* logistics Table */

.logistics-table thead {
    --bs-table-bg: #343A40;
}

.logistics-table th {
    color: white !important;
    font-size: medium;
}

/* parallax */

.dashboard-parallax {
    background-image: url("../img/banner/supplier-dashboard.jpg");
    padding: 70px;

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* For small screens (≥576px) */
@media (min-width: 576px) {
    #checkout-complete {
        h3 {
            font-size: 20px;
        }

        h5 {
            font-size: 14px;
        }

        .col-md-6 {
            margin-top: 0;
        }

        .order-detail {
            margin-top: 10px;
        }

        .sm-delivery {
            margin-top: 0;
        }

    }

}

/* For medium screens (≥768px) */
@media (min-width: 768px) {
    #checkout-complete {
        h3 {
            font-size: 20px;
        }

        h5 {
            font-size: 14px;
        }

        .col-md-6 {
            margin-top: 20px;
        }

        .sm-order-details {
            margin-top: 20px;
        }
    }

    /* Additional styles for specific elements */
}

/* For large screens (≥992px) */
@media (min-width: 992px) {
    #checkout-complete {
        .order-detail {
            margin-top: 50px;
        }

        .col-md-6 {
            margin-top: 0;
        }

        .sm-order-details {
            margin-top: 0;
        }

        .order-detail {
            margin-top: 30px;
        }

        table {
            margin-top: 50px;
        }
    }
}

/* For extra large screens (≥1200px) */
@media (min-width: 1200px) {
    #checkout-complete {
        h3 {
            font-size: 28px;
        }

        h5 {
            font-size: 18px;
        }

        .col-md-6 {
            margin-top: 0;
        }
    }

}