{% extends "base-dashboard.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

        <!-- user add product -->
        <div class="user-area bg py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-wrapper">
                            <div class="user-card">
                                <div class="user-card-header">
                                    <h4 class="user-card-title">Add New Product</h4>
                                    <a href="{% url 'products:product_list' %}" class="theme-btn"><span class="far fa-arrow-left"></span>All Products</a>
                                </div>
                                    <div class="user-form">
                                        <h6 class="mb-20">Basic Information</h6>
                                        <form id="addProduct" method="POST" action="{% url 'products:add_product' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row align-items-center">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>SKU</label>
                                                            <input type="text" class="form-control"
                                                                placeholder="SKU" name="sku" required>
                                                                {% for error in form.sku.errors %}
                                                                    <div class="error">{{ error }}</div>
                                                                {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Category 1</label>
                                                        <select class="select" name="category_1">
                                                            <option value="">Choose Category</option>
                                                            <option value="promos">Promos</option>
                                                            <option value="sante">Sante Product</option>
                                                            <option value="twc">TWC Product</option>
                                                            <option value="chingu">Chingu</option>
                                                            <option value="mood">Mood Timepieces</option>
                                                            <option value="sante-package">Sante | Package</option>
                                                        </select>
                                                        {% for error in form.category.errors %}
                                                            <div class="error">{{ error }}</div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Category 2</label>
                                                        <select class="select" name="category_2">
                                                            <option value="">Choose Category</option>
                                                            <option value="sante-nutraceutical">Sante | Nutraceutical</option>
                                                            <option value="sante-beverage">Sante | Beverage</option>
                                                            <option value="sante-intimate_care">Sante | Intimate Care</option>
                                                            <option value="twc-freebie">TWC | Freebie</option>
                                                            <option value="chingu-bundle">Chingu | Bundle</option>
                                                            <option value="mood-bundle">Mood Timepieces | Bundle</option>
                                                            <option value="promo">Promos</option>
                                                        </select>
                                                        {% for error in form.category.errors %}
                                                            <div class="error">{{ error }}</div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Product Name</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Name" name="name">
                                                            {% for error in form.name.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        <div class="form-text">
                                                            Maximum 100 characters. No HTML or emoji allowed.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Supplier Price</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Price in Php" name="supplier_price">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Franchisee Price</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Price in Php" name="franchisee_price">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Distributor Price</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Price in Php" name="distributor_price">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Seller Price</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Price in Php" name="seller_price">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>Customer Price</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Price in Php" name="customer_price">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>

                                                <h6 class="mt-20 mb-20">Other Information:</h6>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Feature</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Feature" name="feature">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Advantage</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Advantage" name="advantage">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Benefit</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Benefit" name="benefit">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Specification</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Specification" name="specification">
                                                            {% for error in form.price.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <h6 class="mt-20 mb-20">Detailed Information:</h6>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Description 1</label>
                                                        <textarea class="form-control" placeholder="Short Description"
                                                            cols="30" rows="1" name="description_1" required></textarea>
                                                            {% for error in form.description.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label>Description 2</label>
                                                        <textarea class="form-control" placeholder="Long Description"
                                                            cols="30" rows="5" name="description_2"></textarea>
                                                            {% for error in form.description.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <h6 class="mt-20 mb-20">Upload Images</h6>
                                                <div class="form-group">
                                                    <div class="form-upload-wrapper">
                                                        <label for="id_image_1">Image 1</label>
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="image_1" id="id_image_1" />
                                                            {% for error in form.image_1.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-upload-wrapper">
                                                        <label for="id_image_2">Image 2</label>
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="image_2" id="id_image_2" />
                                                            {% for error in form.image_2.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-upload-wrapper">
                                                        <label for="id_image_3">Image 3</label>
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="image_3" id="id_image_3" />
                                                            {% for error in form.image_3.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-upload-wrapper">
                                                        <label for="id_image_4">Image 4</label>
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="image_4" id="id_image_4" />
                                                            {% for error in form.image_4.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-upload-wrapper">
                                                        <label for="id_image_5">Image 5</label>
                                                        <div class="form-group">
                                                            <input type="file" class="form-control" name="image_5" id="id_image_5" />
                                                            {% for error in form.image_5.errors %}
                                                                <div class="error">{{ error }}</div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="theme-btn"><span class="far fa-save"></span> Submit Your Product</button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user add product end -->
{% endblock %}