{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="og:title" content="TWC Online Store"/>
    <meta property="og:description"
          content="Discover a wide range of high-quality products at TWC Online Store. 
          From health and wellness to fashion and accessories, shop with ease and enjoy fast, reliable shipping. 
          Your one-stop destination for all your shopping needs!"/>
    <meta property="og:image" content="{% static 'img/logo/logo.png' %}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="336"/>
    <meta property="og:image:height" content="91"/>


    <!-- Meta Pixel Code -->
    {% if sponsor_fb_pixel %}
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }
            (window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '{{ sponsor_fb_pixel }}');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id={{ sponsor_fb_pixel }}&ev=PageView&noscript=1"/>
        </noscript>
    {% endif %}

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
    </script>
    <script>
        (function () {
            var savedTheme = localStorage.getItem('twc-theme');
            document.documentElement.setAttribute('data-theme', savedTheme === 'dark' ? 'dark' : 'light');
        }());
    </script>

    <!-- title -->
    <title>TWC Store | {{ title }}</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">

    <!-- css -->
    {% include 'base/css.html' %}
    {% block extra_css %}{% endblock %}
</head>

<body class="home-6">
<!-- FB PIXEL Tracking Custom Event -->
{%  if sponsor_fb_pixel %}
    {% block fb_pixel_event %}{% endblock %}
{% endif %}

<!-- preloader -->
<div class="preloader">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- preloader end -->

<!-- loader -->
<div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<!-- loader end -->

<!-- header area -->
{% include 'base/header.html' %}
<!-- header area end -->
{% include 'base/cart-drawer.html' %}

<main class="main">

    {% block content %}{% endblock content %}


</main>
<!-- footer area -->
{% include 'base/footer.html' %}
<!-- footer area end -->

<!-- cart-top -->
<a href="#" role="button" id="scroll-top" data-cart-drawer-open="true" class="cart-link shop-cart list-item"><i
        class="fa-solid fa-cart-shopping"></i>
    <span id="lower-cart-count">{{ cart_items }}</span></a>
<!-- cart end -->

<!-- js -->
{% include 'base/js.html' %}
{% block extra_js %}{% endblock %}


</body>

</html>
