{% load static %}
{% load url_with_domain %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>

    <!-- title -->
    <title>{{ title }}</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}">

    <!-- css -->
    {% include 'base/css.html' %}
    {% block extra_css %}{% endblock %}
</head>

<body class="home-6">

    <!-- preloader -->
    <div class="preloader">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- header area -->
    {% include 'base/header.html' %}
    <!-- header area end -->

    <main class="main">

        {% block content %}{% endblock content %}

        <!-- {% include 'base/newsletter.html' %} -->

    </main>
    <!-- footer area -->
    {% include 'base/footer.html' %}
    <!-- {% include 'base/footer.html' %} -->
    <!-- footer area end -->

    <!-- chat -->
    {% if referrer %}
        <a href="{{ referrer }}" id="chat-seller" aria-label="Chat with seller">
            <i class="fa-solid fa-message" aria-hidden="true"></i> Chat
        </a>
    {% endif %}
    <!-- chat end -->

    <!-- cart-top -->
    <a href="{% url_with_domain 'cart:cart' %}" id="scroll-top" class="cart-link shop-cart list-item"><i class="fa-solid fa-cart-shopping"></i>
        <span id="lower-cart-count">{{ cart_items }}</span></a>
    <!-- cart end -->

    <!-- js -->
    {% include 'base/js.html' %}
    {% block extra_js %}{% endblock %}
    
    
</body>

</html>
