{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block extra_css %}
    <style>
        h4 {
            font-size: 18px;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block content %}


    <!-- return policy -->
    <div class="py-120" style="min-height: 79vh;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="terms-content">
                        <h3 style="color: var(--theme-color);">Return / Refund Policy</h3>
                        <p>
                            We have a 7-day return policy, which means you have 7 days after receiving your item to
                            request a return.
                        </p>
                        <p>
                            To be eligible for a return, your item must be in the same condition that you received it,
                            unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or
                            proof of purchase</p>
                        <p>
                            To start a return, you can contact us at <a href="mailto:support@twconline.store">support@twconline.store</a>.
                        </p>
                        <p>If your return is accepted, we’ll send you the return shipping details as well as
                            instructions on how and where to send your package. Items sent back to us without first
                            requesting a return will not be accepted.
                        </p>
                        <p>You can always contact us for any return question at <a
                                href="mailto:support@twconline.store">support@twconline.store</a>.</p>
                        <h4>Damages and issues</h4>
                        <p>Please inspect your order upon reception and contact us immediately if the item is defective,
                            damaged or if you receive the wrong item, so that we can evaluate the issue and make it
                            right. </p>
                        <h4>Exceptions / Non-Returnable items</h4>
                        <p>Certain types of items cannot be returned, like perishable goods (such as food, flowers, or
                            plants), custom products (such as special orders or personalized items), and personal care
                            goods (such as beauty products). We also do not accept returns for hazardous materials,
                            flammable liquids, or gases. Please get in touch if you have questions or concerns about
                            your specific item.</p>
                        <p>Unfortunately, we cannot accept returns on sale items or gift cards.</p>
                        <h4>Exchanges</h4>
                        <p>The fastest way to ensure you get what you want is to return the item you have, and once the
                            return is accepted, make a separate purchase for the new item.</p>
                        <h4>Refunds</h4>
                        <p>We will notify you once we’ve received and inspected your return, and let you know if the
                            refund was approved or not. If approved, you’ll be automatically refunded on your original
                            payment method. Please remember it can take some time for your bank or credit card company
                            to process and post the refund too.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- return policy end -->


{% endblock %}