{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block extra_css %}
    <style>
        h4 {
            font-size: 18px;
            font-weight: 500;
        }

        h3 {
            color: var(--theme-color);
            position: relative;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
            
        }
    </style>
{% endblock %}

{% block content %}


    <!-- return policy -->
    <div class="py-120" style="min-height: 79vh;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="terms-content">
                        <h3>Terms of Service</h3>

                        <h4>OVERVIEW</h4>
                        <p>
                            This website is operated by TWC IT Solutions. Throughout the site, the terms “we”, “us” and
                            “our” refer to TWC IT Solutions. TWC IT Solutions offers this website, including all
                            information, tools, and services available from this site to you, the user, conditioned upon
                            your acceptance of all terms, conditions, policies, and notices stated here.
                        </p>

                        <p>
                            By visiting our site and/or purchasing something from us, you engage in our “Service” and
                            agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”),
                            including those additional terms and conditions and policies referenced herein and/or
                            available by hyperlink. These Terms of Service apply to all users of the site, including
                            without limitation users who are browsers, vendors, customers, merchants, and/or
                            contributors of content.
                        </p>

                        <p>
                            Please read these Terms of Service carefully before accessing or using our website. By
                            accessing or using any part of the site, you agree to be bound by these Terms of Service. If
                            you do not agree to all the terms and conditions of this agreement, then you may not access
                            the website or use any services. If these Terms of Service are considered an offer,
                            acceptance is expressly limited to these Terms of Service.
                        </p>

                        <p>
                            Any new features or tools added to the current store shall also be subject to the Terms of
                            Service. You can review the most current version of the Terms of Service at any time on this
                            page. We reserve the right to update, change, or replace any part of these Terms of Service
                            by posting updates and/or changes to our website. It is your responsibility to check this
                            page periodically for changes. Your continued use of or access to the website following the
                            posting of any changes constitutes acceptance of these changes.
                        </p>

                        <h3>SECTION 1 - ONLINE STORE TERMS</h3>
                        <p>
                            By agreeing to these Terms of Service, you represent that you are at least the age of
                            majority in your state or province of residence or that you are the age of majority in your
                            state or province of residence and you have given us consent to allow any of your minor
                            dependents to use this site.
                        </p>

                        <p>
                            You may not use our products for any illegal or unauthorized purpose nor may you, in the use
                            of the Service, violate any laws in your jurisdiction (including but not limited to
                            copyright laws). You must not transmit any worms, viruses, or any code of a destructive
                            nature.
                        </p>

                        <p>
                            A breach or violation of any of the Terms will result in an immediate termination of your
                            Services.
                        </p>

                        <h3>SECTION 2 - GENERAL CONDITIONS</h3>
                        <p>
                            We reserve the right to refuse service to anyone for any reason at any time. You understand
                            that your content (not including credit card information) may be transferred unencrypted and
                            involve (a) transmissions over various networks and (b) changes to conform and adapt to
                            technical requirements of connecting networks or devices. Credit card information is always
                            encrypted during transfer over networks.
                        </p>

                        <p>
                            You agree not to reproduce, duplicate, copy, sell, resell, or exploit any portion of the
                            Service, use of the Service, or access to the Service or any contact on the website through
                            which the service is provided, without express written permission from us.
                        </p>

                        <p>
                            The headings used in this agreement are included for convenience only and will not limit or
                            otherwise affect these Terms.
                        </p>

                        <h3>SECTION 3 - ACCURACY, COMPLETENESS, AND TIMELINESS OF INFORMATION</h3>
                        <p>
                            We are not responsible if information made available on this site is not accurate, complete,
                            or current. The material on this site is provided for general information only and should
                            not be relied upon or used as the sole basis for making decisions without consulting
                            primary, more accurate, more complete, or more timely sources of information. Any reliance
                            on the material on this site is at your own risk.
                        </p>

                        <p>
                            This site may contain certain historical information. Historical information is not current
                            and is provided for your reference only. We reserve the right to modify the contents of this
                            site at any time, but we have no obligation to update any information on our site. You agree
                            that it is your responsibility to monitor changes to our site.
                        </p>

                        <h3>SECTION 4 - MODIFICATIONS TO THE SERVICE AND PRICES</h3>
                        <p>
                            Prices for our products are subject to change without notice.
                        </p>

                        <p>
                            We reserve the right at any time to modify or discontinue the Service (or any part or
                            content thereof) without notice at any time. We shall not be liable to you or to any third
                            party for any modification, price change, suspension, or discontinuance of the Service.
                        </p>

                        <h3>SECTION 5 - PRODUCTS OR SERVICES (if applicable)</h3>
                        <p>
                            Certain products or services may be available exclusively online through the website. These
                            products or services may have limited quantities and are subject to return or exchange only
                            according to our Return Policy.
                        </p>

                        <p>
                            We have made every effort to display as accurately as possible the colors and images of our
                            products that appear at the store. We cannot guarantee that your computer monitor's display
                            of any color will be accurate.
                        </p>

                        <p>
                            We reserve the right to limit the sales of our products or Services to any person,
                            geographic region, or jurisdiction on a case-by-case basis. We reserve the right to limit
                            the quantities of any products or services that we offer and to discontinue any product at
                            any time.
                        </p>

                        <p>
                            We do not warrant that the quality of any products, services, information, or other material
                            purchased or obtained by you will meet your expectations or that any errors in the Service
                            will be corrected.
                        </p>

                        <h3>SECTION 6 - ACCURACY OF BILLING AND ACCOUNT INFORMATION</h3>
                        <p>
                            We reserve the right to refuse any order you place with us. We may, in our sole discretion,
                            limit or cancel quantities purchased per person, household, or order. These restrictions may
                            include orders placed by or under the same customer account, the same credit card, and/or
                            orders using the same billing and/or shipping address.
                        </p>

                        <p>
                            You agree to provide current, complete, and accurate purchase and account information for
                            all purchases made at our store. For more details, please review our Returns Policy.
                        </p>

                        <h3>SECTION 7 - THIRD-PARTY LINKS</h3>
                        <p>
                            Certain content, products, and services available via our Service may include materials from
                            third parties. We are not responsible for examining or evaluating the content or accuracy of
                            third-party websites, and we do not warrant any third-party materials, products, or
                            services.
                        </p>

                        <p>
                            We are not liable for any harm or damages related to purchases or use of goods, services,
                            resources, content, or other transactions made in connection with third-party websites.
                        </p>

                        <h3>SECTION 8 - USER COMMENTS, FEEDBACK, AND OTHER SUBMISSIONS</h3>
                        <p>
                            If, at our request, you send submissions, or without our request you send creative ideas,
                            suggestions, proposals, plans, or other materials, you agree that we may, without
                            restriction, edit, copy, publish, distribute, and otherwise use in any medium any comments
                            that you forward to us.
                        </p>

                        <h3>SECTION 9 - ERRORS, INACCURACIES, AND OMISSIONS</h3>
                        <p>
                            Occasionally, there may be information on our site that contains typographical errors,
                            inaccuracies, or omissions that may relate to product descriptions, pricing, promotions,
                            offers, product shipping charges, transit times, and availability. We reserve the right to
                            correct any such errors and to cancel orders if any information in the Service is
                            inaccurate.
                        </p>

                        <h3>SECTION 10 - PROHIBITED USES</h3>
                        <p>
                            In addition to other prohibitions, you are prohibited from using the site or its content for
                            unlawful purposes, violating intellectual property rights, submitting false information, and
                            other prohibited activities outlined in the Terms.
                        </p>

                        <h3>SECTION 11 - DISCLAIMER OF WARRANTIES; LIMITATION OF LIABILITY</h3>
                        <p>
                            We do not guarantee that your use of our service will be uninterrupted or error-free. All
                            products and services delivered to you through the service are provided “as is” and “as
                            available,” without any representation, warranties, or conditions of any kind.
                        </p>

                        <p>
                            In no case shall TWC IT Solutions, our directors, officers, employees, affiliates, agents,
                            contractors, interns, suppliers, service providers, or licensors be liable for any injury,
                            loss, claim, or damages of any kind, even if advised of their possibility.
                        </p>

                        <h3>SECTION 12 - INDEMNIFICATION</h3>
                        <p>
                            You agree to indemnify, defend, and hold harmless TWC IT Solutions, its affiliates,
                            partners, officers, and employees from any claim due to your breach of these Terms of
                            Service.
                        </p>

                        <h3>SECTION 13 - SEVERABILITY</h3>
                        <p>
                            If any provision of these Terms of Service is determined to be unlawful, the unenforceable
                            portion shall be deemed severed, and such determination shall not affect the validity of the
                            remaining provisions.
                        </p>

                        <h3>SECTION 14 - TERMINATION</h3>
                        <p>
                            These Terms of Service are effective unless and until terminated by either you or us. If you
                            violate any term or provision, we may terminate this agreement at any time without notice.
                        </p>

                        <h3>SECTION 15 - ENTIRE AGREEMENT</h3>
                        <p>
                            These Terms of Service and any policies or operating rules posted by us constitute the
                            entire agreement and understanding between you and us.
                        </p>

                        <h3>SECTION 16 - GOVERNING LAW</h3>
                        <p>These Terms of Service shall be governed by and construed in accordance with the laws of the
                            Republic of the Philippines.</p>
                        <h3>SECTION 17 - CHANGES TO TERMS OF SERVICE</h3>
                        <p>We reserve the right to update or change any part of these Terms of Service by posting
                            updates and changes to our website. It is your responsibility to check our website
                            periodically for changes. </p>
                        <h3>SECTION 18 - CONTACT INFORMATION </h3>
                        <p>Feel free to get in touch with us for any questions about these Terms of Service or our
                            services:</p>
                        <ul>
                            <li>**Phone: <a href="tel:+639063728528">+63 906 372 8528</a></li>
                            <li>**Email: <a href="mailto:support@twconline.store">support@twconline.store</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- return policy end -->


{% endblock %}