{% extends "base-dashboard.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- logistics pickup dashboard -->
<div class="user-area bg" style="height: 85vh;">
    <div id="logistics" class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'logistics/logistics-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-card">
                    <div class="user-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="user-card">
                                    <div class="user-card-header">
                                        <h4 class="user-card-title">Pending - For Pickup</h4>
                                    </div>
                                    <div class="table-responsive table-hover seller-order">
                                        <table id="orders-table" class="table table-bordered table-hover table-striped logistics-table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Pickup Date</th>
                                                    <th>Order #</th>
                                                    <th>Receiver</th>
                                                    <th>Courier</th>
                                                    <th>Products</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logistics pickup dashboard end -->

{% endblock %}
{% block extra_js %}


<script>
$(document).ready(function() {
    $(".active").removeClass("active");
    $(".pickup-sidebar").addClass("active");

    $('#orders-table').DataTable({
      "processing": true,
      "serverSide": false,
      "paging": true,
      "ajax": {
          "url": logisticsPickupData,
          "type": "GET",
          "dataType": "json",
      },
      "columns": [
          { "data": "index" },
          { "data": "pickup_date" },
          { "data": "order_id" },
          { "data": "receiver" },
          { "data": "courier" },
          { "data": "products" },
          { "data": "action", "className": "text-center" }
      ],
      "responsive": true,
      "pagingType": "full_numbers",
      "drawCallback": function (settings) {
      $('#orders-table').find('tbody tr').each(function() {
          $(this).children('td:eq(3)').css('max-width', '300px');
          $(this).children('td:eq(3)').css('max-width', '300px');
          $(this).children('td:eq(4)').css('max-width', '400px');
          $(this).children('td:eq(5)').css('width', '20%');
        });
      },
  });
  console.log("DataTables initialized.");
});

function rebookOrder(button) {
  var courierId = $(button).data('courier-id');
  var spinner = $(".sk-circle");
  var backdrop = $(".backdrop");

  Swal.fire({
        title: 'Are you sure you want to rebook this order?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#11B76B',
        cancelButtonColor: '#E56975',
        confirmButtonText: 'Yes, rebook it!',
        cancelButtonText: 'Cancel',
        html:
        '<p style="text-align: left; margin-left: 5px;">Rebooking Notes *</p>' +
        '<textarea id="swal-input1" class="swal2-input" style="width:28rem; height:7rem; margin-top:2px;" placeholder="Ex: Change pouch size to large"></textarea>'
  }).then((result) => {
    if (result.isConfirmed) {
        var rebookingNotes = $('#swal-input1').val();
        spinner.addClass("visible");
        backdrop.addClass("visible");
        $.ajax({
            url: rejectOrderUrl,
            type: 'POST',
            data: {
                courier_id: courierId,
                new_status: 'for-booking',
                rebooking_notes: rebookingNotes,
            },
            headers: {
              "X-CSRFToken": csrf
            },
            success: function(response) {
                Swal.fire(
                    'Rebooked!',
                    'The order has been rejected.',
                    'success'
                );
                var row = $(button).closest('tr');
                var seventhTd = row.find('td').eq(6);
                seventhTd.html('<span class="badge badge-for-booking">REBOOKED</span>');
                spinner.removeClass("visible");
                backdrop.removeClass("visible");
                console.log("Success:", response);
                
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                Swal.fire(
                    'Error!',
                    'Failed to reject the order. Please try again later.',
                    'error'
                );
                spinner.removeClass("visible");
                backdrop.removeClass("visible");
            }
        });
    }
});
}

function pickupOrder(button) {
  var courierId = $(button).data('courier-id');
  var spinner = $(".sk-circle");
  var backdrop = $(".backdrop");

  Swal.fire({
      title: 'Are you sure that this package is already picked up?',
      text: "Warning: You won't be able to revert this!",
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#11B76B',
      cancelButtonColor: '#E56975',
      confirmButtonText: 'Yes!',
      cancelButtonText: 'Cancel'
  }).then((result) => {
    if (result.isConfirmed) {
        spinner.addClass("visible");
        backdrop.addClass("visible");
        $.ajax({
            url: rejectOrderUrl,
            type: 'POST',
            data: {
                courier_id: courierId,
                new_status: 'shipping'
            },
            headers: {
              "X-CSRFToken": csrf
            },
            success: function(response) {
                Swal.fire(
                    'SUCCESS!',
                    'The order has been shipped.',
                    'success'
                );
                var row = $(button).closest('tr');
                var seventhTd = row.find('td').eq(6);
                seventhTd.html('<span class="badge badge-shipping">SHIPPING</span>');
                spinner.removeClass("visible");
                backdrop.removeClass("visible");
                console.log("Success:", response);
                
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
                Swal.fire(
                    'Error!',
                    'Failed to reject the order. Please try again later.',
                    'error'
                );
                spinner.removeClass("visible");
                backdrop.removeClass("visible");
            }
        });
    }
});
}
</script>
{% endblock %}