{% extends 'funnels/products/base.html' %}
{% load static %}
{% load currency_filters %}

{% block head_title %} Thank You {% endblock %}

{% block fb_pixel_event %}
    <script>
        fbq('track', 'Purchase', {
            content_category: "Seller Package",
            content_name: "TWC Seller's Program",
            content_type: "product",
            content_ids: ["SANTE001",],
            contents: [{"id": "TWC001", "quantity": 1},],
            currency: "PHP",
            value: "299.70",
        });
    </script>
{% endblock %}

{% block custom_css %}
    <link href="{% static 'funnel/products/custom_css/thank_you.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/twc-custom.css' %}">
{% endblock %}

<style>
    {% block css %}
        body {
            margin: 0 !important;
            padding: 0 !important;
            background-color: #eeeeee;
        }
        .payment-method, .shipping-details {
            h1, p, span {
                color: #56a27b !important;
            }
        }
        #promo-thank-you {
            .index-card {
                .card-header {
                    background-color: #3D835F;
                }

                .cart-summary {
                    h1, h3, p {
                        color: #3D835F;
                    }
                }
            }

            th:nth-child(4), td:nth-child(4), th.price-column {
                text-align: right;
                padding-right: 15px;
            }
        }
        @media only screen and (max-width: 480px) {
            .ps-5 {
                padding: 0 12px !important;
            }

            .order {
                padding: 30px 10px;

                h1 {
                    font-size: 45px;
                    text-align: center;
                }

                p {
                    font-size: 20px;
                    margin: 0;
                }

                span {
                    font-size: 16px;
                }
            }

            .details {
                padding: 0;
            }

            .twc-checkout-complete {
                & .index-card {
                    & .checkout-complete {
                        & .checkout-payment {
                            & h5 {
                                span {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

    {% endblock %}
</style>


{% block content %}
    {% include 'funnels/checkout/header.html' %}
    <section id="promo-thank-you">
        <div id="checkout-complete" class="shop-checkout-complete twc-checkout-complete py-120 mobile-width">
            <div class="container">
                <div class="card index-card order-completed-card">
                    <div class="card-header">
                        <h2>ORDER COMPLETED</h2>
                    </div>
                    <div class="card-body cart-summary text-center">
                        <h1>THANK YOU</h1>

                        <h3>YOUR ORDER HAS BEEN RECEIVED</h3>
                        <p>
                            For any concern, please feel free to Contact Us.
                            {#                        {% if sponsor_mobile %}#}
                            {#                            contact us at {{ sponsor_mobile }}#}
                            {#                        {% elif referrer %}#}
                            {#                            <button class="contact-us-btn btn theme-btn" onclick="window.open('{{ referrer }}', '_blank')" >#}
                            {#                                Contact Us#}
                            {#                            </button>#}
                            {#                        {% else %}#}
                            {#                            Contact Us.#}
                            {#                        {% endif %}#}
                        </p>

                        {#                {% if not user.is_authenticated %}#}
                        {#                    <div class="card login-info">#}
                        {#                        <div class="card-body track-order-body">#}
                        {#                            <h4 style="color: var(--color-dark);">Please save your login details to track your order.</h4>#}
                        {#                            <h6>Username: {{ username }}</h6>#}
                        {#                            <h6>Password: {{ password }}</h6>#}
                        {#                            <h6>Email: {{ email }}</h6>#}
                        {#                        </div>#}
                        {#                    </div> #}
                        {#                {% endif %}#}

                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-sm-8">
                        {% for shop, data in orders.items %}
                            <div class="card index-card order-card">
                                <div class="card-header order-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="p-2">
                                            {#update this when theres api#}
                                            <h4>ORDER NUMBER: {{ data.order_number }}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body fixed-height checkout-complete">
                                    <div class="table-responsive mobile-hidden">
                                        <table class="table">
                                            <thead>
                                            <tr class="table-active" style="text-align: left;">
                                                <th scope="col-6"></th>
                                                <th scope="col-6">Product</th>
                                                <th scope="col-2">Quantity</th>
                                                <th scope="col-4">Unit Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% with data.items|first as item %}
                                                <tr class="center-text">
                                                    <td class="image-column" style="width: 20%;">
                                                        <div class="shop-cart-img">
                                                            <a href="#">
                                                                {% if item.product.image %}
                                                                    <img src="{{ item.product.image }}"
                                                                         alt="{{ item.product.name }}">
                                                                {% else %}
                                                                    <img src="{% static 'img/product/default-product-image.png' %}"
                                                                         alt="{{ item.product.name }}">
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td class="name-column" style="width: 50%;">
                                                        {{ item.product.name }}
                                                    </td>
                                                    <td class="quantity-column" style="width: 10%; text-align: center;">
                                                        1
                                                    </td>
                                                    <td class="price-column" style="width: 20%;">
                                                        {{ data.cod_amount|currency }}
                                                    </td>
                                                </tr>
                                            {% endwith %}

                                            <tr style="height: 10px;">
                                                <td colspan="4"></td>
                                            </tr>
                                            <tr class="subtotal-row" style="text-align: left;">
                                                <th colspan="3" style="padding: 0"></th>
                                                <th style="padding: 0"></th>
                                            </tr>
                                            <tr class="shipping-row" style="text-align: left;">
                                                <th colspan="3">Shipping</th>
                                                <th class="price-column">FREE</th>
                                            </tr>
                                            <tr class="total-row table-active" style="text-align: left;">
                                                <th colspan="2">Total:</th>
                                                <th style="text-align: center;"></th>
                                                <th class="price-column">{{ data.cod_amount|currency }}</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mobile-only checkout-items bb">
                                        {% with data.items|first as item %}
                                            {% if item %}
                                                {% with item.product as product %}
                                                    <div class="mobile-product">
                                                        <div class="d-flex">
                                                            <div class="shop-cart-img">
                                                                <a href="{% url 'shop:single' slug=product.slug %}">
                                                                    {% if product.image %}
                                                                        <img src="{{ product.image }}"
                                                                             alt="{{ product.name }}">
                                                                    {% else %}
                                                                        No image
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="shop-cart-product-info">
                                                                <h6>Product</h6>
                                                                <h5 class="shop-cart-name mt5">
                                                                    <a href="{% url 'shop:single' slug=product.slug %}">
                                                                        <span class="product-name-{{ product.id }}">{{ product.name }}</span>
                                                                    </a>
                                                                </h5>
                                                                <h6 class="mt10">Quantity</h6>
                                                                <h5 class="mt5">1</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endwith %}
                                            {% else %}
                                                <p>No products available.</p>
                                            {% endif %}
                                        {% endwith %}

                                    </div>
                                    <div class="checkout-payment mobile-only">
                                        <h5 class="checkout-shipping">
                                            Subtotal <span>{{ data.cod_amount|currency }}</span>
                                        </h5>
                                        <h5 class="checkout-shipping bb">
                                            Shipping Fee <span>FREE</span>
                                        </h5>
                                        <h4>
                                            Total <span>{{ data.cod_amount|currency }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-4 delivery-card">
                        <div class="card index-card">
                            <div class="card-header order-header delivery-header">
                                <div class="p-2">
                                    <h4>DELIVERY</h4>
                                </div>
                            </div>
                            <div class="card-body fixed-height">
                                <div class="d-flex justify-content-between bb mb-10 summary-details-row">
                                    <div class="details-title">
                                        <ul class="address-list">
                                            <li>Date</li>
                                            <li>Mobile Number</li>
                                            <li>Payment Method</li>
                                            <li>Total</li>
                                        </ul>
                                    </div>
                                    <div class="mr-auto delivery-details">
                                        <ul class="address-list">
                                            <li>{{ current_date }}</li>
                                            <li>{{ address.phone }}</li>
                                            <li>{{ payment_method|upper }}</li>
                                            <li>{{ total_cod_amount|currency }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bb mb-10 address-details">
                                    <p class="pb10">
                                        <b>Shipping Details:</b><br>
                                        {{ address.full_name }}<br>
                                        Mobile: {{ address.phone }}<br>
                                        {{ address.address }},
                                        Brgy. {{ address.barangay }},
                                        {{ address.city }},
                                        {{ address.province }},
                                        {{ address.postcode }}<br>
                                        Landmark: {{ address.landmark }}
                                    </p>
                                    {% if address.landmark %}
                                        <p><b>Landmark:</b> <br>{{ address.landmark }}</p>
                                    {% endif %}
                                </div>
                                <div class="estimated-delivery region-list">
                                    <p><b>Estimated Delivery:</b></p>
                                    <p>
                                        Thank you for your order! We’re pleased to inform you that your delivery within
                                        {% if detect_region == "ncr" %}
                                            the National Capital Region (NCR) is estimated to arrive in 2 to 3 days.
                                        {% elif detect_region == "luzon" %}
                                            Luzon is estimated to arrive in 3 to 5 days.
                                        {% elif detect_region == "visayas" %}
                                            Visayas is estimated to arrive in 5 to 7 days.
                                        {% elif detect_region == "mindanao" %}
                                            Mindanao is estimated to arrive in 7 to 10 days.
                                        {% endif %}
                                        We appreciate your trust in us and are committed to ensuring your satisfaction!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#            <div class="container cont-shop">#}
            {#                <div class="col-lg-12 mt-20 continue-shopping">#}
            {#                    <a href="{% url 'shop:shop' %}" type="button" class="theme-btn theme-btn2">CONTINUE SHOPPING</a>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </section>
{% endblock %}
