<div class="modal fade" id="editAddressDetailModal" tabindex="-1" role="dialog" data-address-id="{{ address.id }}"> 
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Address</h5> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
            </div>
            <div class="modal-body">
                <form id="editAddressDetailForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control inputFirstName" placeholder="First Name"
                                    name="first_name" required>
                                {% if form.errors.first_name %}
                                <div class="text-danger">{{ form.errors.first_name }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control inputLastName" placeholder="Last Name"
                                    name="last_name" required>
                                {% if form.errors.last_name %}
                                <div class="text-danger">{{ form.errors.last_name }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control inputEmail" placeholder="Email Address"
                                    name="email" required>
                                {% if form.errors.email %}
                                <div class="text-danger">{{ form.errors.email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <div class="input-group mb-3">
                                <input type="text" class="form-control inputPhone" placeholder="Phone Number" 
                                    name="phone" required>
                                </div>
                                {% if form.errors.phone %}
                                <div class="text-danger">{{ form.errors.phone }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Address Line 1</label>
                                <input type="text" class="form-control inputLine1" placeholder="Address Line 1"
                                    name="line1" required>
                                {% if form.errors.line1 %}
                                <div class="text-danger">{{ form.errors.line1 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" class="form-control inputLine2" placeholder="Address Line 2"
                                    name="line2">
                                {% if form.errors.line2 %}
                                <div class="text-danger">{{ form.errors.line2 }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="regionDropdown">Region</label>
                                <select class="form-select regionDropdown" name="region" required>
                                    <option selected>- Select Region -</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="provinceDropdown">Province</label>
                                <select class="form-select provinceDropdown" name="province" required>
                                    <option selected>- Select Province -</option>
                                    <!-- Options will be populated dynamically by jQuery -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="cityDropdown">City</label>
                                <select class="form-select cityDropdown" name="city" required>
                                    <option selected>- Select City -</option>
                                    <!-- Options will be populated dynamically by jQuery -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="barangayDropdown">Barangay</label>
                                <select class="form-select barangayDropdown" name="barangay" required>
                                    <option selected>- Barangay -</option>
                                    <!-- Options will be populated dynamically by jQuery -->
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 barangayInputBox" style="display: none;">
                            <div class="input-group mb-3">
                                <label class="input-group-text">Other</label>
                                <input type="text" class="form-control" placeholder="Specify Barangay" name="barangay_input">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="text" class="form-control inputPostcode" placeholder="Postal Code"
                                    name="postcode" required>
                                {% if form.errors.postcode %}
                                <div class="text-danger">{{ form.errors.postcode }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Shipping Notes</label>
                                <textarea cols="30" rows="4" class="form-control inputMessage"
                                    placeholder="Your Message" name="message"></textarea>
                                {% if form.errors.message %}
                                <div class="text-danger">{{ form.errors.message }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-edit-address" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCheckoutAddressChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>