{% extends "base-shop.html" %}
{% load static %}
{% load currency_filters %}

{% block title %} {{ title }} {% endblock %}

{% block css %}
    <style>
        .url-link {
            color: var(--color-blue);
        }
    </style>
{% endblock %}

{% block content %}

    <div class="shop-checkout2 twc-checkout py-100 mobile-width">
        <div class="container">
            <div class="shop-checkout-wrap">
                <div class="row">
                    <div class="col-sm-7 col-md-8 mb-20">
                        <div class="shop-checkout-step">
                            <nav class="nav checkout-step-list nav-pills nav-justified mb-3" id="shopCheckout"
                                 role="tablist">
                                <a href="#" class="nav-link active done" id="step1-tab" data-bs-toggle="pill"
                                   data-bs-target="#step1" type="button" role="tab" aria-controls="step1"
                                   aria-selected="true" disabled>
                                    <span class="step-count">1</span>
                                    SHIPPING ADDRESS
                                </a>
                                <a href="#" class="nav-link" id="step2-tab" data-bs-toggle="pill"
                                   data-bs-target="#step2"
                                   type="button" role="tab" aria-controls="step2" aria-selected="false" disabled>
                                    <span class="step-count">2</span>
                                    PAYMENT
                                </a>
                                <a href="#" class="nav-link" id="step3-tab" data-bs-toggle="pill"
                                   data-bs-target="#step3"
                                   type="button" role="tab" aria-controls="step3" aria-selected="false" disabled>
                                    <span class="step-count">3</span>
                                    ORDER COMPLETE
                                </a>
                            </nav>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="step1" role="tabpanel"
                                     aria-labelledby="step1-tab" tabindex="0">
                                    <div class="shop-checkout-form">
                                        {% include 'cart/address-form.html' %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab"
                                     tabindex="0">
                                    <div class="container mt-5">
                                        <h3 class="payment-head">How Would You Like to Pay?</h3>
                                        <p class="payment-des">Choose Your Option Below.</p>
                                        <div class="accordion" id="accordionExample">
                                            <!-- Accordion Item 1 -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button d-flex justify-content-between"
                                                            type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne" disabled>
                                                        <div class="d-flex align-items-center">
                                                            <input class="form-check-input me-2" type="radio"
                                                                   name="paymentMethod" id="xendit" value="xendit"
                                                                   checked disabled>
                                                            <div class="d-flex align-items-center">
                                                                <img class="img-fluid ms-2 payment-method-img"
                                                                     src="{% static 'img/icon/payment/visa.svg' %}"
                                                                     alt="Visa">
                                                                <img class="img-fluid ms-2 payment-method-img"
                                                                     src="{% static 'img/icon/payment/mastercard.svg' %}"
                                                                     alt="Mastercard">
                                                                <img class="img-fluid ms-2 payment-method-img"
                                                                     src="{% static 'img/icon/payment/gcash.svg' %}"
                                                                     alt="Mastercard">
                                                                <img class="img-fluid ms-2 payment-method-img"
                                                                     src="{% static 'img/icon/payment/paymaya.svg' %}"
                                                                     alt="Mastercard">
                                                                <h6 style="color: var(--border-info-color3);margin-left: 25px"> (CURRENTLY UNAVAILABLE) </h6>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse {# show #}"
                                                     aria-labelledby="headingOne"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <p class="text-left">Complete your purchase by clicking the
                                                            “Checkout Now” button below, you’ll be redirected to our
                                                            secure payment provider, powered by
                                                            <a class="url-link" href="https://www.xendit.co/en-ph/"
                                                               target="_blank">
                                                                Xendit PH
                                                            </a>.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Accordion Item 2 -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button {# collapsed #} show {# REMOVE SHOW, UNCOMMENT COLLAPSE AFTER BUG #}" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">
                                                        <input class="form-check-input me-2" type="radio"
                                                               name="paymentMethod" id="cod" value="cod">
                                                        <label class="form-check-label" for="cod">Pay with Cash on
                                                            Delivery</label>
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse show {# REMOVE SHOW AFTER BUG #}"
                                                     aria-labelledby="headingTwo"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <p>
                                                            After clicking “Checkout,” your order will be confirmed
                                                            with Cash on Delivery as the payment method. Please read
                                                            our
                                                            <a class="url-link" href="{% url 'terms' %}"
                                                               onclick="showTerms(); return false;">
                                                                Terms and Conditions
                                                            </a>
                                                            for cash on delivery.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4">
                        <div class="shop-cart-summary mt-lg-0">
                            <div class="card index-card">
                                <div class="card-header">
                                    <h3>CART SUMMARY</h3>
                                </div>
                                <div class="card-body">
                                    {% for shop, data in orders.items %}
                                        <ul class="bordered-bottom {% if not forloop.last %} mb-20 {% endif %}">
                                            <li>
                                                <h6>
                                                    Shop:
                                                    {% if shop == "sante" %}
                                                        Sante International
                                                    {% endif %}
                                                    {% if shop == "mood" %}
                                                        Mood Timepieces
                                                    {% endif %}
                                                    {% if shop == "chingu" %}
                                                        Chingu
                                                    {% endif %}
                                                </h6>
                                            </li>
                                            <li>
                                                <div class="shop-cart-coupon">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Your Coupon Code">
                                                        <button class="theme-btn custom-btn-1" type="submit">APPLY
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            </li>
                                            <li>Order Sub Total: <span>{{ data.subtotal|currency }}</span>
                                            </li>
                                            {% if order.discount %}
                                                <li class="list-discount">Discount:
                                                    <span>{{ data.discount|currency }}</span></li>
                                            {% else %}
                                                <li class="list-discount">Discount: <span>No discount applied</span>
                                                </li>
                                            {% endif %}
                                            <li id="shipping_fee_{{ shop }}" class="pb15">
                                                Shipping fee:
                                                <span>
                                                        {% if FIXED_SHIPPING_FEE == 0 %}
                                                            Calculated at next step
                                                        {% else %}
                                                            {{ FIXED_SHIPPING_FEE|currency }}
                                                        {% endif %}
                                                    </span>
                                            </li>
                                            <li class="shop-cart-total"><strong>Order Total:</strong>
                                                <span id="order-total-{{ shop }}">{{ data.cod_amount|currency }}</span>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                    <h4 class="cart-total mt-3">
                                        <strong>
                                            <span class="cart-label">Cart Total:</span>
                                            <span class="cart-value"
                                                  id="total-payment">{{ cart_total|currency }}</span>
                                        </strong>
                                    </h4>
                                </div>
                            </div>
                            <div class="text-end mt-40 checkoutBtn">
                                <form id="checkoutForm" class="form" method="GET"
                                      action="{% url 'cart:submit_checkout' %}">
                                    <button type="submit" class="theme-btn checkout-btn"
                                            data-referrer-id="{{ referred_by }}"
                                            data-username="{{ current_user }}"
                                            {#                                                        onclick="checkoutBtn(event)" #}
                                            hidden>
                                        CHECKOUT NOW
                                    </button>
                                </form>
                            </div>
                            <div class="d-flex justify-content-between align-items-center dummy-submit">
                                <input type="hidden" name="submit_type" value="shipping">
                                <button type="button" class="theme-btn next-step-btn">NEXT
                                    STEP
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/address-jnt.js' %}"></script>
    <script>
        // Handle the checkout process (dummy form submission)
        function submitForm() {
            console.log("submitForm called"); // Check if this appears in the console
            const fullName = $('input[name="full_name"]').val().trim();
            const phone = $('input[name="phone_display"]').val().trim();
            const address = $('input[name="address"]').val().trim();
            const province = $('select[name="province"]').val();
            const city = $('select[name="city"]').val();
            const barangay = $('select[name="barangay"]').val();
            const landmark = $('textarea[name="landmark"]').val().trim();

            // Log the values to console for debugging
            console.log("Full Name:", fullName);
            console.log("Phone:", phone);
            console.log("Address:", address);
            console.log("Province:", province);
            console.log("City:", city);
            console.log("Barangay:", barangay);
            console.log("Landmark:", landmark);

            // Validate if any required field is missing
            let missingFields = [];

            if (!fullName) missingFields.push('Full Name');
            if (!phone) missingFields.push('Phone');
            if (!address) missingFields.push('Address');
            if (!province || province === "- Select Province -") missingFields.push('Province');
            if (!city || city === "- Select City -") missingFields.push('City');
            if (!barangay || barangay === "- Select Barangay -") missingFields.push('Barangay');
            if (!landmark) missingFields.push('Landmark');

            if (missingFields.length > 0) {
                if (missingFields.length > 1) {
                    const lastField = missingFields.pop();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Incomplete Address',
                        text: 'Please fill in or select the following fields: ' + missingFields.join(', ') + ', and ' + lastField,
                        confirmButtonText: 'OK'
                    });
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Incomplete Address',
                        text: 'Please fill in or select the following field: ' + missingFields[0],
                        confirmButtonText: 'OK'
                    });
                }

            } else {
                $('#addUserData').click();
            }
        }

        $(document).ready(function () {

            {#$('input[name="paymentMethod"][value="xendit"]').prop('checked', true);#}
            {#console.log('Default payment method set to: xendit');#}

            $('input[name="paymentMethod"][value="cod"]').prop('checked', true);
            console.log('Default payment method set to: COD');


            $('.accordion-button').on('click', function () {
                var radioId = $(this).find('input[type="radio"]').attr('id');
                $('#' + radioId).prop('checked', true);
                console.log('Radio button selected:', radioId);// Check the radio button
            });

            // Checkout button click handling
            $('.checkout-btn').on('click', function (event) {
                event.preventDefault();

                var paymentMethod;
                paymentMethod = $('input[name="paymentMethod"]:checked').val();

                $('input[name="paymentMethod"]').on('change', function () {
                    console.log('Selected Payment Method:', $(this).val());
                });

                // Set to 'cod' if no payment method is selected
                if (!paymentMethod) {
                    paymentMethod = 'cod';
                    $('input[name="paymentMethod"][value="cod"]').prop('checked', true);
                    console.log('Defaulting to COD as payment method');
                }


                console.log('Selected Payment Method:', paymentMethod);

                if (paymentMethod === 'xendit') {
                    Swal.fire({
                        title: 'Confirm Payment',
                        text: 'Do you want to proceed with the Xendit payment?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, proceed',
                        cancelButtonText: 'No, cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            checkoutBtn(event, paymentMethod);
                        }
                    });
                } else {
                    checkoutBtn(event, paymentMethod);
                }
            });

            // Handle form check label click to check the corresponding radio button
            $('.form-check-label').on('click', function () {
                const radioButtonId = $(this).attr('for');
                $('#' + radioButtonId).prop('checked', true); // Set the radio button as checked
            });

            $('.dummy-submit button').click(submitForm);

            function checkoutBtn(event, paymentMethod) {
                event.preventDefault();
                var referrerId = $(event.currentTarget).data('referrer-id');

                if (referrerId === "None" || referrerId === '') {
                    Swal.fire({
                        icon: 'warning',
                        title: 'REQUIRED INFORMATION',
                        text: 'To complete checkout, please input the USERNAME of your sponsor.',
                        input: 'text',
                        inputPlaceholder: 'Enter username',
                        showCancelButton: true,
                        confirmButtonText: 'Submit',
                        cancelButtonText: 'Cancel',
                        preConfirm: (username) => {
                            if (!username) {
                                Swal.showValidationMessage('Username is required!');
                            } else if (username.toLowerCase() === 'None') {
                                Swal.showValidationMessage('Username is required!');
                            } else if (username.toLowerCase() === 'admin') {
                                Swal.showValidationMessage('You cannot use this username!');
                            } else {
                                return username;
                            }
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var username = result.value;
                            saveReferrerUsername(username, paymentMethod);
                        }
                    });
                } else {
                    var username = referrerId;
                    saveReferrerUsername(username, paymentMethod);
                }
            }

            function saveReferrerUsername(username, paymentMethod) {
                const url = `{% url "cart:submit_checkout" %}?username=${encodeURIComponent(username)}`;
                $.ajax({
                    url: url,
                    method: 'GET',
                    data: {
                        username: username,
                        payment_method: paymentMethod,
                    },
                    success: function (response) {
                        if (response.redirect_url) {
                            Swal.fire({
                                title: 'Redirecting to Xendit Payment Portal',
                                icon: 'info',
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            });

                            setTimeout(() => {
                                window.location.href = response.redirect_url;
                            }, 500);
                        } else {
                            Swal.fire({
                                title: 'Thank You for Your Order!',
                                text: 'Now completing checkout...',
                                icon: 'success',
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            });

                            setTimeout(() => {
                                $('#checkoutForm').submit();
                            }, 500);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error saving referrer username:', error);
                        var responseData = JSON.parse(xhr.responseText);
                        var errorMessage = responseData.error;
                        Swal.fire({
                            title: 'Error',
                            text: errorMessage,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    </script>
    <script>
        function showTerms() {
            Swal.fire({
                title: 'CASH ON DELIVERY (COD) TERMS AND CONDITIONS',
                html: `
            <div>
                <p>By using the COD (Cash-on-Delivery) payment facility of TWC ONLINE STORE, I hereby agree to the following condition:</p>
                <p>I will ensure that I and/or my authorized representative will be available to receive and pay for the orders, on the date and address specified.</p>
                <p>Should you have any question(s), you can send a message at this link: <a href="https://m.me/contactcyra" target="_blank">https://m.me/contactcyra</a>.</p>
            </div>
        `,
                icon: 'info',
                confirmButtonText: 'I Agree',
                showCancelButton: true,
                cancelButtonText: 'Cancel',
                width: '80%',
                padding: '2em',
                background: '#fff',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Logic to proceed with COD payment or other actions
                    console.log('User agreed to the terms');
                }
            });
        }

    </script>
    <script src="{% static 'js/plugins/int-tel-input/utils.js' %}"></script>
{% endblock %}