{% extends "base.html" %}
{% load static %}
{% load currency_filters %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}



<!-- shop checkout complete -->
<div id="checkout-complete" class="shop-checkout-complete twc-checkout-complete py-120 mobile-width">
    <div class="container">
        <div class="card index-card order-completed-card">
            <div class="card-header">
                <h2>ORDER COMPLETED</h2>
            </div>
            <div class="card-body cart-summary text-center">
                <h1>THANK YOU</h1>
                <h3>YOUR ORDER HAS BEEN RECEIVED</h3>
                <p>For any concern, please feel free to contact us at +639565885998.</p>
                
{#                {% if not user.is_authenticated %}#}
{#                    <div class="card login-info">#}
{#                        <div class="card-body track-order-body">#}
{#                            <h4 style="color: var(--color-dark);">Please save your login details to track your order.</h4>#}
{#                            <h6>Username: {{ username }}</h6>#}
{#                            <h6>Password: {{ password }}</h6>#}
{#                            <h6>Email: {{ email }}</h6>#}
{#                        </div>#}
{#                    </div> #}
{#                {% endif %}#}
                
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-sm-8">
                {% for shop, data in orders.items %}
                <div class="card index-card order-card">
                    <div class="card-header order-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="p-2">
                                {#update this when theres api#}
                                <h4>ORDER NUMBER: {{ shop }}</h4>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="view-order">
                                <a href="{{ DASHBOARD_URL }}/order/order-detail/?order_id={{ order.order_id }}" target="_blank">
                                    View Order</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body fixed-height checkout-complete">
                        <div class="table-responsive mobile-hidden">
                            <table class="table">
                                <thead>
                                    <tr class="table-active" style="text-align: left;">
                                        <th scope="col-6"></th>
                                        <th scope="col-6">Product</th>
                                        <th scope="col-2">Quantity</th>
                                        <th scope="col-4">Unit Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data.items %}
                                    <tr class="center-text">
                                        <td class="image-column" style="width: 20%;">
                                            <div class="shop-cart-img">
                                                <a href="#">
                                                    {% if item.product.image %}
                                                        {% if item.product.image %}
                                                            <img src="{{ item.product.image }}" alt="{{ item.product.name }}">
                                                        {% else %}
                                                            <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                                        {% endif %}
                                                    {% else %}
                                                        <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </td>
                                        <td class="name-column" style="width: 50%;">{{ item.product.name }}</td>
                                        <td class="quantity-column" style="width: 10%; text-align: center;">{{ item.quantity }}</td>
                                        <td class="price-column" style="width: 20%;">₱{{ item.get_total }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="height: 10px;"><td colspan="4"></td></tr>
                                    <tr class="shipping-row" style="text-align: left;">
                                        <th colspan="3">Shipping</th>
                                        <th class="price-column">{{ data.shipping_fee|currency }}</th>
                                    </tr>
                                    {% if order.discount %}
                                    <tr style="text-align: left;">
                                        <th colspan="3">Discount</th>
                                        <th class="price-column">({{ data.discount|currency }})</th>
                                    </tr>
                                    {% endif %}
                                    <tr class="total-row table-active" style="text-align: left;">
                                        <th colspan="2">Total:</th>
                                        <th style="text-align: center;">{{ data.total_quantity }}</th>
                                        <th class="price-column">{{ data.total_amount|currency }}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mobile-only checkout-items bb">
                            {% for item in items %}
                            <div class="mobile-product">
                                <div class="d-flex">
                                    <div class="shop-cart-img">
                                        <a href="{% url 'shop:single' slug=item.product.slug %}">
                                            {% if item.product.image_1 %}
                                                <img src="{{ item.product.image_1.url }}" alt="{{ item.product.name }}">
                                            {% else %}
                                                No image
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="shop-cart-product-info">
                                        <h6>Product</h6>
                                        <h5 class="shop-cart-name mt5">
                                            <a href="{% url 'shop:single' slug=item.product.slug %}"><span
                                                class="product-name-{{ item.product.id }}">{{ item.product.name }}</span>
                                            </a>
                                        </h5>
                                        <h6 class="mt10">Quantity</h6>
                                        <h5 class="mt5">{{ item.quantity }}</h5>
                                        <h6 class="mt10">Unit Price</h6>
                                        <h5 class="mt5">{{item.product.customer_price|currency}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="checkout-payment mobile-only">
                            <h5 class="checkout-shipping bb">
                                Shipping Fee <span>{{ order.shipping_fee|currency }}</span>
                            </h5>
                            <h4>
                                Total <span>{{ order.cod_amount|currency }}</span>
                            </h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 delivery-card">
                <div class="card index-card">
                    <div class="card-header order-header delivery-header">
                        <div class="p-2">
                            <h4>DELIVERY</h4>
                        </div>
                    </div>
                    <div class="card-body fixed-height">
                        <div class="d-flex justify-content-between bb mb-10 summary-details-row">
                            <div class="details-title">
                                <ul class="address-list">
                                    <li>Date</li>
                                    <li>Mobile Number</li>
                                    <li>Payment Method</li>
                                    <li>Total</li>
                                </ul>
                            </div>
                            <div class="mr-auto delivery-details">
                                <ul class="address-list">
                                    <li>{{ current_date }}</li>
                                    <li>{{ address.phone }}</li>
                                    <li>Cash On Delivery</li>
                                    <li>{{ total_payment|currency }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bb mb-10 address-details">
                            <p class="pb10">
                                Address:<br>
                                {{ address.line1 }},
                                {% if address.line2 %}
                                    {{ address.line2 }},
                                {% endif %}
                                Brgy. {{ address.barangay }},
                                {{ address.city }},
                                {{ address.province }},
                                {{ address.postcode }}
                            </p>
                        </div>
                        <div class="estimated-delivery region-list">
                            <p>Estimated Delivery</p>
                            <ul>
                                <li>NCR: 2-3 Days</li>
                                <li>Luzon: 3-5 Days</li>
                                <li>Visayas: 5-7 Days</li>
                                <li>Mindanao: 7-10 Days</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container cont-shop">
        <div class="col-lg-12 mt-20 continue-shopping">
            <a href="{% url 'shop:shop' %}" type="button" class="theme-btn theme-btn2">CONTINUE SHOPPING</a>
        </div>
    </div>
    
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(".view-order").click(function() {
        var orderId = $(this).data("first-order-id");
        console.log("Clicked View Order button. Order ID:", orderId);
        
        $.ajax({
            type: "POST",
            url: '{% url "cart:set_order_id_session_variable" %}',
            data: {
                order_id: orderId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                console.log("Session variable set successfully.");
            },
            error: function(xhr, errmsg, err) {
                console.error("Error setting session variable:", err);
            }
        });
    });
</script>
{% endblock %}