{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
        <!-- brand area -->
        <div class="brand-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="site-heading-inline">
                            <h2 class="site-title"><img src="{% static 'img/icon/brand.svg' %}" alt="">Popular Brands</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/01.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/02.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/03.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                        <img src="{% static 'img/brand/04.png' %}" alt="">
                    </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/04.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/05.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/06.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/06.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/05.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/04.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/03.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/02.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/01.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/02.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/03.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/04.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/05.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="brand-item">
                            <img src="{% static 'img/brand/06.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center mt-4">
                            <a href="#" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand area end -->

    </main>

{% endblock %}