{% load i18n %}
{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at TWConline.store.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
https://www.twconline.store{% url 'login:password_reset_confirm' uidb36=uidb36 key=reset_key %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% blocktrans %}Thanks for using our site!{% endblocktrans %}
{% endautoescape %}
