{% extends "base-dashboard.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- user dashboard -->
<div class="user-area bg">
    <div id="seller">
        <div class="row">
            <div class="col-lg-3">
                {% include 'seller/seller-sidebar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="user-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="user-card">
                                <div class="user-card-header">
                                    <h4 class="user-card-title">Daily Grinds - Media Library</h4>
                                </div>
                                <h1>INSERT CONTENT HERE</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user dashboard end -->

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $(".media-library").addClass("active");

        var anyActive = $(".sidebar-list a.active").length > 0;
        if (anyActive) {
            $("#dailygrindsCollapse").collapse('show');
        }
    });
</script>
{% endblock %}