<div id="cart-dropdown">
    <div class="dropdown-cart-menu">
        <div class="dropdown-cart-header">
            <span class="cart-items-count">04</span>
            <a href="/cart/">View Cart</a>
        </div>
        <ul class="dropdown-cart-list">
            <li id="cart-row-38">
                <div class="dropdown-cart-item">
                    <div class="cart-img">
                        <a href="/shop/single/seiko-5-couple-watch"><img src="/media/admin_images/2024/02/16/091139.png"
                                alt="#"></a>
                    </div>
                    <div class="cart-info">
                        <h4><a href="/shop/single/seiko-5-couple-watch">Seiko 5 Couple Watch</a></h4>
                        <p class="cart-qty">2x - <span class="cart-amount">₱4,378.00</span></p>
                    </div>
                    <a href="#" data-product="38" data-action="remove" class="update-cart shop-cart-remove">
                        <i class="far fa-times-circle"></i></a>
                </div>
            </li>
            <li id="cart-row-37">
                <div class="dropdown-cart-item">
                    <div class="cart-img">
                        <a href="undefined"><img src="/media/admin_images/2024/02/16/090741.png"
                                alt="Naeyon Bundle"></a>
                    </div>
                    <div class="cart-info">
                        <h4><a href="undefined">Naeyon Bundle</a></h4>
                        <p class="cart-qty">1x - <span class="cart-amount">899.00</span></p>
                    </div>
                    <a href="#" data-product="37" data-action="remove" class="update-cart shop-cart-remove">
                        <i class="far fa-times-circle"></i>
                    </a>
                </div>
            </li>
            <li id="cart-row-34">
                <div class="dropdown-cart-item">
                    <div class="cart-img">
                        <a href="undefined"><img src="/media/admin_images/2024/02/16/090431.png"
                                alt="Natureal Toothpaste 100ml"></a>
                    </div>
                    <div class="cart-info">
                        <h4><a href="undefined">Natureal Toothpaste 100ml</a></h4>
                        <p class="cart-qty">1x - <span class="cart-amount">400.00</span></p>
                    </div>
                    <a href="#" data-product="34" data-action="remove" class="update-cart shop-cart-remove">
                        <i class="far fa-times-circle"></i>
                    </a>
                </div>
            </li>
        </ul>
        <div class="dropdown-cart-bottom">
            <div class="dropdown-cart-total">
                <span>Total</span>
                <span class="total-amount">₱4,378.00</span>
            </div>
            <a href="http://www.twconline.store:8000/cart/" class="theme-btn">Checkout</a>
        </div>
    </div>

</div>