{% load static %}

<h6 class="mt-20">Product Funnels</h6>
<ul class="sidebar-list">
    <li><a class="barley-cancer" href="{% url 'barley_for_cancer' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Barley for Cancer</a>
    </li>
    <li><a class="barley-diabetes" href="{% url 'barley_for_diabetes' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Barley for Diabetes</a>
    </li>
    <li><a class="barley-highblood" href="{% url 'barley_for_highblood' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Barley for High Blood</a>
    </li>
    <li><a class="old-age" href="{% url 'old_age' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Fusion for Old Age</a>
    </li>
    <li><a class="weight-loss" href="{% url 'weight_loss' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Fusion for Weight Loss</a>
    </li>
    <li><a class="boost-coffee" href="{% url 'boost_coffee' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> Sante Boost Coffee</a>
    </li>
</ul>
<h6 class="mt-20">Sponsoring Funnels</h6>
<ul class="sidebar-list">
    <li><a class="twc-program" href="{% url 'prospecting' %}">
            <i class="fa-regular fa-circle" style="margin-right: 5px;"></i> TWC Seller's Program</a></li>
</ul>