{% extends "base-shop.html" %}
{% load static %}
{% load currency_filters %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="shop-checkout2 py-100">
    <div class="container">
        <div class="shop-checkout-wrap">
            <div class="row">
                {% if not default_address %}
                <div class="col-lg-8 mb-20">
                    <div class="shop-checkout-step">
                        <nav class="nav checkout-step-list nav-pills nav-justified mb-3" id="shopCheckout"
                            role="tablist">
                            <a href="#" class="nav-link active done" id="step1-tab" data-bs-toggle="pill"
                                data-bs-target="#step1" type="button" role="tab" aria-controls="step1"
                                aria-selected="true">
                                <span class="step-count">1</span>
                                <i class="far fa-user-circle"></i>Shipping Address
                            </a>
                            <a href="#" class="nav-link" id="step2-tab" data-bs-toggle="pill" data-bs-target="#step2"
                                type="button" role="tab" aria-controls="step2" aria-selected="false">
                                <span class="step-count">2</span>
                                <i class="far fa-box-taped"></i>Payment
                            </a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="step1" role="tabpanel"
                                aria-labelledby="step1-tab" tabindex="0">
                                <div class="shop-checkout-form">
                                    {% include 'cart/address-form.html' %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab"
                                tabindex="0">
                                <div class="shop-checkout-payment">
                                    <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="pills-tab-1" data-bs-toggle="pill"
                                                data-bs-target="#pills-1" type="button" role="tab"
                                                aria-controls="pills-1" aria-selected="true">
                                                <div class="checkout-payment-img cod">
                                                    <img src="{% static 'img/payment/cod-3.svg' %}" alt="">
                                                </div>
                                                <span>Cash On Delivery</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" style="display: none;">
                                            <a class="nav-link" id="pills-tab-2" data-bs-toggle="pill"
                                                data-bs-target="#pills-2" type="button" role="tab"
                                                aria-controls="pills-2" aria-selected="false">
                                                <div class="checkout-card-img">
                                                    <img src="{% static 'img/payment/mastercard.svg' %}" alt="">
                                                    <img src="{% static 'img/payment/visa.svg' %}" alt="">
                                                </div>
                                                <span>Credit/Debit Payments</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" style="display: none;">
                                            <a class="nav-link" id="pills-tab-3" data-bs-toggle="pill"
                                                data-bs-target="#pills-3" type="button" role="tab"
                                                aria-controls="pills-3" aria-selected="false">
                                                <div class="checkout-payment-img">
                                                    <img src="{% static 'img/payment/gcash.svg' %}" alt=""
                                                        style="width: 95px;">
                                                    <img src="{% static 'img/payment/maya.svg' %}" alt=""
                                                        style="width: 95px;">
                                                </div>
                                                <span>Gcash/Maya Payment</span>
                                            </a>
                                        </li>
                                    </ul> -->
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                                            aria-labelledby="pills-tab-1" tabindex="0">
                                            <div class="shop-checkout-form cod">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-check mb-20">
                                                                <label class="form-check-label" for="cod">
                                                                    Cash On Delivery
                                                                    <span>Please read our <a href="#">Terms And
                                                                            Conditions</a> for cash on delivery.</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-2" role="tabpanel"
                                            aria-labelledby="pills-tab-2" tabindex="0">
                                            <div class="shop-checkout-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Card Holder Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Name On Card">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Card Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Your Card Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Expire Date</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Expire">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>CCV</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="CVV">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="button"
                                                                class="theme-btn confirmPaymentBtn">Pay Now<i
                                                                    class="fas fa-arrow-right"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-3" role="tabpanel"
                                            aria-labelledby="pills-tab-3" tabindex="0">
                                            <div class="shop-checkout-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Ful Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Phone Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <label>Reference Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Reference Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="button"
                                                                class="theme-btn confirmPaymentBtn">Submit<i
                                                                    class="fas fa-arrow-right"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shop-cart-summary mt-lg-0">
                        <h5>Cart Summary</h5>
                        {% for order in orders %}
                        <ul>
                            <li>
                                <h6><strong>Order: </strong><span>{{ order.order_id }}</span></h6>
                            </li>
                            <li><strong>Order Sub Total:</strong> 
                                <span>{{ order.subtotal|currency }}</span>
                            </li>
                            {% if discount %}
                            <li><strong>Discount:</strong>{{ discount }}</li>
                            {% endif %}
                            <li id="shipping_fee_{{ order.id }}"><strong>Shipping: </strong>
                                <span>Calculated at next step</span>
                            </li>
                            <li class="shop-cart-total"><strong>Order Total:</strong> 
                                <span id="order-total-{{ order.id }}">{{ order.subtotal|currency }}</span>
                            </li>
                            <hr style="border: 1px; color: solid black;">
                        </ul>
                        {% endfor %}
                        <ul>
                            <li class="shop-cart-total" style="display: block!important; text-align: end;">
                                <h4><strong>Total Payment:</strong>&emsp;<span id="total-payment">{{ total_payment|currency }}</span></h4>
                            </li>
                        </ul>
                        <div class="text-end mt-40 checkoutBtn">
                            <form class="form" method="POST" action="{% url 'cart:submit_checkout' %}">
                                {% csrf_token %}
                                <button type="submit" class="theme-btn checkout-btn" 
                                        data-referrer-id="{{ referred_by }}"
                                        onclick="checkoutBtn(event)" hidden>Checkout Now
                                        <i class="fas fa-arrow-right-long"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_authenticated %}
                        {% if default_address %}
                        <div class="col-lg-12">
                            <div class="shop-checkout-form">
                                
                                <h6 class="mb-2"><i class="fa-solid fa-location-dot"></i> Delivery Address:</h6>
            
                                <p class="selected_address"><b>{{default_address.first_name}}
                                        {{default_address.last_name}}
                                        {{default_address.phone}}</b></p>
                                <div class="change-address row mb-20">
                                    <div class="col-lg-10">
                                        <p class="address_details">{{ default_address.line1 }} Brgy. 
                                            {{default_address.barangay }},
                                            {{ default_address.city }}, {{ default_address.province }},
                                            {{ default_address.postcode }} </p>
                                    </div>
                                    <div class="col-lg-2 d-flex justify-content-end">
                                        <span class="is_default">Default</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <button type="button" class="change-address-btn">Change</button>
                                        </div>
                                    </div>
                                    {% include 'cart/change-address-modal.html' %}
                                    {% include 'cart/add-address-modal.html' %}
                                    {% include 'cart/edit-address-modal.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {% for order, items in ordered_items.items %}
                            <div class="card mb-20 shop-cart-summary-twc">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4>{{ order.order_id }}</h4>
                                    </div>
                                    <div class="cart-table card-text">
                                        <div class="table-responsive">
                                            <table class="table cart-table" id="product-table-{{ order.order_id }}">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Image</th>
                                                        <th scope="col">Product Name</th>
                                                        <th scope="col">Price</th>
                                                        <th scope="col" style="text-align: center;">Quantity</th>
                                                        <th scope="col" style="text-align: right;">Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="cart-body">
                                                    {% for item in items %}
                                                    <tr class="cart-product" id="product-row-{{ item.product.id }}"
                                                        style="width: 20%;">
                                                        <td>
                                                            <div class="shop-cart-img">
                                                                <a href="#"><img src="{{ item.product.image_1.url }}"
                                                                        alt=""></a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 50%;">{{item.product.name}}</td>
                                                        <td style="width: 10%;">{{item.product.customer_price|currency}}</td>
                                                        <td style="width: 10%; text-align: center;">{{ item.quantity }}</td>
                                                        <td style="width: 10%; text-align: right;">{{ item.get_total|currency }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <ul>
                                                <li class="shop-cart-subtotal"><strong>Order Shipping Fee:</strong>&emsp;<span>
                                                    {{ order.shipping_fee|currency }}</span></li>
                                                <li class="shop-cart-subtotal"><strong>Order Total:</strong>&emsp;<span>
                                                    {{ order.total_amount|currency }}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12">
                            <div class="shop-cart-summary" style="margin-left: 0!important;">
                                <div class="form-check mb-20">
                                    <h5>Mode of Payment</h5>
                                    <label class="form-check-label" for="cod">
                                        <h6>Cash On Delivery</h6>
                                        <p>Please read our <a href="#">Terms And
                                                Conditions</a> for cash on delivery.</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="shop-cart-summary" style="margin-left: 0!important;">
                                <h5>Cart Summary</h5>
                                <ul>

                                    <li><strong>Merchandise Sub Total:</strong><span>{{ orders_subtotal|currency }}</span></li>
                                    <li><strong>Shipping Fee Total:</strong><span>{{ total_shipping|currency }}</span></li>
                                    {% if discount %}
                                    <li><strong>Discount:</strong>{{ discount }}</li>
                                    {% endif %}

                                    <li class="shop-cart-total" style="display: block!important; text-align: end;">
                                        <h3><strong>Total Payment:</strong>&emsp;<span>{{ total_payment|currency }}</span></h3>
                                    </li>
                                </ul>
                                <div class="col-lg-12 shop-checkout-form mt-20"
                                    style="padding: 0!important; border: none!important; ">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <a href="{% url 'cart:cart' %}" type="button" class="theme-btn theme-btn2"><span
                                                class="fas fa-arrow-left"></span>Back To Cart</a>
                                        </div>
                                        <div class="col-md-2 offset-md-5">
                                            <form class="form" method="POST" action="{% url 'cart:submit_checkout' %}">
                                                {% csrf_token %}
                                                <button type="submit" class="theme-btn checkout-btn" 
                                                        data-referrer-id="{{ referred_by }}" data-user="{{ user }}"
                                                        onclick="checkoutBtn(event)">Checkout Now
                                                        <i class="fas fa-arrow-right-long"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block extra_js %}
<script>
    function checkoutBtn(event) {
        event.preventDefault();
        var referrerId = $(event.currentTarget).data('referrer-id');
        var userData = $(event.currentTarget).data('user');
        
        if (referrerId === "None" || referrerId === '') {
            Swal.fire({
                icon: 'warning',
                title: 'REQUIRED INFORMATION',
                text: 'To complete checkout, please input the USERNAME of your seller/referrer.',
                input: 'text',
                inputPlaceholder: 'Enter username',
                showCancelButton: true,
                confirmButtonText: 'Submit',
                cancelButtonText: 'Cancel',
                preConfirm: (username) => {
                    if (!username) {
                        Swal.showValidationMessage('Username is required');
                    } else if (username.toLowerCase() === userData.toLowerCase()) {
                        Swal.showValidationMessage('You cannot refer yourself!');
                    } else if (username.toLowerCase() === 'admin') {
                        Swal.showValidationMessage('You cannot use this username!');
                    } else {
                        return username;
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var username = result.value;
                    saveReferrerUsername(username);
                }
            });
        } else {
            redirectToCheckout();
        }
    }

    function saveReferrerUsername(username) {
        $.ajax({
            url: '{% url "cart:submit_checkout" %}',
            method: 'POST',
            data: { 
                username: username,
                csrfmiddlewaretoken: csrf,
            },
            success: function (response) {
                redirectToCheckout();
            },
            error: function (xhr, status, error) {
                console.error('Error saving referrer username:', error);
                var responseData = JSON.parse(xhr.responseText);
                var errorMessage = responseData.error;
                Swal.fire({
                    title: 'Error',
                    text: errorMessage,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }

    function redirectToCheckout() {
        window.location.href = '{% url "cart:submit_checkout" %}';
    }
</script>
{% endblock %}