{% extends "base-shop.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


<!-- shop cart -->
<div class="shop-cart py-100">
    <div class="container">
        <div class="shop-cart-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Sub Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="cart-body">
                                        {% for item in items %}
                                            <tr class="cart-product" id="product-row-{{ item.product.id }}">
                                                <td>
                                                    <div class="shop-cart-img">
                                                        <a href="#"><img src="{{ item.product.image_1.url }}"
                                                                alt=""></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="shop-cart-content">
                                                        <h5 class="shop-cart-name"><a href="#"><span
                                                                    id="product-name-{{ item.product.id }}">{{ item.product.name}}</span></a></h5>
                                                        <div class="shop-cart-info">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="shop-cart-price">
                                                        <span id="product-price-{{ item.product.id }}">₱{{ item.product.customer_price}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="shop-cart-qty">
                                                        <button data-product="{{ item.product.id }}" data-action="minus"
                                                            class="update-cart minus-btn"><i class="fal fa-minus"></i></button>
                                                        <input class="quantity" type="text" value="{{ item.quantity }}"
                                                            disabled="">
                                                        <button data-product="{{ item.product.id }}" data-action="add"
                                                            class="update-cart plus-btn"><i class="fal fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="shop-cart-subtotal">
                                                        <span id="product-subtotal-{{ item.product.id }}"
                                                            class="product-subtotal">₱{{ item.get_total }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" data-product="{{ item.product.id }}" data-action="remove"
                                                        class="update-cart shop-cart-remove"><i class="far fa-times"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="shop-cart-footer">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="shop-cart-coupon">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Coupon Code">
                                        <button class="theme-btn" type="submit">Apply Coupon</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-6">
                                <div class="shop-cart-btn text-md-end">
                                    <a href="{% url 'shop:shop' %}" class="theme-btn"><span
                                            class="fas fa-arrow-left"></span> Continue Shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shop-cart-summary">
                        <h5>Cart Summary</h5>
                        <ul>
                            <li><strong>Sub Total:</strong> <span>₱{{ subtotal }}</span></li>
                            <li><strong>Discount:</strong> <span>{{ discount }}%</span></li>
                            <li><strong>Shipping:</strong> <span>{% if shipping == 0 %}Free{% else %}{{ shipping }}{%endif %}</span></li>
                            <li class="shop-cart-total"><strong>Total:</strong> <span>₱{{ total }}</span></li>
                        </ul>
                        
                        <div class="text-end mt-40">
                            <a href="{% url 'cart:checkout' %}" class="theme-btn">Checkout Now<i
                                    class="fas fa-arrow-right-long"></i></a>
                            <!-- <button type="button" class="sweet-modal theme-btn">Checkout Now
                                <i class="fas fa-arrow-right-long"></i>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop cart end -->


{% endblock %}