{% extends "base.html" %}
{% load static %}
{% load currency_filters %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}



<!-- shop checkout complete -->
<div id="checkout-complete" class="shop-checkout-complete twc-checkout-complete py-120">
    <div class="container">
        <div class="card index-card">
            <div class="card-header">
                <h2>CART SUMMARY</h2>
            </div>
            <div class="card-body cart-summary text-center">
                <h1>THANK YOU</h1>
                <h3>YOUR ORDER HAS BEEN RECEIVED</h3>
                <p>For any concern, please feel free to contact us at +639565885998.</p>
                
                {% if not user.is_authenticated %}
                    <div class="card mt-20 offset-xl-3 col-xl-6 offset-md-2 col-md-8 text-left">
                        <div class="card-body">
                            <h4 style="color: var(--color-dark);">Please save your login details to track your order.</h4>
                            <h6 class="mt-2">Username: {{ username }}</h6>
                            <h6>Password: {{ password }}</h6>
                            <h6>Affiliate Link: http://www.twconline.store/{{ orders.0.user.referred_by }}</h6>
                            <h6>Email: {{ email }}</h6>
                        </div>
                    </div> 
                {% endif %}
                
            </div>
        </div>
        {% for order, items in ordered_items.items %}
        <div class="row mt-20">
            <div class="col-sm-6">
                <div class="card index-card h-100">
                    <div class="card-header order-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="p-2">
                                <h4>ORDER NUMBER: {{ order.order_id }}</h4>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="view-order">
                                <a href="{{ DASHBOARD_URL }}/order/order-detail/?order_id={{ order.order_id }}" target="_blank">
                                    View Order</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body fixed-height">
                        <table class="table">
                            <thead>
                                <tr class="table-active" style="text-align: left;">
                                    <th scope="col-6"></th>
                                    <th scope="col-6">Product</th>
                                    <th scope="col-2">Quantity</th>
                                    <th scope="col-4">Unit Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr class="center-text">
                                    <td style="width: 20%;">
                                        <div class="shop-cart-img">
                                            <a href="#">
                                                {% if item.product.image_1 %}
                                                    {% if item.product.image_1.url %}
                                                        <img src="{{ item.product.image_1.url }}" alt="{{ item.product.name }}">
                                                    {% else %}
                                                        <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                                    {% endif %}
                                                {% else %}
                                                    <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width: 50%;">{{ item.product.name }}</td>
                                    <td style="width: 10%;">{{ item.quantity }}</td>
                                    <td style="width: 20%;">₱{{ item.get_total }}</td>
                                </tr>
                                {% endfor %}
                                <tr style="height: 10px;"><td colspan="4"></td></tr>
                                <tr class="shipping-row" style="text-align: left;">
                                    <th colspan="3">Shipping</th>
                                    <th>{{ order.shipping_fee|currency }}</th>
                                </tr>
                                {% if order.discount %}
                                <tr style="text-align: left;">
                                    <th colspan="3">Discount</th>
                                    <th>({{ order.discount|currency }})</th>
                                </tr>
                                {% endif %}
                                <tr class="total-row table-active" style="text-align: left;">
                                    <th colspan="2">Total:</th>
                                    <th>{{ order.total_quantity }}</th>
                                    <th>{{ order.cod_amount|currency }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card index-card h-100">
                    <div class="card-header">
                        <h2>SUMMARY</h2>
                    </div>
                    <div class="card-body fixed-height">
                        <div class="row justify-content-between bb mb-10">
                            <div class="col-3">
                                <ul>
                                    <li>Date</li>
                                    <li>Mobile Number</li>
                                    <li>Payment Method</li>
                                    <li>Total</li>
                                </ul>
                            </div>
                            <div class="col-3">
                                <ul>
                                    <li>{{ order.created_at|date:"Y-m-d" }}</li>
                                    <li>{{ order.shipping_address.phone }}</li>
                                    <li>Cash On Delivery</li>
                                    <li>{{ order.cod_amount|currency }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bb mb-10">
                            <p>
                                Address:<br>
                                {{ order.shipping_address.line1 }},
                                {% if order.shipping_address.line2 %}
                                    {{ order.shipping_address.line2 }},
                                {% endif %}
                                Brgy. {{ orders.0.shipping_address.barangay }},
                                {{ order.shipping_address.city }},
                                {{ order.shipping_address.province }},
                                {{ order.shipping_address.region }},
                                {{ order.shipping_address.postcode }}
                            </p>
                        </div>
                        <div>
                            <p>Estimated Delivery</p>
                            <ul>
                                <li>NCR: 2-3 Days</li>
                                <li>Luzon: 3-5 Days</li>
                                <li>Visayas: 5-7 Days</li>
                                <li>Mindanao: 7-10 Days</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="text-center">
        <a href="{% url 'shop:shop' %}" class="theme-btn mt-50">Go Back Shopping
            <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(".view-order").click(function() {
        var orderId = $(this).data("first-order-id");
        console.log("Clicked View Order button. Order ID:", orderId);
        
        $.ajax({
            type: "POST",
            url: '{% url "cart:set_order_id_session_variable" %}',
            data: {
                order_id: orderId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                console.log("Session variable set successfully.");
            },
            error: function(xhr, errmsg, err) {
                console.error("Error setting session variable:", err);
            }
        });
    });
</script>
{% endblock %}