{% extends "base-shop.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<!-- Loading Spinner -->



<!-- shop checkout -->
<div class="shop-checkout2 py-100">
    <div class="container">
        <div class="shop-checkout-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shop-checkout-step">
                        <nav class="nav checkout-step-list nav-pills nav-justified mb-3" id="shopCheckout"
                            role="tablist">
                            <a href="#" class="nav-link active done" id="step1-tab" data-bs-toggle="pill"
                                data-bs-target="#step1" type="button" role="tab" aria-controls="step1"
                                aria-selected="true">
                                <span class="step-count">1</span>
                                <i class="far fa-user-circle"></i>Shipping Address
                            </a>
                            <a href="#" class="nav-link" id="step2-tab" data-bs-toggle="pill" data-bs-target="#step2"
                                type="button" role="tab" aria-controls="step2" aria-selected="false">
                                <span class="step-count">2</span>
                                <i class="far fa-box-taped"></i>Payment
                            </a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="step1" role="tabpanel"
                                aria-labelledby="step1-tab" tabindex="0">
                                <div class="shop-checkout-form">
                                    {% if is_authenticated %}
                                        {% if default_address %}
                                        <h6 class="mb-2"><i class="fa-solid fa-location-dot"></i> Delivery Address:</h6>

                                        <!-- load htmx -->

                                        <!-- end htmx -->

                                        <p><b>{{default_address.first_name}} {{default_address.last_name}}
                                                {{default_address.phone}}</b></p>
                                        <div class="change-address row mb-20">
                                            <div class="col-lg-10">
                                                <p>{{ default_address.line1 }} Brgy. {{ default_address.barangay }}, 
                                                    {{ default_address.city }}, {{ default_address.province }}, 
                                                    {{ default_address.postcode }} </p>
                                            </div>
                                            <div class="col-lg-2">
                                                <span>Default</span>
                                            </div>
                                            <div class="col-lg-1">
                                                <button type="button" class="change-address-btn">Change</button>
                                            </div>
                                            <!-- Change / Add Address Modal -->
                                            {% include 'cart/change-address-modal.html' %}
                                            {% include 'cart/add-address-modal.html' %}
                                        </div>
                                        <hr class="mt-2 mb-3">
                                        <div class="col-lg-12 mt-20">
                                            <a href="{% url 'cart:cart' %}" type="button" class="theme-btn theme-btn2"><span
                                                    class="fas fa-arrow-left"></span>Back To Cart</a>
                                            <button class="theme-btn paymentBtn">Next Step<i
                                                    class="fas fa-arrow-right"></i></button>
                                        </div>
                                        {% else %}
                                            {% include 'cart/address-form.html' %}
                                        {% endif %}
                                    {% else %}
                                        {% include 'cart/address-form.html' %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab"
                                tabindex="0">
                                <div class="shop-checkout-payment">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="pills-tab-1" data-bs-toggle="pill"
                                                data-bs-target="#pills-1" type="button" role="tab"
                                                aria-controls="pills-1" aria-selected="true">
                                                <div class="checkout-payment-img cod">
                                                    <img src="{% static 'img/payment/cod-3.svg' %}" alt="">
                                                </div>
                                                <span>Cash On Delivery</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" style="display: none;">
                                            <a class="nav-link" id="pills-tab-2" data-bs-toggle="pill"
                                                data-bs-target="#pills-2" type="button" role="tab"
                                                aria-controls="pills-2" aria-selected="false">
                                                <div class="checkout-card-img">
                                                    <img src="{% static 'img/payment/mastercard.svg' %}" alt="">
                                                    <img src="{% static 'img/payment/visa.svg' %}" alt="">
                                                </div>
                                                <span>Credit/Debit Payments</span>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation" style="display: none;">
                                            <a class="nav-link" id="pills-tab-3" data-bs-toggle="pill"
                                                data-bs-target="#pills-3" type="button" role="tab"
                                                aria-controls="pills-3" aria-selected="false">
                                                <div class="checkout-payment-img">
                                                    <img src="{% static 'img/payment/gcash.svg' %}" alt="" style="width: 95px;">
                                                    <img src="{% static 'img/payment/maya.svg' %}" alt="" style="width: 95px;">
                                                </div>
                                                <span>Gcash/Maya Payment</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <!-- payment tab1 -->
                                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel"
                                            aria-labelledby="pills-tab-1" tabindex="0">
                                            <div class="shop-checkout-form cod">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-check mb-20">
                                                                <input class="form-check-input confirmPaymentChk"
                                                                    type="checkbox" value="" id="cod">
                                                                <label class="form-check-label" for="cod">
                                                                    Cash On Delivery
                                                                    <span>Please read our <a href="#">Terms And
                                                                            Conditions</a> for cash on delivery.</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- payment tab2 -->
                                        <div class="tab-pane fade" id="pills-2" role="tabpanel"
                                            aria-labelledby="pills-tab-2" tabindex="0">
                                            <div class="shop-checkout-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Card Holder Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Name On Card">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Card Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Your Card Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Expire Date</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Expire">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>CCV</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="CVV">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="button" class="theme-btn confirmPaymentBtn">Pay Now<i
                                                                    class="fas fa-arrow-right"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- payment tab3 -->
                                        <div class="tab-pane fade" id="pills-3" role="tabpanel"
                                            aria-labelledby="pills-tab-3" tabindex="0">
                                            <div class="shop-checkout-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Ful Name</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label>Phone Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Phone Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <label>Reference Number</label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="Reference Number">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button type="button" class="theme-btn confirmPaymentBtn">Submit<i
                                                                    class="fas fa-arrow-right"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shop-cart-summary mt-lg-0">
                        <h5>Cart Summary</h5>
                        <ul>
                            <li><strong>Order ID:</strong> <span>{{ order.order_id|default:order_id }}</span></li>
                            <li><strong>Sub Total:</strong> <span>{{ order.get_cart_items|default:subtotal }}</span>
                            </li>
                            <li><strong>Discount:</strong> <span>0.00Php</span></li>
                            <li><strong>Shipping:</strong>
                                <span>
                                    {% if shipping == 0 %}
                                    Free
                                    {% else %}
                                    ₱{{ shipping }}
                                    {% endif %}
                                </span>
                            </li>
                            <li class="shop-cart-total"><strong>Total:</strong> <span>{{ total }}</span></li>
                        </ul>
                        <div class="text-end mt-40 checkoutBtn">
                            <form class="form" method="POST" action="">
                                {% csrf_token %}
                                <a href="{% url 'cart:checkout_complete' %}" class="theme-btn">Checkout Now<i
                                        class="fas fa-arrow-right-long"></i></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop checkout end -->


{% endblock %}