{% extends "base.html" %}
{% load static %}
{% load currency_filters %} 

{% block title %} {{ title }} {% endblock %}

{% block content %}



<!-- shop checkout complete -->
<div id="checkout-complete" class="shop-checkout-complete py-120">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div class="checkout-complete-content">
                    <div class="checkout-complete-icon"><i class="far fa-check"></i></div>
                    <h3>THANK YOU {{ order.shipping_address.first_name|upper }}! YOUR ORDER HAS BEEN RECEIVED.</h3>
                    <h5>For any concern, please feel free to contact us at +639565885998.</h5>
                    
                    {% if not user.is_authenticated %}
                        <div class="card mt-20 offset-3 col-6 text-left">
                            <div class="card-body">
                                <h4 class="card-title">Please save your login details to track your order.</h4>
                                <h6>Username: {{ username }}</h6>
                                <h6>Password: {{ password }}</h6>
                                <h6>Affiliate Link: http://www.twconline.store/{{ referrer }}</h6>
                                <h6>Email: {{ email }}</h6>
                            </div>
                        </div> 
                    {% endif %}
                    {% for order, items in ordered_items.items %}
                    <table class="table">
                        <thead>
                            <tr style="text-align: left;">
                                <th colspan="4"><h4>Order Number: {{ order.order_id }}</h4></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="table-active" style="text-align: left;">
                                <th scope="col-6">Image</th>
                                <th scope="col-6">Product</th>
                                <th scope="col-2">QTY</th>
                                <th scope="col-4">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr style="text-align: left;">
                                <td style="width: 20%;">
                                    <div class="shop-cart-img">
                                        <a href="#">
                                            {% if item.product.image_1 %}
                                                {% if item.product.image_1.url %}
                                                    <img src="{{ item.product.image_1.url }}" alt="{{ item.product.name }}">
                                                {% else %}
                                                    <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'img/product/default-product-image.png' %}" alt="{{ item.product.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                </td>
                                <td style="width: 50%;">{{ item.product.name }}</td>
                                <td style="width: 10%;">{{ item.quantity }}</td>
                                <td style="width: 20%">₱{{ item.get_total }}</td>
                            </tr>
                            {% endfor %}
                            <tr style="text-align: left;">
                                <th colspan="3">Shipping</th>
                                <th>{{ order.shipping_fee|currency }}</th>
                            
                            </tr>
                            {% if order.discount %}
                            <tr style="text-align: left;">
                                <th colspan="3">Discount</th>
                                <th>({{ order.discount|currency }})</th>
                            </tr>
                            {% endif %}
                            <tr class="table-active" style="text-align: left;">
                                <th colspan="2">Total:</th>
                                <th>{{ order.total_quantity }}</th>
                                <th>{{ order.cod_amount|currency }}</th>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                    <div class="row order-detail">
                        <div class="col-lg-2 col-md-4 sm-order-details">
                            <h5>ORDER NUMBER(S):</h5>
                            {% for order in orders %}
                            <h5>{{ order.order_id }}</h5>
                            {% endfor %}
                        </div>
                        <div class="col-lg-2 col-md-4 sm-order-details">
                            <h5>DATE:</h5>
                            <h5>{{orders.0.created_at|date:"Y-m-d"}}</h5>
                        </div>
                        <div class="col-lg-3 col-md-4 sm-order-details">
                            <h5>MOBILE:</h5>
                            <h5>{{orders.0.shipping_address.phone}}</h5>
                        </div>
                        <div class="col-lg-2 col-md-6 sm-order-details">
                            <h5>PAYMENT METHOD:</h5>
                            <h5>Cash On Delivery</h5>
                        </div>
                        <div class="col-lg-3 col-md-6 sm-order-details">
                            <h5>TOTAL:</h5>
                            <h5>{{ total_payment|currency }}</h5>
                        </div>
                    </div>
                    <div class="row order-detail">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="card" style="width: 35rem;">
                                <div class="card-body">
                                    <h5 class="card-title">DELIVERY ADDRESS</h5>
                                    <p class="card-text">
                                        {{ orders.0.shipping_address.line1 }}
                                        {% if orders.0.shipping_address.line2 %}
                                            {{ orders.0.shipping_address.line2 }}
                                        {%endif %}                                 
                                    </p>
                                    <p>
                                        Brgy. {{ orders.0.shipping_address.barangay }}, {{ orders.0.shipping_address.city }}, {{ orders.0.shipping_address.province }}, {{ orders.0.shipping_address.region }}, {{ orders.0.shipping_address.postcode }}   
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center sm-delivery">
                            <div class="card" style="width: 35rem;">
                                <div class="card-body">
                                    <h5 class="card-title">ESTIMATED DELIVERY</h5>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span>NCR: 2-3 Days</span><br>
                                            <span>Luzon: 3-5 Days</span>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>Visayas: 5-7 Days</span><br>
                                            <span>Mindanao: 7-10 Days</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{{ DASHBOARD_URL }}/order/order-detail/?order_id={{ orders.0.order_id }}" class="view-order theme-btn mt-50" 
                        data-first-order-id="{{ orders.0.order_id }}">View Order<i
                            class="fas fa-arrow-right"></i></a>
                    {% else %}
                    <a href="{% url 'shop:shop' %}" class="theme-btn mt-50">Go Back Shopping
                        <i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(".view-order").click(function() {
        var orderId = $(this).data("first-order-id");
        console.log("Clicked View Order button. Order ID:", orderId);
        
        $.ajax({
            type: "POST",
            url: '{% url "cart:set_order_id_session_variable" %}',
            data: {
                order_id: orderId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                console.log("Session variable set successfully.");
            },
            error: function(xhr, errmsg, err) {
                console.error("Error setting session variable:", err);
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
    $('.password-toggle').on('click', function(e) {
        e.preventDefault();
        var passwordSpan = $(this).prev('.password-hidden');
        var password = passwordSpan.data('password');
        var passwordType = passwordSpan.hasClass('password-visible') ? 'password' : 'text';
        passwordSpan.text(passwordType === 'password' ? '********' : password).toggleClass('password-visible');
        $(this).html(passwordType === 'password' ? '<u>show</u>' : '<u>hide</u>');
    });
});
</script>
{% endblock %}