{% extends 'funnels/products/boost_coffee/base.html' %}
{% load static %}
{% load humanize %}

{% block head_title %} Thank You {% endblock %}

{% block fb_pixel_event %}
    <script>
        fbq('track', 'Purchase',{
                content_category: "Sante Barley",
                content_name: "Boost Coffee",
                content_type: "product",
                currency: "PHP",
                value: "{{ profit }}",
            });
    </script>
{% endblock %}

{% block custom_css %}
    <link href="{% static 'funnel/products/custom_css/thank_you.min.css' %}" rel="stylesheet">
{% endblock %}

{% block mc_pixel_event %}
    onload="window.MC_PIXEL.fireLogConversionEvent('Boost Coffee - Thank You Page')"
{% endblock %}

{% block css %}
<style>
        body {
            margin: 0 !important;
            padding: 0 !important;
            background-color: #eeeeee;
        }
</style>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <section class="banner">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
        </section>
        <section class="order">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4">
                       <div class="row">
                           <div class="col-4 ps-5">
                               <h1>01</h1>
                           </div>
                           <div class="col-8">
                               <p>SELECT PROMO</p>
                               <span>Manage your items list.</span>
                           </div>
                       </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                       <div class="row">
                           <div class="col-4">
                               <h1>02</h1>
                           </div>
                           <div class="col-8">
                               <p>CHECKOUT DETAILS</p>
                               <span>Billing details & Payment.</span>
                           </div>
                       </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                       <div class="row">
                           <div class="col-4">
                               <h1>03</h1>
                           </div>
                           <div class="col-8">
                               <p>ORDER RECEIVED</p>
                               <span>We have got your order.</span>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="details">
            <div class="container">
                <div class="row">
                    <h1>THANK YOU! YOUR ORDER HAS BEEN RECEIVED.</h1>
                    <p style="margin-bottom: 60px">For any concern, please feel free to contact us at {{ owner_mobile }}.</p>
                </div>
                <div class="row row-two order-summary">
                    <table class="table table-bordered">
                        <thead style="background-color: #ccc">
                            <tr>
                                <th scope="col" width="50%">Product</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if product == "boost-coffee" %}
                                {% if promo == "promo1" %}
                                    <tr>
                                        <td>
                                            PROMO 1: x2 Boxes of Boost Coffee
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% elif promo == "promo2" %}
                                    <tr>
                                        <td>
                                            PROMO 2: x3 Boxes of Boost Coffee <br/> with FREE Watch and Water Bottle
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            PROMO 3: x4 Boxes of Boost Coffee with <br/> FREE Electric Stirrer, Watch and Water Bottle
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% elif product == "fusion-coffee" %}
                                {% if promo == "promo1" %}
                                    <tr>
                                        <td>
                                            PROMO 1: x2 Boxes of Fusion Coffee
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% elif promo == "promo2" %}
                                    <tr>
                                        <td>
                                            PROMO 2: x3 Boxes of Fusion Coffee <br/> with FREE Watch and Water Bottle
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            PROMO 3: x4 Boxes of Fusion Coffee <br/> with FREE Electric Stirrer, Watch and Water Bottle
                                        </td>
                                        <td>
                                            ₱{{ order_total|intcomma }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% elif product == "barley" %}
                                {% if promo == "promo1" %}
                                    <tr>
                                        <td>PROMO 1: x60 Capsules Pure Barley</td>
                                        <td>₱{{ order_total|intcomma }}</td>
                                    </tr>
                                {% elif promo == "promo2" %}
                                    <tr>
                                        <td>PROMO 2: x15 Sachet Pure Barley <br/> with FREE Electric Stirrer</td>
                                        <td>₱{{ order_total|intcomma }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>PROMO 3: x30 Sachet of Pure Barley <br/> with Free Water Bottle and Watch</td>
                                        <td>₱{{ order_total|intcomma }}</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            <tr>
                                <td>Shipping + Handling</td>
                                <td>₱0.00</td>
                            </tr>
                        </tbody>
                        <tfoot style="background-color: #ccc">
                            <tr>
                                <td>Total:</td>
                                <td>&#8369; {{ order_total }}</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-md-2 verticalLine1 verticalLine2">
                        <p>ORDER NUMBER:</p>
                        <p>{{ order_number }}</p>
                    </div>
                    <div class="col-xl-2 col-md-2 verticalLine1 verticalLine2">
                        <p>DATE:</p>
                        <p>{{ order_date|date:"Y/m/d"}}</p>
                    </div>
                    <div class="col-xl-3 col-md-3 verticalLine1 verticalLine2">
                        <p>MOBILE:</p>
                        <p>{{ order_mobile }}</p>
                    </div>
                    <div class="col-xl-2 col-md-2 verticalLine1 verticalLine2">
                        <p>TOTAL:</p>
                        <p>&#8369;{{ order_total|intcomma }}</p>
                    </div>
                    <div class="col-xl-3 col-md-3">
                        <p>PAYMENT METHOD:</p>
                        <p>Cash On Delivery</p>
                    </div>
                </div>
                <div class="row row-two delivery" style="margin-top: 30px;">
                    <div class="boxed" style="flex: 1;">
                       <h1 style="margin-top: 0">DELIVERY ADDRESS</h1>
                       <p style="padding-right: 30px">{{ customer.get_address_checkout }}</p>
                    </div>
                    <div class="boxed" style="flex: 1">
                        <h1 style="margin-top: 0">ESTIMATED DELIVERY</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0">NCR: 2-3 Days</p>
                                <p class="mb-0">Luzon: 3-5 Days</p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0">Visayas: 5-7 Days</p>
                                <p class="mb-0">Mindanao: 3-7 Days</p>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}